@charset "utf-8";

/* 
  webfont style import
*/
@import url("webfont/notokr/notosans.css");
@import url("webfont/century/century.css");

/* 
  icon font style import
*/
@import url("webfont/icon/linearicons.css");
@import url("webfont/icon/font-awesome.min.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

/* common */
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
html { font-size:62.5%;}
body, input, button, select, textarea { font-size:1.3rem; color:#222; font-family: HelveticaNeue-Light,AppleSDGothicNeo-Light, Noto Sans DemiLight, sans-serif;}
img {/* max-width:100%;*/ vertical-align:top;}

.en_gothic {
  font-family: 'gothic' !important;
}

.bl_none { border-left:0 !important;}
.br_none { border-right:0 !important;}
.group:after { content:""; display:block; clear:both; height:0; visibility:hidden;}
.hidden { overflow:hidden; position:absolute; width:0; height:0; text-indent:-9999px;}
.none { display:none !important;}
.inlineB { display:inline-block !important;}
.block { display:block !important;}

.rotate_r {display:inline-block;letter-spacing:2px;font-size:1.1rem;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform-origin: right top;-moz-transform-origin: right top;-ms-transform-origin: right top;-o-transform-origin: right top;}

.bold {font-family:AppleSDGothicNeo-medium, Noto Sans Medium, sans-serif;}
span.br:after {display:table; width: 100%; clear: both; content:"";}


.pt10 {padding-top:1rem!important;}
.pt15 {padding-top:1.5rem!important;}
.pt20 {padding-top:2rem!important;}
.pt25 {padding-top:2.5rem!important;}
.pt30 {padding-top:3rem!important;}
.pt35 {padding-top:3.5rem!important;}

.pd0 {padding: 0 !important;}
.pb0 {padding-bottom: 0 !important;}
.pb10 {padding-bottom:1rem!important;}
.pb15 {padding-bottom:1.5rem!important;}
.pb25 {padding-bottom:2.5rem!important;}
.pb30 {padding-bottom:3rem!important;}
.pb35 {padding-bottom:3.5rem!important;}
.pb55 {padding-bottom:5.5rem!important;}


.mt15 {margin-top:1.5rem!important;}
.mt25 {margin-top:2.5rem!important;}
.mt30 {margin-top:3rem!important;}
.mt35 {margin-top:3.5rem!important;}

.mg0 {margin:0!important;}
.mb0 {margin-bottom:0!important;}
.mb25 {margin-bottom:2.5rem!important;}
.mb35 {margin-bottom:3.5rem!important;}
.mb50 {margin-bottom:5rem!important;}

.ph20 { padding-top:2rem !important; padding-bottom:2rem !important;}
.ph35 { padding-top:3.5rem !important; padding-bottom:3.5rem !important;}
.ph50 { padding-top:5rem !important; padding-bottom:5rem !important;}

.pw20 {padding-left:2rem!important; padding-right:2rem!important;}

/* FONT */
.fsm {font-family:'Nanum Myeongjo'!important;}

/* Text align */
.al { text-align:left !important;}
.ar { text-align:right !important;}
.ac { text-align:center !important;}

/* Text Color */
.txt-color-white {color:#fff!important;}
.txt-color-yellow {color:#f5ed07!important;}
.txt-color-ltgray { color:#777 !important;}
.txt-color-dgray {color:#222!important;}
.txt-color-navy {color:#0c4170!important;}
.txt-color-black {color:#000!important;}
.txt-color-blue {color:#107bbd!important;}

/* bg Color */
.bg-blue {background:#107bbd!important;color:#fff!important;}
.bg-lblue {background:#00b1f0!important;color:#fff!important;}
.bg-navy {background:#063c6d!important;color:#fff!important;}
.bg-white {background:#fff!important;color:#063c6d!important;border:1px solid #063c6d;}
.bg-blueline {background:#fff!important;color:#107bbd!important;border:1px solid #107bbd;}
.bg-navyline {background:#fff!important;color:#063c6d!important;border:1px solid #063c6d;}
.bg-whgrey {background:#f5f5f5!important;}
.bg-aqua {background:#01b4bb!important;color:#fff!important;}

.after-bg-green:after {background:#00833d!important;}
.after-bg-lbule:after {background:#17aee5!important;}
.after-bg-bule:after {background:#107aba!important;}
.after-bg-navy:after {background:#063b6b!important;}
.after-bg-aqua:after {background:#01b0b7!important;}



/*
  label box Guide
*/
.box-green {background: #0e9b50 !important; color:#fff !important;}
.box-blue {background: #063c6d !important; color:#fff !important;}
.box-brblue {background: #18b4ed !important; color:#fff !important;}
.box-ltblue {background: #557af5 !important; color:#fff !important;}
.box-skyblue {background: #107bbd !important; color:#fff !important;}
.box-aqua {background: #01b3bb !important; color:#fff !important;}
.box-green {background: #7bbc3e !important; color:#fff !important;}
.box-violet {background: #6c64db !important; color:#fff !important;}
.box-cyan {background: #00b1f0 !important; color:#fff !important;}
.box-drcyan {background: #028ec9 !important; color:#fff !important;}
.box-navy {background: #282d41 !important; color:#fff !important;}
.box-navy2{background: #053868  !important; color:#fff !important;}
.box-drnavy {background: #07243e !important; color:#fff !important;}
.box-white {background: #fff !important; border:1px solid #063c6d; color:#063c6d !important;}
.box-grey {background: #777777 !important; color:#fff !important;}



/*
  label box color Guide
*/
.box-greenC {background: #0e9b50 !important; color:#0e9b50 !important;}
.box-blueC {background: #063c6d !important; color:#063c6d !important;}
.box-blue2C {background: #1187cf !important; color:#1187cf !important;}
.box-brblueC {background: #18b4ed !important; color:#18b4ed !important;}
.box-ltblueC {background: #557af5 !important; color:#557af5 !important;}
.box-skyblueC {background: #107bbd !important; color:#107bbd !important;}
.box-skyblue2C {background: #56c4ea !important; color:#56c4ea !important;}
.box-aquaC {background: #01b3bb !important; color:#01b3bb !important;}
.box-draquaC {background: #01acb2 !important; color:#01acb2 !important;}
.box-greenC {background: #7bbc3e !important; color:#7bbc3e !important;}
.box-violetC {background: #6c64db !important; color:#6c64db !important;}
.box-cyanC {background: #00b1f0 !important; color:#00b1f0 !important;}
.box-drcyanC {background: #028ec9 !important; color:#028ec9 !important;}
.box-navyC {background: #045d91 !important; color:#045d91 !important;}
.box-navy2C {background: #053868 !important; color:#053868 !important;}
.box-drnavyC {background: #07243e !important; color:#07243e !important;}
.box-drnavy2C {background: #0c4170 !important; color:#0c4170 !important;}
.box-grblueC {background: #83c6de !important; color:#83c6de !important;}


/* common */
/*.img {width:100%;max-width:580px;margin:0 auto;text-align:center;}*/
.img img {width: 100%;}
.text {font-size:1.3rem;line-height:1.5;color:#777;}

/* button */
.btn_box {padding:2.5rem 0;}
.btn {display:inline-block;cursor:pointer;white-space:nowrap;touch-action:manipulation;font-size:1.2rem;color:#272727;}

.btn_type_border {padding:1.4rem 9%;background:#fff;text-align:center;border:1px solid #063c6d;}
.btn_type_border:before {display:inline-block;content:'';width:2.6rem;height:0.2rem;background:#557af5;margin-right:1rem;vertical-align:middle;}

.btn_arrow span {text-indent:-9999px;font-size:0;}
.btn_arrow:before {display:inline-block;content:'';width:1.9rem;height:0.1rem;background:#fff;vertical-align:middle;margin-right:0.5rem;}
.btn_arrow:after {display:inline-block;content:'';border:0.4rem solid #fff;border-top-color:transparent;border-right-color:transparent;border-bottom-color:transparent;vertical-align:middle;}

.btn_full_navy {padding:1.4rem 9%;background:#063c6d;color:#fff;text-align:center;}

.btn_application {position:relative;display:block;width:80%;margin:0 auto;padding:1.4rem 9%;background:#063c6d;color:#fff;text-align:center;}
.btn_application:before {display:inline-block;content:'';position:absolute;top:50%;left:50%;margin-top:-1.5rem;margin-left:-6rem;width:3rem;height:3rem;background-repeat:no-repeat;background-position:50% 0;background-size:contain;background-image:url("../img/common/ico_download.png");}
.btn_application .txt {display:inline-block;padding-left:3rem;}



/* border */
.bd {border:1px solid #dedede;}

/* col */
ul.col-3 li {width:33.3333333%!important;}
ul li.w50 {width:50%!important;}


/*
  bg Color Guide
*/
.bg_cyan {background: #01b3bb !important;}
.bg_blue {background: #2d5cbc !important;} 
.bg_join_blue {background: #2752be !important;}
.bg_lt_blue {background: #557af5 !important;}
.bg_whgrey {background: #f5f5f5 !important;}
.bg_white {background:#fff !important;}
.bg_whgrey2 {background: #eee !important;}
.bg_naver {background: #01c73c !important;}
.bg_facebook {background: #3f67af !important;}
.bg_cacao {background: #ffdf00 !important;}
.bg_navy {background: #282d41 !important;}



/* 
  Text Style option 
*/
.txt-cnt {text-align:center !important;}
.txt-left {text-align:left !important;}
.txt-right {text-align:right !important;}


/* placeholder */
.placeholder {position: relative; z-index: 1; overflow: hidden; display: inline-block;}
.placeholder label {white-space: nowrap; color: #000; font-style: normal; cursor: text; position: absolute; left: 0; top: 0; z-index: 2; color:#bcbcbc;}
.placeholder textarea, .placeholder input {position: relative; z-index: 1;}
.placeholder textarea.focus, .placeholder input.focus {z-index: 3;}

/* 
  select 
*/
.select-wrapper {position: relative; display: inline-block; padding-right: 4rem;}

select {
  border: none;
  height: 3.6rem;
  vertical-align: middle;       
  font-size: 1.6rem;
  font-family: 'Noto Sans DemiLight';
  color: #777;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;   
  position:relative;
  vertical-align: top;
  width: auto;
  color: #222;
  margin-right: -20px;
  padding-right: 20px;
  padding-left: 20px;
  background: #fff;
}

.select-wrapper:before {
  content: "\f0d7";
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 20px;
  top: 10px;
  pointer-events: none;
  display: inline-block;
  z-index: 1;
  font-size: 1.6rem;
  color: #222;
}


/*
  Radio & Checkbox
*/

input[type=checkbox].checkbox,
input[type=radio].radio {
  opacity:0;
  position:absolute;
  z-index:12;
  width:24px;
  height:24px;
  cursor:pointer;
  margin:0;
  padding:0;
}
input[type=checkbox].checkbox:checked,
input[type=checkbox].checkbox:focus,
input[type=radio].radio:checked,
input[type=radio].radio:focus {
  outline:none !important;
}
input[type=checkbox].checkbox+.label,
input[type=radio].radio+.label {
  position:relative;
  z-index:11;
  display:inline-block;
  margin:0 2px 0 0;
  font-weight:normal;
  vertical-align: top;
}
input[type=checkbox].checkbox+.label::before {
  font-family:fontAwesome;
  font-weight:normal;
  font-size:17px;
  color:#fff;  
  background-color:#fff;
  border:1px solid #cfcfcf; 
  border-radius:0;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  height:22px;
  min-width:22px;
  margin-right:1px;
  content: '\f00c';
  line-height: 22px;
}
input[type=radio].radio+.label::before {  
  border:1px solid #dbdbdb; 
  border-radius:0;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  height:22px;
  min-width:22px;
  margin-right:1px; 
  line-height: 22px;
  content: '';
}
input[type=radio].radio+.label::before {  
  line-height: 14px;
}
input[type=checkbox].checkbox:checked+.label:before {
  display:inline-block;
  content:"\f00c";
  border:1px solid #2752be; 
  background-color:#2d5cbc;
  color: #fff;
}
input[type=radio].radio:checked+.label:before {
  display:inline-block;
  content: '●';
  border:1px solid #282d41; 
  background-color:#fff;
  color: #282d41;  
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 1px;
}

input[type=checkbox].checkbox:hover+.label::before,
input[type=checkbox].checkbox+.label:hover::before,
input[type=radio].radio:hover+.label::before,
input[type=radio].radio+.label:hover::before {
  border-color:#282d41;
}
input[type=checkbox].checkbox:active+.label::before,
input[type=checkbox].checkbox:checked:active+.label::before,
input[type=radio].radio:active+.label::before,
input[type=radio].radio:checked:active+.label::before {
  box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}
input[type=checkbox].checkbox:disabled+.label::before,
input[type=checkbox].checkbox[disabled]+.label::before,
input[type=checkbox].checkbox.disabled+.label::before,
input[type=radio].radio:disabled+.label::before,
input[type=radio].radio[disabled]+.label::before,
input[type=radio].radio.disabled+.label::before{
  background-color:#f0f0f0 !important;
  border-color:#c9c9c9 !important;
  box-shadow:none !important;
  color:#bbb;
}
input[type=radio].radio+.label::before {
  border-radius:100%;
  /*font-size:12px;
  line-height:17px;
  height:17px;
  min-width:17px;*/
}

input[type=checkbox].checkbox.switch {
  width:60px;
  height:30px;
}
input[type=checkbox].checkbox.switch+.label {
  margin:0 4px;
  min-height:30px;
}
input[type=checkbox].checkbox.switch+.label::before {
  content:"ON\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  float:left;
  overflow:hidden;
  box-sizing:border-box;
  margin-right:0px;
  padding:0px;
  width:60px;
  height:30px;
  line-height:28px; 
  background-color:#889fae;
  border:1px solid #6d899c;
  border-radius:2px;
  box-shadow:none;
  color:#fff;
  font-family:Arial, Helvertica, sans-serif;
  font-size:11px;
  font-weight:bold;
  text-align:left;
  text-indent:-30px;
  transition:all 0.4s ease;
}
input[type=checkbox].checkbox.switch+.label::after {
  content:"??????";
  position:absolute;
  top:0px;
  left:0px;
  box-sizing:border-box;  
  padding:4px 0px 0px;
  width:30px;
  height:30px;
  background: #f7f7f7; 
  background: linear-gradient(to bottom,  #f7f7f7 0%,#e5e5e5 100%); 
  border-top:1px solid #e4e4e4;
  border-right:none;
  border-bottom:1px solid #c3c3c3;
  border-left:1px solid #cecece;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-top-left-radius:2px;
  border-bottom-left-radius:2px;  
  color:#5b6a73;
  font-family:Arial, Helvertica, sans-serif;
  font-size:12px;
  font-weight:lighter;
  line-height:18px;
  text-align:center;
  text-shadow:-1px 0 0 rgba(0,0,0,0.2);
  transition:all 0.4s ease;
}
input[type=checkbox].checkbox.switch:checked+.label::before {
  text-indent:5px;
  background-color:#5791d7;
  border-color:#4b79ad;
}
input[type=checkbox].checkbox.switch:checked+.label::after {
  left:32px;
  border-right:1px solid #cecece;
  border-left:none;
  boder-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
}
input.checkbox.readonly[type="checkbox"] + .label:before,
input.radio.readonly[type="radio"] + .label:before {
  background:#e1e1e1;
}
input[type="text"], input[type="password"] {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 36px\9;
    font-family: inherit;
    font-size: 16px;
}
input[type="text"], input[type="password"], input[type="tel"] {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 36px\9;
    font-family: inherit;
    font-size: 1.4rem;
}


/* 
  pagination 
*/
.pagination { 
  clear:both;      
  font-family:HelveticaNeue-Light, tahoma, sans-serif,arial;
  text-align:center;      
  font-weight:400;
  padding: 3rem 0;
}
.pagination ul {display: inline-block;}
.pagination ul li { display: inline-block; padding: 0 2px;}
.pagination a {  
  border:#cfcfcf 1px solid;
  width:2.5rem;
  height:2.6rem;
  line-height:2.5rem;
  color:#8d8d8d;
  font-size:1.1rem;
  text-align:center; 
  padding:0 !important; 
  background:#fff;       
  float: left;
}
.pagination strong { 
  font-size:1.1rem;
  font-weight: normal;
  width:2.5rem; 
  height:2.6rem;
  line-height:2.5rem; 
  padding:0;
  background:#fff;        
  margin-left: -1px;
  float: left;
  position: relative;
  text-align: center;
  border:#cfcfcf 1px solid;
  color: #8d8d8d;
}
.pagination strong:before {
  content: "";
  height:0.2rem;
  left: -1px;
  bottom: -1px;
  right:-1px;
  width:2.5rem;    
  position: absolute;    
  background: #2d5cbc;
  z-index: 21;
}
.pagination a.pagbtn {background-color: #fff; font-size: 0; color: transparent;}
.pagination a.prev {}
.pagination a.next {}
.pagination a.prev:before{font-family: 'FontAwesome'; content: "\f104"; font-size:1.1rem; color: #888; margin-left: -2px; line-height: 2.5rem;}
.pagination a.first:before{font-family: 'FontAwesome'; content: "\f100"; font-size:1.1rem; color: #888; line-height: 2.5rem;}
.pagination a.next:before{font-family: 'FontAwesome'; content: "\f105"; font-size:1.1rem; color: #888; margin-left:1px; line-height: 2.5rem;}
.pagination a.last:before{font-family: 'FontAwesome'; content: "\f101"; font-size:1.1rem; color: #888; line-height: 2.5rem;}


#mask {z-index:999;position:fixed;top:0;left:0;right:0;bottom:0;background:black;filter:Alpha(opacity=30);opacity:0.6;-moz-opacity:0.3;display:none;}

#emailReject {bottom:10%;}
#bizView {top:10%;}

@media screen and (max-width:374px){
  .br {display:inline-block!important;}
}