@charset "utf-8";

strong {font-weight: normal;}

.require {display: inline-block; color:#2d5cbc;}

/* icon */
.ico { position: relative; display: inline-block;}
.ico::before {   
    content: "";
    display: block;
    background-image:url(../img/icon.png);
    -webkit-background-size: 400px 400px;   
    background-size: 400px 400px;    
    font-size: 0;
}
.ico_lnb_home::before {width: 16px; height: 19px; background-position: 0 0;}
.ico_lnb_danzi::before {width: 17px; height: 15px; background-position: -19px 0; top:2px;}
.ico_lnb_floor::before {width: 17px; height: 19px; background-position: -40px 0;}
.ico_lnb_time::before {width: 17px; height: 17px; background-position: -60px 0;}
.ico_lnb_parking::before {width: 17px; height: 17px; background-position: -79px 0;}
.ico_lnb_location::before {width: 13px; height: 20px; background-position: -98px 0;}

.ico.ico-food:before {
  width:23px;
  height: 23px;
  background-position: -127px 0;
}
.ico.ico-cafe:before {
  width:23px;
  height: 23px;
  background-position: -150px 0;
}
.ico.ico-life:before {
  width:23px;
  height: 23px;
  background-position: -173px 0;
}
.ico.ico-service:before {
  width:23px;
  height: 23px;
  background-position: -196px 0;
}
.ico.ico-beauty:before {
  width:23px;
  height: 23px;
  background-position: -219px 0;
}
.ico.ico-fashion:before {
  width:23px;
  height: 23px;
  background-position: -242px 0;
}
.ico.ico-miscellaneous:before {
  width:23px;
  height: 23px;
  background-position: -265px 0;
}
.ico.ico-parking:before {
  width:23px;
  height: 23px;
  background-position: -288px 0;
}

.ico_result_no:before {
  width:87px;
  height: 87px;
  background-position: 0 -28px;
}

.ico_join_cacao:before {
  width:14px;
  height: 14px;
  background-position: -150px -28px;
}
.ico_join_face:before {
  width:7px;
  height: 14px;
  background-position: -166px -28px;
}
.ico_join_naver:before {
  width:12px;
  height: 12px;
  background-position: -177px -28px;
}


/* 
  Button Style 
*/
.btn_round_nm {
  border:1px solid #282d41;
  background: transparent;
  color: #222;
  display: inline-block;
  font-size: 1.3rem;
  padding: .5rem 1.6rem;
  border-radius: 1.6rem;
  line-height: 1.7;
}
.btn_round_nmbg {
  border:1px solid #2d5cbc;
  background:#2d5cbc;
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  padding: .5rem 1.6rem;
  border-radius: 1.6rem;
  line-height: 1.7;
}

.btn_round_blue {
  border:1px solid #2d5cbc;
  background: #fff;
  color: #2d5cbc;
  display: inline-block;
  font-size: 1.3rem;
  padding: .5rem 1.6rem;
  border-radius: 1.6rem;
  line-height: 1.7;
}

.btn_round_blue_bg {
  border:1px solid #2d5cbc;
  background: #2d5cbc;
  color: #fff !important;
  display: inline-block;
  font-size: 1.3rem;
  padding: .6rem 1.7rem;
  border-radius: 1.8rem;
  line-height: 1.7;
}
.btn_round_navy_bg {
  border:1px solid #282d41;
  background: #282d41;
  color: #fff !important;
  display: inline-block;
  font-size: 1.3rem;
  padding: .6rem 1.7rem;
  border-radius: 1.8rem;
  line-height: 1.7;
}


/* layout */
body { -webkit-text-size-adjust:none; word-break:keep-all; word-wrap:break-word;}
#wrap { position:relative; min-width:320px; max-width: 640px; margin:0 auto;}

/* header */
#header {z-index:1000; height:5.5rem; background:#fff; text-align: center;}
#header a.gnb_open { position:absolute; top:0; left:0;}
#header h1 { display: inline-block;}
#header h1 a img {height:5.5rem;}
#header .search_open {
    display: block;    
    width: 5.5rem;
    height: 5.5rem;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;    
}
#header .search_open::before {
    content: "\e86f";
    position: absolute;
    white-space: nowrap;
    font-family: Linearicons-Free;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    speak: none;    
    font-size: 2.5rem;
    color: #222;
    right: 1.5rem;
    top: 1.5rem;
}
#header .gnb_open {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 5.5rem;
    height: 5.5rem;
    border: 0;
}

#header .gnb_open em { display:block; position:absolute; left:25%; height:0.1rem; background:#343434;}
#header .gnb_open .line1 { top:33%; width:2.5rem;}
#header .gnb_open .line2 { top:47%; width:2.5rem;}
#header .gnb_open .line3 { top:62%; width:2.5rem;}


#mask { display:none; position:absolute; top:0; left:0; z-index:200; width:100%; min-width:320px; height:100%; background-color:#000; opacity:0.5;}

/* gnb */
.gnb_mask { display:none; position:absolute; top:0; left:0; z-index:200; width:100%; min-width:320px; height:100%; background-color:#000; opacity:0.5;}
#gnb { display:none; position:absolute; top:0; left:-70%; z-index:300; width:70%; height:100%;}
#gnb .gnb_close {
   display:block;
   width: 100%;
   background: #f7f7f7;
   text-align:right;
   overflow:hidden;
   height:6rem; 
   border-bottom: 1px solid #d7d7d7;
}
#gnb .gnb_close a.gnb_close {display:inline-block; width:5rem; height:6rem; color:#4a4a4a; position:relative;}
#gnb .gnb_close a.gnb_close:before { content:"\e870"; display:block; font-family:'Linearicons-Free'; font-size:3rem; position:absolute; left:5px; top:15px;}
#gnb .gnb_close .lnb_login { position: absolute; left: 15px; top: 11px;}
#gnb .gnb_close .lnb_login a {
    border: 1px solid #ccc;
    background:#fff;
    color: #343434;
    display: inline-block;
    font-size: 1.2rem;
    padding: .8rem 2rem;
    border-radius: 2rem;
}
#gnb .gnb_close .lnb_login a.lnb_login_btn {background: #1946ba; border:1px solid #1946ba; color: #fff;}

#gnb .depth0 { overflow-y:auto; overflow-x:hidden; background: #f7f7f7;}
#gnb .depth0 > li { border-bottom:1px solid #cccccc;}
#gnb .depth0 > li:first-child {border-top:1px solid #cccccc;}
#gnb .depth0 > li > a {
    display:block;
    position:relative;
    padding:13px 20px;
    color:#111;
    font-size:1.5rem;
}
#gnb .depth0 > li > a:after { 
  content:"\e874"; 
  position:absolute; 
  top:50%; 
  right:9%; 
  margin-top:-8px; 
  font-family:'Linearicons-Free'; 
  font-size:16px; 
  line-height:15px; 
  color:#111;
  transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#gnb .depth0 > li.on > a:after {transform: rotate(180deg); color: #fff;}
#gnb .depth0 > li > a strong {font-weight:normal; display:inline-block; position:relative; padding-bottom:3px;}
#gnb .depth0 > li.on > a {background: #1946ba; color: #fff;}
#gnb .depth0 > li.on > a strong {color:#fff;}
#gnb .depth0 > li.on > a strong::before {
    content:"";
    width:100%;
    height:1px;
    position:absolute;
    left:0;
    bottom:-3px;
    background:#fff;
}

#gnb .depth1 { display:none; padding:13px 0; border-top:1px solid #ccc; background-color:#fff;}
#gnb .depth1 > li > a { display:block; padding:2.5% 10% 2%; color:#666; font-size:14px;}

#gnb .gnb_quick {background: #fff; padding: 0.5rem 0;}
#gnb .gnb_quick ul {overflow: hidden;}
#gnb .gnb_quick li {float: left; width: 33.3333%; padding: 1.5rem 0;}
#gnb .gnb_quick li a::before {
    content:"";
    width:1px;
    height:100%;
    position:absolute;
    left:0;
    background:#d7d7d7;
}
#gnb .gnb_quick li:nth-child(3n+1) a::before { display: none;}
#gnb .gnb_quick li a {position: relative; display: block; width: 100%; text-align: center; color: #3f3f3f;}
#gnb .gnb_quick li dl {}
#gnb .gnb_quick li dl dt {}
#gnb .gnb_quick li dl dt i {height: 20px; width: 17px;}
#gnb .gnb_quick li dl dd {}

#gnb .depth1.no_child { display:none; overflow:hidden; width:0 !important; height:0 !important; padding:0; border-top:0;}

 #container {position: relative;}
 #container::before {    
    position:absolute; 
    top:0; 
    left:0; 
    z-index:100; 
    width:100%; 
    height:100%; 
    background-color:#000; 
   opacity:0;
   transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
 }
 #container.mask::before {  
    content: "";  
    opacity:0.5;
 }

.bg_grey {background: #eeeeee !important;}

  #container img {width: 100%;}
  #container .prev_title {background: #282d41; display: table; width: 100%;}
  #container .prev_title a {float: left; padding: 1rem; display: block; color: #fff; margin-top: 12px;}
  #container .prev_title h2 {text-align: center; color: #fff; font-size:1.6rem; padding: 2rem 0; padding-right: 34px;}

  #container .sub_title {position:relative; padding: 3rem 0 3.5rem; border-top: 1px solid #d7d7d7;}
  #container .sub_title h2 {width:100%; text-align:center; color:#222; font-size:3.2rem;}
  #container .sub_title .en_summary {font-family: 'gothic'; text-transform: uppercase; text-align: center;  color:#777; padding-top: 5px; letter-spacing: 3px; font-size: 1.3rem;}


  .layout_body {padding-bottom: 3rem;}
  .layout_body .page_bg_white {background:#fff;}
  .layout_body .page_bg_grey {background:#f5f5f5;}
  .layout_body .page_sec {padding:10% 0;}
  .layout_body .sub_contents {padding:0 1.5rem;}
  .layout_body .ly_container {padding:0 1.5rem;}
  .layout_body .ly_container.full_box {}

  .down_btns {padding:2rem 0 0; text-align:center;}
  .down_btns a {display:inline-block; margin:0 3px;}
  .down_btns.brand_btn a {width:131px;}
  .down_btns.bi_btn a {width:116px;}
  .down_btns a img {width:100%;}

/* footer */
footer { clear:both; position:relative; z-index:90; background:#3d3d3e; padding:3.5rem 1.5rem 2rem; color:#aaa; font-size:1.2rem; text-align:center;}
footer #go_top { position:absolute; top:-2rem; right:4.7%; width:4rem; height:4rem; background:#557af5; color:#fff; text-align:center; line-height:4rem;}
footer #go_top:after { content:"\e877"; display:block; font-family:'Linearicons-Free'; font-size:1.4rem;}
footer .link a { display:inline-block; margin:0.6rem 1.3rem 0; color:#fff; font-size:1.2rem;}
footer .link a.icon_b:before { content:""; display:inline-block; position:relative; top:-1px; width:1.8rem; height:1.8rem; margin-right:0.6rem; background:url(../img/common/icon_b.png) no-repeat 0 0; background-size:contain; vertical-align:middle;}
footer address { margin:0 0 0.5rem; line-height:1.5;}
footer .footer_link {padding: 2rem 0;}
footer .footer_link li {display: inline-block;}
footer .footer_link li a {display:block; color: #fff; padding: 3px 10px; position: relative;} 
footer .footer_link li a::before {
  content:""; 
  display:inline-block; 
  width:3px; 
  height:3px; 
  position:absolute; 
  left:-2px; 
  top:11px; 
  background:#fff; 
  border-radius:50%;
}
footer .footer_link li:nth-child(3n+1) a::before { display: none;}

  .familysite {width:160px; display: inline-block; position: relative;}
  .familysite > a {
    display: block;
    position: relative;
    padding:7px 15px 7px 15px;
    color: #d2d2d2;
    font-size: 1.3rem;
    border: 1px solid #fff;
    text-align:left;
  }
  .familysite > a:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0d8";
    color: #fff;
    position: absolute;
    right: 15px;
    top: 8px;
    transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  .familysite > a.on:after {
    transform: rotate(180deg);
  }
  .familysite > div{position:absolute; bottom:35px; width:100%; overflow: hidden; z-index: 99;}
  .familysite > div>.list {position:absolute; padding:5px 0; background-color:#3d3d3e; width:100%; border-bottom:none; border:1px solid #fff; border-bottom: 0;}
  .familysite > div>.list li{ text-align:left;}
  .familysite > div>.list a{color:#fff; display: block; font-size: 12px; padding:5px 10px;}

footer .lang_link { display: inline-block; margin-right: 10px;}
footer .lang_link ul {display: none;}
footer .lang_link > a { display: block; position: relative; padding:7px 35px 7px 10px; border-bottom: 1px solid #fff; color: #fff; font-size: 1.3rem; text-align: left;}
footer .lang_link > a::before {
  content: "\f0d7";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 15px;
  top: 8px;
  display: inline-block;
  z-index: 1;
  font-size: 14px;
  color: #fff;
}
footer .btn_box {padding: 1.5rem 0 0 !important; text-align: center;}
footer .btn_box a { background: #2d2d2d; display: block; color:#d0d0d0; padding: 1rem 3rem; display: inline-block;}

/* form */
input[type=text], input[type=password], input[type=tel], input[type=email], select, textarea { -webkit-appearance:none; border-radius:0;}


/* 제목 세로형 */
.common_tb_col { width: 100%; table-layout: fixed;}   
.common_tb_col tbody th { 
  vertical-align: middle; 
  font-size: 1.3rem;  
  background: #f5f5f5;  
  border-bottom:1px solid #cccccc;  
  color: #222222;
  text-align: left;
  padding:15px 15px;  
  position: relative;
} 

/* 제목셀 블릿 */  
.th_dot_tb tbody th::before {
  content: "";
  width:2px;
  height:2px;
  background: #943926;  
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.common_tb_col tbody td { 
  vertical-align: middle; 
  color: #000; 
  padding:8px 15px; 
  font-size: 1.3rem; 
  text-align: left;
  border-bottom:1px solid #cccccc;
}
.common_tb_col tbody tr:first-child th, .common_tb_col tbody tr:first-child td { border-top: 1px solid #222;}
.common_tb_col tbody tr:last-child th, .common_tb_col tbody tr:last-child td { border-bottom: 1px solid #222;}


/* Tab */
.type_tab {width: 100%;overflow: hidden; padding-top: 1px;}
.type_tab li {float: left; display:table; margin-left:-1px; margin-top:-1px;}
.type_tab li a {display: table-cell;width:100%;height:4.1rem;font-size: 1.3rem;color: #000; vertical-align:middle;text-align: center;background: #fff;cursor:pointer; border:1px solid #ccc;}
.type_tab li:first-child { margin-left: 0;}
.type_tab li.on a {color: #fff; background: #063c6d; border-color:#063c6d; position: relative;}


.tab_boxtype {width: 100%; overflow: hidden; display: table; table-layout: fixed; white-space: nowrap; padding-top: 1px; padding-left: 1px;}
.tab_boxtype li {display: table-cell;}
.tab_boxtype li a {
	  display: block;
    padding: 1rem 0;
    font-size: 1.3rem;
    color: #000;
    vertical-align: middle;
    text-align: center;
    background: #eeeeee;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-left: -1px;
}
.tab_boxtype li.on a {
	 color: #fff;
    background: #282d41;
    border-color: #282d41;
    position: relative;
}

.tablist_7 li {width: 14.28571428571429%;}
.tablist_6 li {width: 16.66666%;}
.tablist_5 li {width: 20%;}
.tablist_4 li {width: 25%;}
.tablist_4 li:nth-child(4n+1) {margin-left:0;}
.tablist_3 li {width: 33.33333%;}
.tablist_3 li:nth-child(3n+1) {margin-left:0;}
.tablist_2 li {width: 50%;}
.tab_content_wrap {}
.tab_content_wrap .tab_content {display: none; opacity: 0;  transition:all .3s cubic-bezier(.25, .46, .45, 1);}
.tab_content_wrap .tab_content.current {display: block; opacity: 1;}

.type_menu_select {position:relative;}
.type_menu_select>a {display:block;position:relative;border:1px solid #107bbd;padding:1.5rem;font-size:1.3rem;color:#107bbd;}
.type_menu_select>a:after {display:block;content:'';position:absolute;right:1.5rem;top:50%;margin-top:-0.2rem;border:0.4rem solid #107bbd;border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent;transition:all .5s;}
.type_menu_select>a.open:after {transform:rotate(180deg);margin-top:-0.4rem;}
.type_menu_select .menu_select {display:none;position:absolute;top:5rem;left:0;width:100%;background:#378ee0;z-index:3;}
.type_menu_select .menu_select a {display:block;color:#fff;padding:1rem 1.5rem;font-size:1.2rem;}

.type_tab_con {display:none;overflow:hidden;margin-top:3.5rem;}

.tab_contents {display: none; opacity: 0;}
.tab_contents.current {display: block; opacity: 1;}


/* slick slider */
.slick-slider {display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;  position: relative;}
.slick-list { position: relative; z-index:1; display: block; overflow: hidden; margin: 0; padding: 0; text-align: center;}
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track,
.slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0; display: block;}
.slick-track:before,
.slick-track:after { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px;}
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }

/* comment box */
.comment_box {position:relative; font-family:'Nanum Myeongjo'; font-size:1.4rem; line-height:1.4; padding: 3rem 0; text-align:center;}
.comment_box:before { content:""; display:block; width:1.7rem; height:1.4rem; position:absolute; top:0; left: 50%; margin-left:-1.35rem; background:url(../img/company/quote_open.png) no-repeat 0 0; background-size:contain;}
.comment_box:after { content:""; display:block; width:1.7rem; height:1.4rem; position:absolute; bottom:0; left: 50%; margin-left:-1.35rem; background:url(../img/company/quote_close.png) no-repeat 0 0; background-size:contain;}

/*
  search bar
*/
.select_box_top { text-align: left; white-space: nowrap; display: table;}
.select_box_top * {vertical-align: middle;}
.select_box_top > span { display: inline-block;}
.select_box_top .select { font-size: 0; float: left;}
.select_box_top .select .select-wrapper:before {top: 16px; color: #000; right: 28px;}
.select_box_top .select select {height:5rem; min-width: 120px; border-bottom: 1px solid #cccccc; font-size: 1.4rem;}
.select_box_top .search_in {position: relative; border:1px solid #282d41; width: 100%; display: table-cell; padding-right: 40px;}
.select_box_top .search_in .placeholder {width: 100%;}
.select_box_top .search_in .placeholder label {font-size: 1.4rem; top: 13px; color: #777; left: 1.2rem;}
.select_box_top .search_in .placeholder input { height: 5rem; line-height: 5rem; width: 100%; border:0; font-size:16px; padding-left: 1.2rem;}
.select_box_top .search_in .placeholder input::-ms-clear { display: none; }
.select_box_top .search_in .btn {color:transparent; display: inline-block; padding: 16px 10px; position: absolute; right: 0; top: 0;}
.select_box_top .search_in .btn:before {
	content: "";
	position: absolute;
	white-space: nowrap;
	font-family: Linearicons-Free;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: none;
	speak: none;
	content: "\e86f";
	font-size: 2.2rem;
	color: #000;	
	/*margin-top: -2px;*/
}
.header_search {padding: 2rem 1.5rem; border-top: 1px solid #e1e1e1; background: #fff; display: none; position: absolute; width: 100%; z-index: 200;}
.header_search .select_box_top {width: 100%;}
.header_search .search_close {text-align: right; padding: 1rem 0;} 
.header_search .search_close a { color: #8d8d8d; font-size: 1.4rem;}
.header_search .search_close a * {vertical-align: top;}
.header_search .search_close a i {font-size: 1.6rem; display: inline-block; padding-top: 3px;}


/* list */
ul.bl_square>li {position:relative;padding-left:1rem;margin-top:0.5rem;}
ul.bl_square>li:first-child {margin-top:0;}
ul.bl_square>li:before {display:inline-block;content:'';position:absolute;top:1rem;left:0;width:0.3rem;height:0.3rem;background:#222222;vertical-align:middle;}
ul.bl_star>li {position:relative;padding-left:1rem;margin-top:0.5rem;}
ul.bl_star>li:first-child {margin-top:0;}
ul.bl_star>li:before {display:inline-block;content:'*';position:absolute;top:0.3rem;left:0;color:#107bbd;vertical-align:middle;}
ul.bl_line>li {position:relative;padding-left:1rem;}
ul.bl_line>li:first-child {margin-top:0;}
ul.bl_line>li:before {display:inline-block;content:'';position:absolute;top:1rem;left:1px;width:5px;height:1px;background:#555;vertical-align:middle;}
ul.bl_bar>li {position:relative;padding-left:1rem;margin-top:1.5rem;}
ul.bl_bar>li:first-child {margin-top:0;}
ul.bl_bar>li:before {display:inline-block;content:'-';position:absolute;top:0;left:0;color:#777;vertical-align:middle;}


/* thumnail box */
.thumb_txtbox:after {display:block;content:'';clear:both;}
.thumb_txtbox {margin:0 -0.5rem;}
.thumb_txtbox li {float:left;width:50%;padding:0 0.5rem;}
.thumb_txtbox .box_wrap {position:relative;width:100%;padding-bottom:2.5rem;}
.thumb_txtbox .box_wrap .txt_con {position:relative;margin:-2rem auto 0;width:90%;padding:1.5rem;font-family:'Nanum Myeongjo';font-size:1.5rem;line-height:1.4;background:#fff;box-shadow:0 6px 12px 0 rgba(0,0,0,.1);-webkit-box-shadow: 0 6px 12px 0 rgba(0,0,0,.1);}

.thumb_contents {margin-top:2.5rem;}
.thumb_contents .thumb_img {text-align:center;}
.thumb_contents dl dt {font-family:'Nanum Myeongjo';font-size:1.6rem;font-weight:normal!important;line-height:1.6;padding-top:1rem;margin-bottom:1.5rem;}


/* img box */
.img_box.desc_box {position:relative;padding-bottom:3rem;}
.img_box.desc_box.left {padding-right:2rem;}
.img_box.desc_box.right {padding-left:2rem;}
.img_box.desc_box .img, .img_box.desc_box .img img {position:relative;z-index:1;}
.img_box.desc_box:after {display:block;content:'';width:93%;height:80%;position:absolute;bottom:0;}
.img_box.desc_box.left:after {right:0;}
.img_box.desc_box.right:after {left:0;}
.img_box.desc_box .desc {position:relative;padding-left:2.3rem;margin-top:2.5rem;font-size:1.1rem;line-height:1.5;color:#fff;z-index:1;}
.img_box.desc_box.left .desc {text-align:right;}
.img_box.desc_box.right .desc {text-align:left;}
.img_box.desc_box .desc:before {display:inline-block;content:'';width:1.2rem;height:0.4rem;background:#fff200;}
.img_box.desc_box.left .desc:before {vertical-align:middle;margin-right:1rem;}
.img_box.desc_box.right .desc:before {position:absolute;left:0;top:0.8rem;}

/*
  게시판뷰 하단 버튼네비
*/
.board_navi {text-align: center; position: relative; clear: both; margin-top: 3rem; display: table; width: 100%;}
.board_navi span {display: table-cell; width: 33.3333%;}
.board_navi .left_nav { text-align: left; padding-right: 20px;}
.board_navi .right_nav {text-align: right; padding-left: 20px;}
.board_navi .btn {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  height:4rem;
  line-height: 3.6rem;
  position: relative;
  background: #fff;
}
.arrow-btn-left {border:1px solid #063c6d; padding-left: 10px;}
.arrow-btn-left:before {
  font-family: 'FontAwesome';
  content: "\f104";
  font-size: 22px;
  color: #404040;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 0;
}
.arrow-btn-right {border:1px solid #063c6d; padding-right: 10px;}
.arrow-btn-right:after {
  font-family: 'FontAwesome';
  content: "\f105";
  font-size: 22px;
  color: #404040;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
}
.line-btn-bar {border:1px solid #063c6d; font-size:1.8rem; color: #272727;}
.line-btn-bar * {vertical-align: middle;}
.line-btn-bar i { display: inline-block; width:15px; height: 3px; background: #557af5; margin-right: 10px; margin-top: -2px;}


/*
  underline
*/
.txt-line-blue {color:#2d5cbc !important; position: relative; display: inline-block;}
.txt-line-blue::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #2d5cbc;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.txt-line-black {color:#222 !important; position: relative; display: inline-block;}
.txt-line-black::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #222;
  position: absolute;
  bottom: -1px;
  left: 0;
}

/* 레이어 팝업 */
.layerPopup {
    position:absolute;
    z-index:1000;
    display:none;    
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background-clip: padding-box;
    background:#fff;
    top: 40px;
    left: 5%;
    width: 90%;
}
.layerPopup h3 {font-size:36px; color: #222; padding-bottom: 12px;}
.layerPopup .layerPopup_in {display:block; padding: 5rem 2.5rem 4rem; position: relative; text-align: left;}
.layerPopup .closeLayer {display:inline-block; color:#4a525f; position:absolute; right:0; top:-86px; font-size:0; color: transparent;}
.layerContent {
    padding-top: 50px;
    margin-top: 20px;
}
.layerContent.rejectbox {
  border-top: 1px solid #ccc;
  line-height: 1.7;
  font-size: 16px;
}
.layerPopup .closeLayer:hover {color:#095573;}
#layerScreen{z-index:999;position:fixed;top:0;left:0;right:0;bottom:0;background:black;filter:Alpha(opacity=30);opacity:0.6;-moz-opacity:0.3;display:none;}

.confirm_layer {}
.confirm_layer dl {}
.confirm_layer.layerPopup .closeLayer {top: 0; top: 0; color: #222;}
.confirm_layer.layerPopup .closeLayer a {
    padding: 1rem;
    margin: 1rem;
    display: block;
    line-height: 0;
    font-size: 3.5rem;     
}
.confirm_layer dl dt {font-size: 2.4rem; color: #222222; text-align: center; padding: 1rem 0;}
.confirm_layer dl dd {font-size: 1.4rem; color: #222222; text-align: center; padding: 1rem 0 2rem; line-height: 1.7;}
.confirm_layer dl dt strong, .confirm_layer dl dd strong {font-family: 'Noto Sans Medium';}
.confirm_layer .button_group a {margin:0 5px; padding-left:40px; padding-right:40px;}


.agree_layer {}
.agree_layer.layerPopup .closeLayer {top: 0; top: 0; color: #222;}
.agree_layer.layerPopup .closeLayer a {
    padding: 1rem;
    margin: 0;
    display: block;
    line-height: 0;
    font-size: 3.5rem;
}
.agree_layer .summary {color: #222222; font-size: 1.4rem; text-align: center; line-height: 1.7;}

.check_layer {}
.check_layer.layerPopup .closeLayer {top: 0; top: 0; color: #222;}
.check_layer.layerPopup .closeLayer a {
    padding: 1rem;
    margin: 1rem;
    display: block;
    line-height: 0;
    font-size: 3.5rem;
}

.check_layer dl {}
.check_layer dl dt {font-size: 2.4rem; color: #222222; text-align: center; padding: 1rem 0;}
.check_layer dl dd {font-size: 1.4rem; color: #222222; text-align: center; padding: 1rem 0 2rem; line-height: 1.7;}
.check_layer dl dd * {vertical-align: middle;}
.check_layer dl dd.check_form {
    display: table;
    white-space: nowrap;
    width: 100%;
}
.check_layer dl dd.check_form input {width: calc(100% - 70px); border-right: 0;}
.check_layer dl dd.check_form a {
    width: 70px;
    display: inline-block;   
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.check_layer .result_txt {font-size: 1.6rem; text-align: center; color: #222; padding-bottom: 1rem;}
.check_layer .result_txt strong {display: inline-block; color: #2d5cbc; font-size: 1.8rem;}


.common_tb {width: 100%; table-layout: fixed; border-top: 1px solid #222;}
.common_tb thead th {
  padding: 1rem;
  font-size: 1.2rem;
  background: #fff;
  border: 1px solid #d6d6d6;
  color:#262626;
  text-align: center;
  vertical-align: middle;
  background: #f7f7f7;
}
.common_tb tbody td {
  padding: 1rem;
  font-size: 1.2rem;
  word-break: break-all;
  text-align: center;
  border: 1px solid #d6d6d6;
  color: #666;
  line-height: 1.6;
  vertical-align: middle;
  text-align: center;
}
.common_tb tbody th {
  padding: 1rem;
  font-size: 1.2rem;
  word-break: break-all;
  text-align: center;
  border: 1px solid #d6d6d6;
  color: #666;
  line-height: 1.6;
  vertical-align: middle;
  text-align: center;
}

/* 아이폰 6 이하 */
@media screen and (max-width:374px){
	.common_tb_col tbody th, .common_tb_col tbody td { padding-left:1.5rem; padding-right:1rem;}
}
