@charset "utf-8";
@import url("reset.css");
@import url("common.css");
@import url("layout.css");

/* popup */
.popup_wrap {display:none;position:absolute;top:50px;left:0;width:100%;z-index:35;}
.popup_wrap .today {clear:both;width:100%;}
.popup_wrap .popup_list {position:relative;}
.popup_wrap .popup_list .slick-arrow {display:block;position:absolute;top:50%;margin-top:-3.5rem;width:4rem;height:4rem;background:rgba(0,0,0,0.4);z-index:36;}
.popup_wrap .popup_list .slick-arrow span {display:block;position:relative;text-align:center;line-height:4rem;}
.popup_wrap .popup_list .slick-arrow span:before {display:inline-block;font-family:Linearicons-Free;font-size:1.1rem;color:#fff;}
.popup_wrap .popup_list .slick-arrow.slick-prev {left:0;}
.popup_wrap .popup_list .slick-arrow.slick-prev span:before {content:"\e875";}
.popup_wrap .popup_list .slick-arrow.slick-next {right:0;}
.popup_wrap .popup_list .slick-arrow.slick-next span:before {content:"\e876";}
.popup_wrap .today {position:relative;overflow:hidden;width:100%;background:#535557;padding:5px 3%;color:#fff;font-size:1.1rem;}
.popup_wrap .today a {color:#fff;float:right;}
#main_mask {display:none;width:100%;height:100%;position:fixed;left:0;top:0;z-index:34;background:#000;}

.ellipsis {
	text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.ellipsis_double {
	text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*
	button
*/

a.btn_shape {
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.3rem;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

a.btn_shape.shape_red {background: #8c1e01;}
a.btn_shape.shape_gray {background: #333333;}
a.btn_shape.shape_white {background: #fff; border:1px solid #333333; color: #333333;}

::-webkit-input-placeholder {
  color: #555;
  font-size: 1.4rem;
}
input:read-only {
    background:#eeeeee !important;
}

.event_sec { position:relative;}
.event_sec .slider_num {
  position:absolute;
  bottom:8%;
  right:8%;
  z-index:10;
  color:#fff;
  text-align:center;
  font-family: 'gothic';
  letter-spacing: 1px;
}
.event_sec .slider_num #currentNum { font-weight:bold; opacity: 1; font-size: 1.6rem;}
.event_sec .slider_num #totalNum {opacity: .5;}
.event_sec .slider_num em {font-size: 1.4rem; opacity: .5;}
.event_sec .slick-dots {position: absolute; left: -9999em;}

.guide_sec {background: url(../img/main/guide_bg.jpg) no-repeat center 0; background-size:cover; padding: 5rem 1.5rem;}
.guide_sec .guide_tit {padding-bottom: 2.5rem;}
.guide_sec .guide_tit dt {color: #222222; font-size: 3.2rem; line-height: 1.1; padding-bottom: 1.5rem; text-align: center;}
.guide_sec .guide_tit dt strong {font-family: 'gothic' !important; font-weight:bold; font-size: 3.2rem;}
.guide_sec .guide_tit dd {padding: 1rem 0; text-align: center;}
.guide_sec .guide_tit dd .txt {line-height: 1.8; font-size: 1.4rem; color: #222222;}
.guide_sec .guide_tit dd .btn_in {padding: 2rem 0 0;}
.guide_sec .guide_tit dd .btn_in span {display: inline-block;}
.guide_sec .guide_tit dd .btn_in a {position: relative; z-index: 21;}
.guide_sec .guide_tit dd .btn_in a .bar {
  display: inline-block;
  width: 1rem;
  height: 1px;
  background: #222;
  vertical-align: middle;
  margin-left: 7px;
  margin-top: -3px;
}
.guide_sec .lotte_box { margin-bottom: 2rem;}
.guide_sec ul {margin:0 -1rem; overflow: hidden;}
.guide_sec ul li {float: left;  width: 50%; padding: 0 1rem; margin-bottom: 1rem;}
.guide_sec ul li a { position: relative; z-index: 21; display: block;}
.guide_sec ul li dl dd {font-size: 1.3rem; font-family: 'Noto Sans'; color: #222; padding: 1rem 0; text-align: center;}



.insta_sec {background: url(../img/main/insta_bg.jpg) no-repeat center 0; background-size:cover; padding: 5rem 1.5rem;}
.insta_sec h3 {font-family: 'gothic'; text-align: center; color: #fff; font-size: 3rem; padding-bottom: 3rem; text-transform: uppercase;}
.insta_sec .insta_list {overflow: hidden;}
.insta_sec .insta_list li {background: #3b5997; overflow: hidden;}
.insta_sec .insta_list li a {display: block; position: relative; padding-right: 50%; z-index: 23;}
.insta_sec .insta_list li a .txt_con {padding: 15px; z-index: 21;}
.insta_sec .insta_list li a .txt_con p {
  color: #fff;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  white-space: normal;
  overflow: hidden;
}
.insta_sec .insta_list li .thumb {position: absolute; right: 0; top: 0; width: 50%; z-index: 21;}
.insta_sec .insta_list li.other {background: #282d41;}
.insta_sec .insta_list li.other a {padding-right: 50%; padding-left: 0;}
.insta_sec .insta_list li.other .txt_con {position: absolute; right: 0; top: 0; width: 50%;}
.insta_sec .insta_list li.other .thumb {position: static; width: 100%;}
.insta_sec .insta_list li i {padding:1rem 0; color: #fff; font-size: 2rem;}


/* sub pages
*******************************************/

h3.body_tit {
    text-align: center;
    color: #222222;
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 10%;
}
h3.body_tit.tpmg {padding-top: 10%;}

.txt-color-red {color:#8c1e01 !important;}
.text-bold {font-family: 'Noto Sans' !important;}


.floor_shop_list {}
.floor_shop_list > li {overflow: hidden; border-bottom:1px solid #cfcfcf; padding: 2rem 0;}
.floor_shop_list > li.no_result {float: none; text-align: center; padding: 5rem 0;}
.floor_shop_list > li.no_result .icon {padding: 1.5rem 0;}
.floor_shop_list > li.no_result .txt {font-size: 1.6rem;}
.floor_shop_list > li:last-child {border-bottom:0;}
.floor_shop_list > li .list_left {float: left; width: 130px; position: relative;}
.floor_shop_list > li .list_left .thumb {display: table-cell; vertical-align: middle; padding: 20px; height: 120px;  border:1px solid #cfcfcf;}
.floor_shop_list > li .list_left .thumb img {
    max-width: 100px;
    max-height: 100%;
}

.floor_shop_list > li .shop_box_con {padding-left: 150px;}
.floor_shop_list > li .shop_box_con dl {}
.floor_shop_list > li .shop_box_con dl dt {
  font-size: 1.6rem;
  margin-bottom: .5rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.floor_shop_list > li .shop_box_con dl dd { line-height: 1.8; }
.floor_shop_list > li .shop_box_con .btn_box { padding: 1rem 0 0;}

.floor_shop_list .shop_box_con ul {}
.floor_shop_list .shop_box_con ul li {display: table; width: 100%; table-layout: fixed;}
.floor_shop_list .shop_box_con ul li strong {display: table-cell; width: 60px;}
.floor_shop_list .shop_box_con ul li span.data {display: table-cell;}


.floor_select {width:100%; border: 0; overflow: hidden; display: table; padding-bottom: 1rem;}
.floor_select .result_txt { font-size: 1.6rem; padding-top: 5px; display: table-cell; vertical-align: middle;}
.floor_select .result_txt strong {color: #2d5cbc; display: inline-block;}
.floor_select .select-wrapper {border:1px solid #7b7b7b; float: right;}
.floor_select .select-wrapper select {font-size: 1.4rem;}

.guide_view .floor_select {padding: 1.5rem 0;}
.guide_view .floor_select .select-wrapper {float: none; width: 100%; padding-right: 0;}
.guide_view .floor_select .select-wrapper select {font-size: 1.6rem; width: 100%; height: 4rem;}

/*
  상점상세
*/
.store_title { position: relative; width: 100%;}
.store_title .store_title_con { text-align: center; color: #fff; position: absolute; width: 100%; top: 33%;}
.store_title h2 {letter-spacing: 2px; font-family: 'gothic';  text-transform: uppercase; text-align: center; font-size: 3.2rem; padding: 0 2rem;}
.store_title .sub_cate {font-size: 1.4rem; padding-top: 1rem;}
.store_title .tit_img {
    max-height: 200px;
    overflow: hidden;
}

.store_view {}
.store_top {padding-bottom: 2rem !important;}
.store_top .logoimg {
  border:1px solid #cfcfcf;
  line-height: 0;
  text-align: center;
}
#container .store_top .logoimg img {width:inherit !important; max-width: 100%; max-height: 100%;}
.store_top .store_name {padding:2.5rem 0; text-align: center;}
.store_top .store_name dt {color: #222222; font-size: 2.3rem; line-height: 1.3; padding-bottom: 1rem; font-family: 'Noto Sans Medium';}
.store_top .store_name dd {font-size: 1.4rem; color: #222222;}

.store_top .store_info {padding: 2rem 0;}
.store_top .store_info dl { display: table; width: 100%; table-layout: fixed; padding-bottom: 5px; font-size: 1.4rem;}
.store_top .store_info dt {display: table-cell; width: 100px; color: #656565; vertical-align: top; padding: .2rem 0;}
.store_top .store_info dt i {margin-right: 5px; vertical-align: middle;}
.store_top .store_info dd {display: table-cell; color: #000; vertical-align: middle;}
.store_top .store_info dd .detail_list {}
.store_top .store_info dd .detail_list li {font-family: Arial, HelveticaNeue-Light, sans-serif; font-size: 1.4rem; line-height: 1.7;}
.store_top .store_info dd .detail_list li span {display: inline-block;}
.store_top .store_info dd .detail_list li .time {padding: .2rem;}
.store_top .store_info dd .detail_list li .issue { color: #2d5cbc; padding: .2rem; font-family: 'Noto Sans DemiLight';}
.store_top .button_group {display: flex; justify-content: center; flex-direction: row; margin:0 -2%;}
.store_top .button_group span {
  flex: 1 1 50%;
  padding: 0 2%;
}
.store_top .button_group a {display: block; padding:1.2rem 0; text-align: center; font-size: 1.4rem;}
.store_top .button_group a.btn-favorite {
  background: #fff;
  color: #222;
  border: 1px solid #d0d0d0;
}
.store_top .button_group a.btn-favorite.on {
  background: #2752be;
    color: #fff;
    border: 1px solid #2752be;
}
.store_top .button_group a.box-white {color: #222 !important; border:1px solid #d0d0d0 !important;}

.store_top .button_group a.btn-favorite>i { margin-right: 8px; }
.store_body {overflow: hidden; position: relative;}
.store_body dl.store_body_tit {padding: 2rem 0;}
.store_body dl.store_body_tit dt {padding: 0 0 20px; color: #222222; font-size: 2rem;}
.store_body dl.store_body_tit dd {font-size: 1.3rem;}
.store_body dl.store_body_tit dd.no_editer {color: #777; padding-top: 2rem;}
.store_body .store_intro {border-bottom:1px solid #ccc; padding-bottom: 30px;}
.store_body .store_location {}
.store_body .store_location span {display:block; padding: 5px 0;}
.store_body .store_location i {margin-left: 3px;}
.store_body .store_location dd {text-align: center;}
.store_body .store_location a {display: inline-block; color: #2d5cbc; position: relative; padding-bottom:2px; font-size: 1.6rem;}
.store_body .store_location a i {border-radius: 100%; display: inline-block; font-size: 1.3rem; padding:0 8px 0 7px; background: #2d5cbc; color: #fff; font-style: normal; text-align: center;}
.store_body .store_location a::before {
  content: "";
  width: 100%;
  height:1px;
  background: #2d5cbc;
  position: absolute;
  left: 0;
  bottom: 0;
}
.store_body .store_map {width: 100%; position: relative;}
.store_body .map_wrap {position: relative;}
.store_body .store_map .pick_icon {
  position: absolute;
  width: 37px;
  height: 26px;
  background: url(../img/contents/store/icon_pick.png) no-repeat;
  background-size:contain;
  z-index: 21;
}

/*.store_editer {}
.store_editer .tit_sec {padding: 25px 0; text-align: center;}
.store_editer .tit_sec dt {padding:25px 0 15px; color: #222222; font-size: 45px;}
.store_editer .tit_sec dd {}
.store_editer .tit_sec dd.summay_1 {font-size: 18px; color: #222222;}
.store_editer .tit_sec dd.summay_2 {font-size: 16px;}
.store_editer .tit_sec dt .e_name {font-family: 'Noto Sans'; }
.store_editer .store_view_img {padding:30px 0; text-align: center;}
.store_editer .store_view_img img {max-width: 810px;}
.store_editer .store_txt {text-align: center; padding: 20px 0; font-size: 16px; line-height: 1.7;}
.store_editer .store_txt p {padding:5px 0;}
.store_editer .store_thumb {text-align: center;}
.store_editer .store_thumb li {display: inline-block; padding:20px 7px;}
.store_editer .store_thumb li img {max-width: 260px;}
*/
.store_gallery {border-bottom: 1px solid #ccc; padding-bottom: 1rem;}
.store_gallery .gal_list {padding: 0 15%;}
.store_gallery .gal_list .slick-arrow { position: absolute; z-index: 21; font-size: 0; margin-top: -15px; top: 50%;}
.store_gallery .gal_list .slick-arrow::before{
    font-family: Linearicons-Free;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    color: #b5b5b5;
    border:1px solid #cfcfcf;
    background: #fff;
}
.store_gallery .gal_list .slick-arrow.slick-prev {left: 0;}
.store_gallery .gal_list .slick-arrow.slick-next {right: 0;}
.store_gallery .gal_list .slick-arrow.slick-prev::before { content: "\e875";}
.store_gallery .gal_list .slick-arrow.slick-next::before { content: "\e876";}


/*
  층별안내
*/
.floor_info_tbl {margin: 2.5rem 0;}
.floor_info_tbl .floor_info_list {border-top: 1px solid #666666;}
.floor_info_tbl .floor_info_list > li {}
.floor_info_tbl .floor_info_list > li > dl {display: table; width: 100%;}
.floor_info_tbl .floor_info_list > li > dl > dt {
  width:60px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  font-size: 1.5rem;
  background: #282d41;
  border: 1px solid #282d41;
  border-bottom: 1px solid #bbbbbb;
  border-left: 0;
  border-right: 0;
  color: #fff;
  padding: 1rem;
}
.floor_info_tbl .floor_info_list > li > dl > dd {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  color: #000;
  padding: 1rem;
  font-size: 15px;
  text-align: left;
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
.floor_info_tbl .floor_info_list > li > dl > dd.vtop {vertical-align: middle;}
.floor_info_tbl .floor_info_list .shop_logo {padding: 1rem 0 1.5rem .3rem;}
.floor_info_tbl .floor_info_list .shop_logo img {height: 35px; max-width: 100%; width: inherit !important;}
.floor_info_tbl dl.detail_list {display: table; width: 100%;}
.floor_info_tbl dl.detail_list > dt {width:30px; display: table-cell; padding-top: 0.5rem; vertical-align: top;}
.floor_info_tbl dl.detail_list > dt i {width: 23px; height: 23px;}
.floor_info_tbl dl.detail_list > dt .ico::before {position: static !important;}
.floor_info_tbl dl.detail_list > dd {display: table-cell; vertical-align: top;}
.floor_info_tbl dl.detail_list > dd > ul {padding: .5rem 0;}
.floor_info_tbl dl.detail_list > dd > ul > li { display: inline-block; position: relative; padding-right: .5rem; font-size: 1.3rem;}
.floor_info_tbl dl.detail_list > dd > ul > li::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #777;
  display: inline-block;
  vertical-align: middle;
  margin-left: .6rem;
}
.floor_info_tbl dl.detail_list > dd > ul > li:last-child::after {background: none;}

.floor_info_link { padding: 4rem 3rem; border: 1px solid #cccccc; text-align: center;}
.floor_info_link .floor_info_link_title { color: #222222; font-size: 2rem; }
.floor_info_link .floor_info_link_title>strong { font-family: 'Noto Sans'; }
.floor_info_link .floor_info_link_sub { padding: 1rem 0 2rem; color: #222222; font-size: 1.3rem; }
.floor_info_link > a { display:block; width: 100%; background-color: #2d5cbc; color: #fff; font-size: 1.3rem; padding: 1.2rem 0; text-align: center;}

.floor_info_tbl .floor_info_list .lotte_dept {}
.floor_info_tbl .floor_info_list .lotte_dept .lotte_floor {background: #eeeeee;}
.floor_info_tbl .floor_info_list .lotte_dept > dl {position: relative;}
.floor_info_tbl .floor_info_list .lotte_dept > dl > dd {padding-left: 30px;}
.floor_info_tbl .floor_info_list .lotte_dept > dl::before { content: ""; width: 20px; height: 100%; position: absolute; background: #eee; left: 60px; top: 0; }
.floor_info_tbl .floor_info_list .lotte_dept.last > dl::after { content: ""; width: 20px; height: 1px; position: absolute; background: #bbb; left: 60px; bottom: 0; z-index: 21; }

/*
   가이드
*/
.floor_map_con {position: relative;}
.floor_map_con .floor_zoom { border:1px solid #cfcfcf; position: absolute; right: 2rem; top: 2rem; z-index: 21;}
.floor_map_con .floor_zoom {border-bottom: 1px solid #cfcfcf;}
.floor_map_con .floor_zoom a { display: block; width: 3.5rem; height: 3.5rem; color: #222; line-height: 3rem; border-bottom: 1px solid #cfcfcf; font-size: 16px; text-align: center; background: #fff;  position: relative;}
.floor_map_con .floor_zoom a:last-child {border-bottom:0;}
.floor_map_con .floor_zoom a .ico::before {
  content: "";
  width: 17px;
  height: 1px;
  background: #000;
  position: absolute;
  left: -8px;
  top: -5px;
}
.floor_map_con .floor_zoom a .ico.ico-plus::after {
  content: "";
  height: 17px;
  width: 1px;
  background: #000;
  position: absolute;
  left: 0;
  top: -13px;
}
.floor_map_con .floor_zoom a .ico-minus {}

.search_btn_con {text-align: center;}
.search_btn_con a {
	display:block;
  	padding: 12px 0;
  	color: #222222;
  	font-size: 1.5rem;
  	vertical-align: top;
  	font-weight: bold;
  	border-top: 1px solid #757575;
  	border-bottom: 1px solid #ccc;
}
.search_btn_con a i {margin-left: 10px;}
.search_btn_con a i::before {
  content: '\e874';
  display: inline-block;
  font-family: Linearicons-Free;
  color: #8c1e01;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .3s cubic-bezier(.25, .46, .45, 1);
}
.search_btn_con a.open i::before {transform: rotate(180deg);}
#searchBox {background:#2d5cbc; padding:1.5rem 1.5rem 2rem;}
#searchBox .search_tit {color: #fff; text-align: center; font-size: 1.4rem; padding: 0.5rem 0 1.5rem;}

#searchBox .select_box_con {padding: 10px 0;}
#searchBox .search_tab_con {padding: 10px 0;}
.box_tab {width: 100%; overflow: hidden;}
.box_tab li {float: left;}
.box_tab.tabcol4 li {width: 25%;}
.box_tab li a {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    height:40px;
    line-height: 39px;
    border:1px solid #b5b5b5;
    color: #555;
    margin-top:-1px;
    margin-left: -1px;
    background: #fff;
}
.box_tab li a.on {
    background: #8c1e01;
    border:1px solid #8c1e01;
    position: relative;
    color: #fff;
    z-index: 92;
}
.box_tab.tabcol4 li:nth-child(1) a, .box_tab.tabcol4 li:nth-child(2) a, .box_tab.tabcol4 li:nth-child(3) a, .box_tab.tabcol4 li:nth-child(4) a {
	margin-top:0;
}
.box_tab.tabcol4 li:nth-child(4n+1) a {margin-left:0;}


.select_box_con .search_in {display: table; white-space: nowrap; width: 100%; background: #fff; position: relative; border: 1px solid #000;}
.select_box_con .search_in * {vertical-align: top;}
.select_box_con .search_in input {width: calc(100% - 42px); border: 0;}
.select_box_con .search_in .btn {color:transparent; display: inline-block; padding: 10px 5px; float: right;}
.select_box_con .search_in .btn:before {
  content: "";
  position: absolute;
  white-space: nowrap;
  font-family: Linearicons-Free;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
  content: "\e86f";
  font-size: 1.8rem;
  color: #000;
  /*margin-top: -2px;*/
}

.select_box_con .select-wrapper {display: block; padding-right: 0; margin-bottom: 10px; border: 1px solid #000;}
.select_box_con .select-wrapper select {width: 100%; font-size: 1.4rem; color: #555;}

.result_info {overflow: hidden; padding-top: 20px;}
.result_info span.total {display: inline-block; color: #222222; font-size: 1.6rem;}
.result_info span.total strong {color: #8c1e01; font-family:Helvetica, arial, sans-serif; font-weight: bold;}


ul.thumb_list { padding-top: 20px;}
ul.thumb_list > li {margin-bottom: 30px;}
ul.thumb_list > li .box_label {
  position: absolute;
  left: 25px;
  bottom: -25px;
  background: #757575;
  color: #fff;
  font-size: 1.2rem;
  width:60px;
  height:60px;
  line-height: 60px;
  z-index: 32;
  text-align: center;
  white-space: nowrap;
  border-radius: 60px;
}
ul.thumb_list > li .box_label.sales_soon {background: #757575;}
ul.thumb_list > li .box_label.sales_ing {background: #8a341d;}
ul.thumb_list > li .box_label.sales_end {background: #543a3b;}
ul.thumb_list > li .box_wrap {border: 1px solid #dddddd; position: relative;}
ul.thumb_list > li .thumb_img {
	position: relative;
	margin: -1px;
}
ul.thumb_list > li .thumb_img .img {position: relative; line-height: 0; min-height: 200px;}
ul.thumb_list > li .thumb_text {padding: 45px 25px 15px;}
ul.thumb_list > li .thumb_text p.tit {font-size: 2rem; color: #222; margin-bottom: 10px; font-weight: bold;}
ul.thumb_list > li .thumb_text dl { display: table; width: 100%; table-layout: fixed; padding:5px 0;}
ul.thumb_list > li .thumb_text dl dt {width: 55px; font-size: 1.3rem; display: table-cell; color: #222222;}
ul.thumb_list > li .thumb_text dl dd {font-size: 1.3rem;}
ul.thumb_list > li .thumb_btns { display: table; width: 100%; table-layout: fixed; border-top:1px solid #ddd; background: #f5f5f5;}
ul.thumb_list > li .thumb_btns span {display: table-cell; width: 50%; font-size: 1.4rem;}
ul.thumb_list > li .thumb_btns a {display: block; padding: 15px 0; text-align: center;}
ul.thumb_list > li .thumb_btns a.btn_salesurl { color: #8c1e01; border-left:1px solid #ddd;}
ul.thumb_list > li .thumb_btns a.btn_salesinfo {color: #000;}
ul.thumb_list > li.nodata {
  width:100% !important;
  clear: both;
  float: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 50px 0;
}
ul.thumb_list > li.nodata img {width: 70px;}
ul.thumb_list > li.nodata p {text-align: center;}

/* 더보기 스타일 */
.btn_page_more_con {
  margin-top: -1px;
  border-bottom: 0;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
}
.btn_page_more_con .btn_more {display: block; overflow: hidden;}
.btn_page_more_con .page_more_wrap .page_more_box {position: relative; display: block;}
.btn_page_more_con .page_more_wrap .page_more_box .more_txt {
  display: inline-block;
  padding: 1rem 0;
  color: #333;
  font-size: 1.4rem;
  vertical-align: top;
}
.btn_page_more_con .page_more_wrap .page_more_box .more_txt:after {
  content: '\e874';
  display: inline-block;
  font-family: Linearicons-Free;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}
.btn_page_more_con .page_more_wrap .page_more_box .more_txt.mor_txtlg:after {margin: -4px -65px 0 0;}

.data_loading {position: relative;width: 100%; height: 54px;}
.data_loading .load_img {line-height:54px; font-size: 0; color: transparent;}
.data_loading .load_img:after {
    content:"\e874";
    position: absolute;
    top:50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin:-10px 0 0 -20px;
    background: url(../img/ajax-loader.gif) no-repeat;
}

.btn_map_link {background: #757575; color: #fff; font-size: 1.2rem; text-align:center; display: inline-block; padding: 5px 10px; margin:4px 0 0;}
.layout_body .btn_set {padding: 30px 0 40px; text-align: right;}
.layout_body .btn_set a {padding-left:40px; padding-right: 40px;}


/*
  이벤트
*/
ul.evt_list {overflow: hidden; margin:2.5rem 0 0;}
ul.evt_list.activity_list {margin:0;}
ul.evt_list > li {width: 100%; margin-bottom: 2rem;}
ul.evt_list > li a {display: block; overflow: hidden;}
ul.evt_list > li a .evt_label {
  position: absolute;
  left:0;
  top: 0;
  background: #2253b9;
  color: #fff;
  padding: 2rem .7rem;
  font-size: 1.3rem;
  z-index: 21;
  white-space: nowrap;
  min-width: 6rem;
  text-align: center;
}
ul.evt_list > li a .box_wrap {position: relative; z-index: 1; }
ul.evt_list > li a .thumb_box {
  position: relative;
  max-height: 100%;
  overflow: hidden;
}
ul.evt_list > li a .thumb_box .img {
    position: relative;
    line-height: 0;
}
ul.evt_list > li a .thumb_box .img>img { width: 100%; height: auto; }
ul.evt_list > li a dl {padding:1.5rem 2.5rem; background: #eeeeee;}
ul.evt_list > li a dl dt {
    padding-bottom:.5rem;
    color: #222222;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4;
    text-align:left;
    white-space: nowrap;
}
ul.evt_list > li a dl dd {text-align:left; font-size: 1.3rem; color: #888;}
ul.evt_list > li.evt_end a .box_wrap::before {
  content: '';
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,.58);
  z-index: 22;
}


/*
  공연 일정
*/

.schedule .month_nav {position:relative; background: #282d41; text-align: center; padding: 1.5rem 0;}
.schedule .month_nav > a {display:inline-block; text-indent:-9999em; font-size:0; width:3rem; height:3rem; position: absolute; top: .9rem;}
.schedule .month_nav > a:after {
  content:"";
  display: inline-block;
  font-family:FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
  color: #fff;
  position: absolute;
  opacity: .5;
  z-index: 10;
  text-indent: 0;
}
.schedule .month_nav > a.prev_month {left: 1.5rem;}
.schedule .month_nav > a.next_month {right: 1.5rem;}
.schedule .month_nav > a.prev_month:after {
  content:"\f104";
  left: 1rem;
  top: 0;
}
.schedule .month_nav > a.next_month:after {
  content:"\f105";
  left: 1rem;
  top: 0;
}
.schedule .month_nav > a:hover::after {opacity: 1;}
.schedule .month_nav .nowmonth_txt {font-size:2.2rem; color:#fff; font-family:Helvertica, Arial, sans-serif; display:inline-block; padding:0 20px;}
.schedule .month_nav .nowmonth_txt strong {font-size:1.6rem; display: inline-block; padding: 0 4px; font-family: 'Noto Sans DemiLight'; font-weight: normal;}

.calendar_list { width: 100%; border-top: 1px solid #666666; margin: 2.5rem 0;}
.calendar_list > dl > dt {
  border-bottom: 1px solid #cccccc;
  color: #262626;
  font-size: 2.2rem;
  font-family: Helvertica, Arial, sans-serif;
  padding: 1.4rem 0;
  text-align: center;
}
.calendar_list > dl.on dt { background-color: #eeeeee; color: #2d5cbc; }
.calendar_list > dl > dt em { font-size: 1.5rem; font-family: 'Noto Sans DemiLight';}
.calendar_list td { padding: 15px 80px; border-left: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
.calendar_list dl.on dd { background-color: #eeeeee; }
.calendar_list dd>ul>li { padding: 2.5rem 0; border-bottom: 1px solid #ccc;}
.calendar_list dd>ul>li::after {clear: both; display: table; content: '';}
.calendar_list dd>ul>li .thumb {
  float: left;
  padding-right: 1.5rem;
}
.calendar_list dd>ul>li .thumb > span {
    display: table-cell;
    vertical-align: middle;
    height: 110px;
    width: 140px;
    border: 1px solid #cfcfcf;
    background: url(../img/contents/event/schedule_thumb.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.calendar_list dd>ul>li .data_con {}
.calendar_list dd>ul>li .data_con .data_cate { padding-bottom: 0.5rem; }
.calendar_list dd>ul>li .data_con .data_cate .cate {
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    padding: .4rem 1.4rem;
    border-radius: 1.4rem;
    line-height: 1.6;
}
.calendar_list dd>ul>li .data_con .data_cate .cate.cate_play {background: #2c8dde;}
.calendar_list dd>ul>li .data_con .data_cate .cate.cate_view {background: #2d5cbc;}
.calendar_list dd>ul>li .data_con .data_title {
    font-size: 1.7rem;
    margin-bottom: .5rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #222;
}
.calendar_list dd>ul>li .data_con {color: #222;}
.calendar_list dd>ul>li .data_con .data_des {}
.calendar_list dd>ul>li .data_con .data_des dl {}
.calendar_list dd>ul>li .data_con .data_des dt {display: table-cell; width: 40px; color: #222;}
.calendar_list dd>ul>li .data_con .data_des dd {display: table-cell; line-height: 1.8; color: #777;}
.calendar_list dd>ul>li .data_con .data_des dl.location {}
.calendar_list dd>ul>li .data_con .data_des dl.location::before {}
.calendar_list dl.on dt { background-color: #eeeeee; color: #2d5cbc;}
.calendar_empty { padding: 20px 0; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; clear: both; text-align: center; font-size: 20px; }


.board_tit { padding: 2rem 0;  background: #fff; width:100%; border-top: 1px solid #666666; border-bottom: 1px solid #ccc;}
.board_tit.no_tit_label dt {}
.board_tit.no_tit_label dd {}
.board_tit dt {
    vertical-align: middle;
    position: relative;
    color: #222;
    word-break: break-all;
    white-space: normal;
    padding-top: 1rem;
}
.board_tit dt span.label {
    display: inline-block;
    padding: 2rem .7rem;
    font-size: 1.3rem;
    text-align: center;
    min-width: 6rem;
}
.board_tit dt span.label.box-event {background: #2253b9; color:#fff;}
.board_tit dt span.txt { font-size:1.6rem; display: block;  padding:1.5rem 0 .5rem; word-break: break-word;}
.board_tit dd {text-align: center;}
.activity_view .board_tit dt {padding-top:0; }
.activity_view .board_tit dt span.txt {padding-top: 0;}
.activity_view .board_tit dd { text-align: left;}
.board_tit p.board_subtit {text-align: left; border-bottom: 1px solid #ccc; padding:1.5rem 0 2rem; font-size: 1.4rem;}
.board_tit p.board_subtit span.txt {font-family: 'Noto Sans DemiLight'; display: block; padding: 3px 0;}
.board_tit p.board_subtit i {color: #606161;}
.board_tit p.board_subtit strong {font-weight: normal; display: inline-block; padding-right: 5px; color: #606161;}
.board_tit dd ul li {display: inline-block; margin-left: 5px; vertical-align: top;}
.board_tit dd ul li a {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    border-radius: 3.2rem;
    border:1px solid #d6d6d6;
    background: #fff;
    font-size: 0;
    color: transparent;
}
.board_tit dd ul li a i {color: #a6a6a6; font-size: 1.3rem; padding-top: 0.9rem;}
.board_tit dd ul li a i.fa-twitter {padding-top: 1rem;}
.board_tit dd ul li a i.fa-twitter::before {
  content: "";
  background-image:url(../img/icon.png);
  -webkit-background-size: 400px 400px;
  background-size: 400px 400px;
  background-position: -127px -28px;
  width: 11px;
  height: 10px;
  display: inline-block;
  margin-left: 0;
}

.board_btm {clear: both; padding: 2rem 0; border-top: 1px solid #cccccc;}
.board_btm span .btn {padding: .7rem 2rem; border-radius: 1.9rem; font-size: 1.4rem;}
.board_btm span {display: inline-block; margin-left: 10px;}
.board_btm .btn i {margin-right: 3px; border:1px solid #222; padding: 1px 3px; font-size: 12px; margin-top: -3px; vertical-align: middle;}




/*
  게시판 리스트
*/
.notice .select_box_top .select select {height:5.2rem; border: 1px solid #000;}
.notice .select-wrapper {padding-right: 3rem;}

.news_list {margin-top: 2.5rem;}
.news_list li {}
.news_list li.nodata {text-align:center; border-bottom: 1px solid #222; padding: 50px 0; font-size:1.4rem;}
.news_list li:first-child {border-top: 1px solid #222;}
.news_list li dl { display: table; width:100%; min-height:70px; padding: 15px 0; z-index: 2; position: relative;}
.news_list li dl dt {display: table-cell; vertical-align: middle; padding-left: 7rem; padding-right: 1rem; position: relative;}
.news_list li dl dt .sbj {
  font-size:1.4rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.news_list li dl dd {
  display: table-cell;
  vertical-align: middle;
  width:80px;
  font-size:1.3rem;
  font-family:HelveticaNeue-Light, tahoma, sans-serif,arial;
  color: #777777;
  white-space: nowrap;
}
.news_list li a {
  color:#000000;
  display: block;
  position: relative;
  border-bottom: 1px solid #d7d7d7;
}
.news_list li.tp_notice {background:#f6f6f6;}
.news_list li.tp_notice a {border-bottom: 1px solid #222;}
.news_list li a.hover {color: #fff; border-top: 1px solid #01b4bb;}
.news_list li a.hover span.box-white {color: #063c6d;}
.news_list li a.hover:after {
  content: '';
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #01b4bb;
  position: absolute;
  z-index: 1;
}
.news_list li a .cate {
  display: inline-block;
  width:7rem;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  color: #777777;
  margin-top: -10px;
}
.news_list li a .lable_round {
  background: #282d41;
  color: #fff !important;
  display: inline-block;
  font-size: 1.2rem;
  padding: .4rem .9rem;
  border-radius: 1.6rem;
  line-height: 1.7;
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: -3px;
}

.lable_round.label_sm {
  background: #282d41;
  color: #fff !important;
  display: inline-block;
  font-size: 1.2rem;
  padding: .4rem .9rem;
  border-radius: 1.6rem;
  line-height: 1.7;
  text-align: center;
}


/*
  공지사항 뷰
*/
.board_tit {padding: 15px; border-top: 1px solid #222222; border-bottom: 1px solid #cccccc;}
.board_tit dt {font-size: 1.8rem; color: #222;}
.board_tit dd {padding:10px 0 0; font-size: 15px;}
.board_tit dd span {color: #222; display: inline-block; padding-right: 5px; margin-left: 10px;}
.board_tit dd span:first-child {margin-left:0;}

.board_file { background: #f6f6f6; border-top: 1px solid #cccccc; padding: 1.5rem 2rem;}
.board_file dl {}
.board_file dl dt { color: #222; font-size: 1.4rem; white-space: normal; word-break: break-word;}
.board_file dl dt i {display: inline-block; font-size: 1.6rem; height: 13px; overflow: hidden;}
.board_file dl dt i:before {transform: rotate(30deg); display: inline-block;}
.board_file dl dd {padding-left: 20px;}
.board_file dl dd ul li {display: block; padding: 0.5rem 0;}
.board_file dl dd ul li a {display:block; position: relative; overflow: hidden; font-size: 1.3rem; color: #676767;}
.board_file dl dd ul li a strong {display: inline-block; position: relative;  padding:5px 0;}
.board_file dl dd ul li a strong::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #676767;
}
.board_file dl dd ul li a i {
  display: inline-block;
  background: #282d41;
  vertical-align: middle;
  position: relative;
  color: #fff;
  padding: 5px 13px;
  font-size: 13px;
  font-style: normal;
  margin-top: 1rem;
}
.board_file dl dd ul li a i::after {
  content:"\e865";
  font-family:Linearicons-Free;
  font-size: 15px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: -4px;
}

.board_data { background: #fff; padding: 2.5rem 0;}
.board_data p {padding-bottom: 1rem;}

.board_data .data_img {text-align: center; padding: 1rem 0;}
.board_data img { max-width:1080px;}
.board_data .data_txt {font-size: 1.4rem; line-height: 1.6; text-align: left; padding: 0 2rem;}
.board_data .field_data {padding: 1.5rem 0;}
.board_data .field_data p {text-align: left;}
.board_data .field_data dl {padding: 2rem 0; text-align: left;}
.board_data .field_data dl dt {padding: 8px 0; font-family: 'Noto Sans';}
.board_data .field_data dl.top_bar dt {padding-top: 15px; color: #222222; position: relative;}
.board_data .field_data dl.top_bar dt::before{
  content: "";
  width: 20px;
  height: 2px;
  background: #2d5cbc;
  position: absolute;
  top: 0;
  left: 0;
}
.board_data .field_data dl dd {color: #777; line-height: 1.6;}


.board_nav {}
.board_nav dl {display: table; width: 100%; border-top: 1px solid #ccc;}
.board_nav dl dt {display: table-cell; width: 75px; text-align: center; vertical-align: middle;}
.board_nav dl dd {display: table-cell; vertical-align: top; padding: 15px 0; line-height: 2;}
.board_nav dl dd a {color: #333; display: block;}
.board_nav dl.data_nav_prev dt::before {
  font-family: 'FontAwesome';
  content: "\f0de";
  font-size: 1.8rem;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1rem;
  margin-right:5px;
}
.board_nav dl.data_nav_next dt::before {
  font-family: 'FontAwesome';
  content: "\f0dd";
  font-size: 1.8rem;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1rem;
  margin-right:5px;
}


.board_reply {border-top: 1px solid #cccccc; padding: 2rem;}
.board_reply dl {display: table; width: 100%;}
.board_reply dl dt {display: block; color: #222; font-size: 1.4rem; padding-bottom: 1rem;}
.board_reply dl dt i {margin-right: 5px;}
.board_reply dl dd {display: block; color: #222; line-height: 1.7; font-size: 1.4rem;}
.board_reply dl dd span.date {
  display: block;
  color: #777777;
  font-size: 15px;
  font-family: HelveticaNeue-Light, tahoma, sans-serif,arial;
  padding: .5rem 0;
}



/*
  마이페이지
*/

.floor_shop_list > li .box_check_con {}
.floor_shop_list > li .box_check_con .bg {
  position: absolute;
  right: 0;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 31;
  opacity:.5;
  background: #e3e3e3;
}
.floor_shop_list > li .box_check_con .chk_round {
  z-index: 41;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 30px;
    height: 30px;
}

.chk_round input[type=checkbox].checkbox {width: 30px; height: 30px;}
.chk_round input[type=checkbox].checkbox+.label::before {
  border-radius: 40px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    border-width:2px !important;
    border-color: #626674;
    color: #626674;
}
.chk_round input[type=checkbox].checkbox:checked+.label:before {color: #fff; background: #2d5cbc !important; border-color:#2d5cbc !important;}

.edit_btn_con {overflow: hidden; padding-bottom: 15px;}
.edit_btn_con * {vertical-align: middle;}
.edit_btn_con ul {white-space: nowrap; float: right;}
.edit_btn_con ul li { display: inline-block; padding-left:3px;}
.edit_btn_con ul li a {width:74px; text-align: center;}
.edit_btn_con ul li i::after {vertical-align: top !important;}
.edit_btn_con ul li i {font-size: 1.6rem;}
.edit_btn_con label {color: #000; display: inline-block; padding-top: 6px;}

.no_favorite_data {border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 5rem 0;}
.no_favorite_data dl {}
.no_favorite_data dl dt {text-align: center;}
.no_favorite_data dl dt i {width:103px; display: inline-block;}
.no_favorite_data dl dd {text-align: center; font-size: 1.6rem; color: #222; padding: 2rem 0;}



/*
  FAQ
*/

.faq_list{width:100%; border-top:1px solid #666666; margin-bottom:1rem; margin-top:2.5rem;}
.faq_list .ac-cont>dt{
  border-bottom:1px solid #cccccc;
  position:relative;
  transition: all .3s;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.faq_list .ac-cont>dt span {display: inline-block; font-size: 1.3rem; text-align: center; color: #777777;}
.faq_list .ac-cont em {
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2.8rem;
  line-height: 2.4rem;
}
.faq_list .ac-cont>dt span.cate {width: 70px;}
.faq_list .ac-cont>dt em.ico_q {
  color: #fff;
  background: #2d5cbc;
}

.faq_list .ac-cont>dt .left_sec {display: table-cell; width: 110px; white-space: nowrap; vertical-align: middle;}
.faq_list .ac-cont>dt .right_sec { display: table-cell; vertical-align: middle;}
.faq_list .ac-cont>dt::after {clear: both; display: table; content: '';}
.faq_list .ac-cont>dt i { display: inline-block; position: absolute; right: 1.5rem; top: 50%; margin-top: -1.2rem;}
.faq_list .ac-cont>dt i::before {
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e874";
    color: #868686;
    font-size: 1.5rem;
}
.faq_list .ac-cont.on>dt i::before {content: "\e873";}
.faq_list .ac-cont>dt>a{display:block; word-break:break-word; padding: 1.5rem 4rem 1.5rem 0; line-height: 1.8; color: #000;}
.faq_list .ac-cont>dd{
  padding:1.2rem 2rem 1.2rem 5.3rem;
  display: none;
  position:relative;
  border-bottom:1px solid #ddd;
}
.faq_list .ac-cont>dd em {
  color: #fff;
  background: #282d41;
  position: absolute;
  left: 1.5rem;
  top: 2rem;
}
.faq_list .ac-cont>dd>div{ padding: 10px 0;}
.faq_list .ac-cont.on>dt>a{ color: #222;}
.faq_list .ac-cont.on>dt>span {}
.faq_list .ac-cont.on>dt{background-color:#fff;}
.faq_list .ac-cont.on>dd{background: #f6f6f6;}





/*
  고객문의
*/
.register_form {}
.register_form input, .register_form select {border:1px solid #000; font-size: 1.4rem; height: 4.2rem;}
.register_form select {padding-left: 10px;}
.register_block {padding: .5rem 0;}
.register_block .select-wrapper { padding-right: 0; width: 100%;}
.register_block .select-wrapper select {width: 100%;}
.register_block textarea {padding:10px; border:1px solid #000; font-size: 1.4rem;}

.register_form ul.comment { padding-top: 1.5rem;}
.register_form ul.comment > li {color: #777; padding: 2px 0; padding-left: 20px; position: relative;}
.register_form ul.comment > li::before {
    font-family: 'FontAwesome';
    content: "\f06a";
    font-size: 16px;
    color: #ccc;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
}

.register_form .remain_box {z-index: 21; color: #777; display: block; text-align: right; padding-top: 1rem;}

.register_btm {clear: both; padding: 2rem 0;}
.register_btm span .btn {padding: .8rem 4rem; border-radius: 3rem; font-size: 1.4rem;}
.register_btm span {display: inline-block; margin-left: 10px;}
.register_btm .btn i {margin-right: 3px; border:1px solid #222; padding: 1px 3px; font-size: 12px; margin-top: -3px; vertical-align: middle;}

.register_view .register_tit {padding-bottom: 2rem;}
.register_view dl {border-top: 1px solid #222;}
.register_view dl dt {padding:0.5rem 0; font-size: 1.6rem; color: #000;}
.register_view dl dd {padding:0.5rem 0;}
.register_view dl dd.btn_in {}
.register_view dl dd.btn_in a {
    display: block;
    text-align: center;
    position: relative;
    padding: 1.5rem 0;
    font-size: 1.4rem;
    color: #fff;
}
.pw_view dl {padding: 0 !important;}
.pw_view dl dt {padding:1rem 0 !important; font-size: 1.5rem !important; color: #000;}
.pw_view dl dd.btn_in a {
    display: block;
    text-align: center;
    position: relative;
    padding: 1.5rem 0;
    font-size: 1.4rem;
    color: #fff;
}
.pw_view dl dd.btn_in a.submit {border:1px solid #063c6d;}
.pw_view dl dd.btn_in span.col-2x {width: 47%; display: inline-block; padding: 0 1%;}

/*
  회원가입
*/
.join_gate {}
.register_form .join_gate {}
.join_gate dl {padding: 2rem 0 0;}
.join_gate dl dt {color: #000; font-size: 2.2rem; padding: 1rem 0; text-align: center;}
.join_gate dl dd {color: #222; font-size: 1.4rem;}
.join_gate dl dd.btn_in {padding: 1rem 0;}
.join_gate dl dd.btn_in a {display: block; text-align: center; position: relative; padding: 1.5rem 0; font-size: 1.4rem; color: #fff; margin-bottom:1rem;}
.join_gate dl dd.btn_in a i {position: absolute; left: 20px; top: 20px;}
.join_gate dl dd.btn_in a.bg_cacao {color: #3b1d1d !important;}
.join_gate dl dd.btn_in ul.comment {text-align: center;}
.join_gate dl dd.btn_in ul.comment li {display: inline-block;}

.join_info {padding:2rem; border:1px solid #ccc;}
.join_info dl {text-align: center;}
.join_info dl dt {position: relative; padding: 1.5rem 0; font-size: 2.2rem; line-height: 1.6; color: #222;}
.join_info dl dt::before {
  content: "";
  width: 16px;
  height: 1px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: 0;
  background: #2d5cbc;
}
.join_info dl dd {color: #777; font-size: 1.4rem; line-height: 1.6; padding: 1.5rem 0;}
.join_gate dl dd.chk_in {font-size: 1.3rem;}
.join_gate dl dd.chk_in * {vertical-align: middle;}
.join_info a i {margin-right: 5px; font-size: 1.6rem;}
.join_info .button_group {text-align: center; padding-bottom: 1rem;}
.join_info .button_group a {padding: .7rem 1.8rem; border-radius: 1.8rem;}


.join_agree {padding: 3.5rem 0;}
.join_agree .step_list {margin: 0 -15px; overflow: hidden;}
.join_agree .step_list li {width:25%; float: left; padding: 0 15px; text-align: center; position: relative;}
.join_agree .step_list li::before{
  content: "\e876";
  font-family: Linearicons-Free;
  color: #2d5cbc;
  position: absolute;
  right:-6px;
  top: 2rem;
  font-size: 1.4rem;
}
.join_agree .step_list.sns_step li {width:33.3333%;}
.join_agree .step_list li:last-child::before {color: transparent; display: none;}
.join_agree .step_list li .step_icon {
  width: 54px;
  height: 54px;
  display: inline-block;
  background-image:url(../img/icon.png);
  -webkit-background-size: 400px 400px;
  background-size: 400px 400px;
}
.join_agree .step_list li .step_icon.step_1 {background-position:0 -118px;}
.join_agree .step_list li .step_icon.step_2 {background-position:-54px -118px;}
.join_agree .step_list li .step_icon.step_3 {background-position:-109px -118px;}
.join_agree .step_list li .step_icon.step_4 {background-position:-164px -118px;}
.join_agree .step_list li.on .step_icon { background-position-y: -172px !important; }

.join_agree dl.step_title {padding: 1.5rem 0;}
.join_agree dl.step_title dt {font-size: 1.6rem; color: #222; padding:5px 0; font-family: arial, helvetica,  sans-serif; text-align: center;}
.join_agree dl.step_title dd {font-size: 2.4rem; color: #222; font-family: 'Noto Sans'; text-align: center;}

.join_agree .agree_list {border-top: 1px solid #cccccc; margin:1rem 0 2rem;}
.join_agree .agree_list li {padding: 1rem 1rem; border-bottom: 1px solid #cccccc; display: table; width: 100%;}
.join_agree .agree_list li:first-child {background-color: #eeeeee;}
.join_agree .agree_list li.on {background:#eee;}
.join_agree .agree_list li span {display: table-cell; vertical-align: middle;}
.join_agree .agree_list li span.chk_label {width: 25px;}
.join_agree .agree_list li span.txt {color: #222222; font-size: 1.3rem; padding: 0 1rem;}
.join_agree .agree_list li span.more_btn {width: 55px;}

.join_agree .agree_list li .more_btn a {font-size: 1.3rem; padding:.7rem 1.5rem;}
.join_agree .button_group {display: flex; margin: 0 -5px; padding: 2rem 0 0; justify-content: center; flex-direction: row;}
.join_agree .button_group span {width: 50%; padding: 0 5px;}
.join_agree .button_group a {padding: .9rem; font-size: 1.4rem; width: 100%;}
.join_agree .button_group a.box-blue {border:1px solid #063c6d;}

.layerPopup_in .agree_tit {text-align: center; font-size: 2rem; font-family: 'Noto Sans'; padding-bottom: 2rem;}
.privacy_con {height: 100vw; overflow-y: auto; border:1px solid #ccc; padding:2rem 1rem; color: #555555; font-size: 1.2rem;}
.page_etc {padding-top: 2rem;}
.page_etc .privacy_con {background: #fff; height: inherit; padding: 2rem 1.5rem;}
.privacy_con p {line-height: 1.8;}
.privacy_con h4 {font-size: 1.3rem; color: #222; font-family: 'Noto Sans'; padding: .5rem 0;}
.privacy_con h3 {font-size: 1.5rem; color: #222; font-family: 'Noto Sans'; padding: .5rem 0;}
.privacy_con .tit_txt {color: #222; line-height: 1.8; padding-bottom: .5rem;}
.privacy_con .bl_line>li:before {}
.privacy_con .bl_line>li ul.bl_dot>li:before {}
.privacy_con ol.num_list > li > ul.bl_kor > li {padding-left: 20px; position: relative;}
.privacy_con .bl_kor > li:before {content: ''; position: absolute; left: 0;}
.privacy_con .bl_kor > li.num_1:before {content: '가.';}
.privacy_con .bl_kor > li.num_2:before {content: '나.';}
.privacy_con .bl_kor > li.num_3:before {content: '다.';}
.privacy_con .bl_kor > li.num_4:before {content: '라.';}
.privacy_con .bl_kor > li.num_5:before {content: '마.';}
.privacy_con .bl_line>li {line-height: 1.8;}

.etc_top {position: relative; padding-bottom: 1.5rem;}
.etc_select {background: #fff;}
.etc_select> a {
    height: 4.5rem;
    line-height: 4.5rem;
    display: block;
    position: relative;
    padding:0 4rem 0 2rem;
    color: #000;
    font-size: 1.4rem;
    border: 1px solid #000000;
  }
.etc_select > a:after {
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e874";
    color: #000000;
    position: absolute;
    right: 14px;
    top: 15px;
}
.etc_select > a.open:after {
    content: "\e873";
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    position: absolute;
    right: 14px;
    top: 15px;
}
.etc_select > div {width:100%; overflow: hidden; display: none;}
.etc_select > div >.list {background-color:#444; width:100%; border-bottom:none;}
.etc_select > div >.list li{text-align:left;}
.etc_select > div >.list a {
  color:#fff;
  padding:1rem 2rem;
  text-align: left;
  display: block;
  font-size: 1.4rem;
  -webkit-transition: all .3s cubic-bezier(.25, .46, .45, 1);
  -moz-transition: all .3s cubic-bezier(.25, .46, .45, 1);
  -o-transition: all .3s cubic-bezier(.25, .46, .45, 1);
  transition: all .3s cubic-bezier(.25, .46, .45, 1);
}
.etc_select > div >.list a:hover { background: #383941;}


ol.circle_list>li {position:relative; padding:2px 0 2px 20px; line-height:1.8;}
ol.circle_list>li::before {display:block; position:absolute; left:0; top:1px;}
ol.circle_list>li:nth-child(1)::before {content:'\2460';}
ol.circle_list>li:nth-child(2)::before {content:'\2461';}
ol.circle_list>li:nth-child(3)::before {content:'\2462';}
ol.circle_list>li:nth-child(4)::before {content:'\2463';}
ol.circle_list>li:nth-child(5)::before {content:'\2464';}
ol.circle_list>li:nth-child(6)::before {content:'\2465';}
ol.circle_list>li:nth-child(7)::before {content:'\2466';}
ol.circle_list>li:nth-child(8)::before {content:'\2467';}
ol.circle_list>li:nth-child(9)::before {content:'\2468';}

ol.gana_list>li {position:relative; padding:2px 0 2px 20px; line-height:1.8;}
ol.gana_list>li::before {display:block; position:absolute; left:0; top:1px;}
ol.gana_list>li:nth-child(1)::before {content:'가.';}
ol.gana_list>li:nth-child(2)::before {content:'나.';}
ol.gana_list>li:nth-child(3)::before {content:'다.';}
ol.gana_list>li:nth-child(4)::before {content:'라.';}
ol.gana_list>li:nth-child(5)::before {content:'마.';}
ol.gana_list>li:nth-child(6)::before {content:'바.';}
ol.gana_list>li:nth-child(7)::before {content:'사.';}
ol.gana_list>li:nth-child(8)::before {content:'아.';}
ol.gana_list>li:nth-child(9)::before {content:'자.';}
ol.gana_list>li:nth-child(10)::before {content:'차.';}
ol.gana_list>li:nth-child(11)::before {content:'카.';}
ol.gana_list>li:nth-child(12)::before {content:'타.';}
ol.gana_list>li:nth-child(13)::before {content:'파.';}
ol.gana_list>li:nth-child(14)::before {content:'하.';}

ol.num_list {list-style-type: decimal; padding-left: 1.6rem;}
ol.num_list > li { padding: 2px 0; line-height: 1.8;}
ol.num_list > li > ol.gana_list {padding-left: 1.5rem; padding: .2rem 0;}
.privacy_con .line_box {
    border: 1px solid #d6d6d6;
    padding: 1.5rem;
    background: #f7f7f7;
    font-size: 1.4rem;
    line-height: 1.6;
}

.join_agree .auth_list {border: 1px solid #cccccc; margin: 2rem 0; text-align: center; padding: 2rem 0 3rem;}

.join_agree .auth_list .auth_tit {font-size: 1.6rem; color: #222; font-family: 'Noto Sans'; padding: 1rem 0;}
.auth_list li {display: inline-block; padding: 0 2rem;}
.auth_list li a {font-size: 0; color: transparent;}
.auth_list li .auth_icon {width: 103px; display: inline-block;}
/*.auth_list li .auth_icon {width: 122px; height: 124px; display: inline-block; background: url(../img/icon.png) no-repeat;}
.auth_list li .auth_icon.auth_1 {background-position:-466px -338px;}
.auth_list li .auth_icon.auth_2 {background-position:-466px -504px;}
.auth_list li a.on .auth_icon.auth_1, .auth_list li a:hover .auth_icon.auth_1 {background-position:-588px -338px !important;}
.auth_list li a.on .auth_icon.auth_2, .auth_list li a:hover .auth_icon.auth_2 {background-position:-588px -504px !important;}*/

.register_end {border: 1px solid #cccccc; margin: 1rem 0; text-align: center; padding: 2rem 1.5rem;}
.register_end dl {}
.register_end dl dt {font-size: 2.4rem; color: #222222; text-align: center; padding: 1rem 0;}
.register_end dl dt strong {font-family: 'Noto Sans Medium';}
.register_end dl dd {font-size: 1.4rem; color: #222222; text-align: center; padding: 1rem 0 2rem; line-height: 1.7;}

.register_form {}
.register_tit {font-size: 1.8rem; color: #222; font-family: 'Noto Sans'; padding: 2rem 0 1rem;}
.register_tit span {font-size: 1.3rem; display: inline-block; float: right; padding-top: 0.5rem;}
.register_form > dl {padding: 1rem 0;}
.register_form > dl > dt {font-size: 1.4rem; padding-bottom: 0.5rem;}
.register_form > dl > dd {}
.register_form > dl > dd * { vertical-align: middle; }
.register_form .check_btn {display: table; white-space: nowrap; width: 100%;}
.register_form .check_btn input {width: calc(100% - 95px);}
.register_form .check_btn a {
    width: 90px;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-left: 5px;
}
.register_form > dl > dd.phone_cell {display: table; table-layout: fixed; width: 100%;}
.register_form > dl > dd.phone_cell span { display: table-cell;}
.register_form > dl > dd.phone_cell span.phone_dash {padding-left: 15px; position: relative;}
.register_form > dl > dd.phone_cell span.phone_dash::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 1px;
  background: #000;
  top: 50%;
  left: 5px;
}
.register_form > dl > dd.phone_cell .select-wrapper {padding-right: 0;}
.register_form > dl > dd.phone_cell .select-wrapper select {width: 100%;}
.register_form > dl > dd.phone_cell input {width: 100%;}
.register_form > dl > dd.email_cell p span {display: table-cell;}
.register_form > dl > dd.email_cell p span:nth-child(2) {padding-left: 20px; position: relative;}
.register_form > dl > dd.email_cell p span:nth-child(2)::before {
  content: "@";
  position: absolute;
  left:3px;
  top: 6px;
  font-size: 1.6rem;
}
.register_form > dl > dd.email_cell p span input {width: 100%;}
.register_form > dl > dd.email_cell p {display: table; table-layout: fixed; width: 100%;}
.register_form > dl > dd.email_cell p .select-wrapper {padding-right: 0;}
.register_form > dl > dd.email_cell p .select-wrapper select {width: 100%;}
.register_form .letterchk {display: table; table-layout: fixed; width: 100%; padding: 1rem 0;}
.register_form .letterchk .label_box {display: table-cell; width: 35px; vertical-align: middle;}
.register_form .letterchk p.txt {display: table-cell; vertical-align: middle;}
.register_form .cell_box {display: table; table-layout: fixed; padding-bottom: 1rem;}
.register_form .cell_box dt {display: table-cell; vertical-align: middle; width: 100px;}
.register_form .cell_box dd {display: table-cell; vertical-align: middle;}
.register_form .cell_box dd label {margin-left:8px;}

/*
  대관 절차
*/
.steplist_con {background: #fff;}
h4.content_tit { text-align: center; font-size: 2rem; color: #222; padding: 2rem 0;}
ul.steplist {padding: 0 1.5rem;}
ul.steplist > li {position: relative; padding-bottom: 3.5rem; border-top: 1px solid #666666;}
ul.steplist > li::before {
  content:"\e874";
  font-family:Linearicons-Free;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 2.2rem;
  position: absolute;
  left: 50%;
  bottom: 8px;
  margin-left: -11px;
  color: #2858b7;
}
ul.steplist > li:last-child::before {display: none;}

ul.steplist > li .line_wrap { border-bottom: 1px solid #d7d7d7; display: table; table-layout: fixed; width: 100%; padding: 2rem 0 3rem;}
ul.steplist .left_sec {display: table-cell; text-align: center; vertical-align: middle; padding: 0 2rem; width: 35%;}
ul.steplist .left_sec .icon_img {width: 70px; display: inline-block;}
ul.steplist .right_sec {display: table-cell; vertical-align: middle;}
ul.steplist > li:first-child .icon_img::before {display: none;}
ul.steplist dl {}
ul.steplist dl dt {font-size: 1.6rem; color: #222; padding: 1rem 0; font-family: 'Noto Sans';}
ul.steplist dl dt strong {color: #2858b7;}
ul.steplist dl dd {line-height: 1.6; font-size: 1.4rem;}
.linebox_info {border:1px solid #cccccc; background: #fff; padding: 3rem 1.5rem 2rem; word-break: break-word;}
.linebox_info dt {font-size: 2.2rem; line-height: 1.6; color: #222; padding-bottom: 2.5rem; position: relative; text-align: center;}
.linebox_info dt::before {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  background: #2d5cbc;
}
.linebox_info .alert_txt { margin-top: 20px;}
.linebox_info .alert_txt i { color: #cccccc; margin-right: 5px;}
.linebox_info dl dd {text-align: center;}
.linebox_info dl dd p {padding: 5px 0;}
.linebox_info dl dd strong {display: inline-block; margin-left: 5px;}
.linebox_info .btn {width: 100%; padding: 1.5rem 0;}
.linebox_info .btn i {vertical-align: middle; margin-left: 5px; display: inline-block;}


.in_shop_con {}
.in_shop_con h3 {text-align: center; font-size: 2rem; color: #222; font-family: 'Noto Sans'; padding-top: 1rem; padding-bottom: .5rem;}
.in_shop_con .summary {font-size: 1.5rem; text-align: center;}
.in_shop_con ol {background: #fff; padding: 2rem 3rem; margin:2rem 0; word-break: break-word;}
.in_shop_con ol li {font-size: 1.4rem; color: #222;}
.in_shop_con .line_box {border: 1px solid #ccc; padding: 2rem; font-size: 1.4rem; word-break: break-word;}
.in_shop_con .line_box dl {line-height: 1.7; padding: 1rem 0;}
.in_shop_con .line_box dl dt { padding-bottom: 5px;}
.in_shop_con .line_box dl dt::before {
    font-family: 'FontAwesome';
    content: "\f06a";
    font-size: 1.5rem;
    color: #222;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.in_shop_con .line_box dl dd {color: #222;}
.in_shop_con .line_box dl dd span {display: inline-block; margin-right: 1rem;}
.in_shop_con .line_box dl dd strong {font-family: 'Noto Sans'; color: #222; display: inline-block; margin-right: .5rem;}
.in_shop_con .btn {width: 100%; padding: 1.5rem 0;}
.in_shop_con .btn i {vertical-align: middle; margin-left: 5px; display: inline-block;}

/*
  편의시설
*/
.convenience ul.comment {}
.convenience ul.comment > li {color: #777; padding: 2px 0; padding-left: 20px; position: relative;}
.convenience ul.comment > li::before {
    font-family: 'FontAwesome';
    content: "\f06a";
    font-size: 16px;
    color: #ccc;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
}
.convenience .conven_info_box {}
.convenience .conven_info_box a {display: block; width: 100%; text-align: center; padding: 1.6rem 0; margin: 1.5rem 0; font-size: 1.4rem;}
.conven_wrap {}
.conven_list { padding: 2rem 0;}
.conven_list .conv_tit {text-align: left; vertical-align: middle; font-size: 2rem; color: #222; display: table-cell;}
.conven_list .conv_tit * {vertical-align: middle;}
.conven_list .conv_tit i {display: inline-block; width: 36px; vertical-align: middle; margin-right: 10px;}
.conven_list .bg_box {background: #eee; text-align: center; padding: 2rem 1.5rem; font-size: 1.5rem; margin: 1rem 0;}
.conven_list .bg_box strong {color: #2d5cbc; font-family: 'Noto Sans';}
.conven_list .conv_detail .detail_con {border-bottom: 1px solid #d7d7d7; padding: 2.5rem 0 1.5rem;}
.conven_list .conv_detail .detail_con .left_sec {float: left; width: 90px; font-size: 1.5rem;}
.conven_list .conv_detail .detail_con > ul {display: table; table-layout: fixed;}
.conven_list .conv_detail .detail_con > ul > li {padding-bottom: 1rem;}
.conven_list .conv_detail .detail_con > ul > li dl {display: table; table-layout: fixed;}
.conven_list .conv_detail .detail_con > ul > li dl dt {display: table-cell; width: 40px;}
.conven_list .conv_detail .detail_con > ul > li dl dt span {
  display: inline-block;
  border-radius: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1.9;
  border:1px solid #222;
  text-align: center;
  font-size: 1.2rem;
}
.conven_list .conv_detail .detail_con > ul > li dl dd {font-size: 1.4rem; display: table-cell;}
.conven_list .conv_detail .detail_con > ul > li dl dd em {font-size: 1.3rem; color: #777; display: inline-block;}

#searchBox.bg_grey .search_tit {color: #222222 !important;}

/*
  오시는길
*/
.location {}
.location_list {}
.location_list h3 {text-align: center; font-size: 2rem; color: #222; font-family: 'Noto Sans'; padding: 2.5rem 0 1.5rem;}
.location_box {padding-bottom: 1.5rem;}
.location_box > li {padding:0.5rem 0;}
.location_box > li .list_con {
  border: 1px solid #ddd;
  border-top-color: #666666;
  position: relative;
  color: #222;
  padding:1.5rem 1rem;
  background: #fff;
}
.location_box dl {}
.location_box dl dt {
  text-align: center;
  vertical-align: middle;
  font-size: 1.7rem;
  padding-bottom: 1rem;
  color: #000;
}
.location_box dl dt strong { font-size: 1.4rem; }
.location_box dl dd {text-align: center; line-height: 1.8; font-size: 1.3rem;}
.location_box .button_group {padding: 1rem 0 0;}

.location_info {background: #fff; padding-bottom: 3rem !important;}
.location_info .locaton_wrap {position: relative; margin-bottom: 1.5rem;}
.location_info .locaton_wrap p.tit {text-align: left; vertical-align: middle; font-size: 1.8rem; color: #222; display: table-cell; padding-bottom: 1.5rem;}
.location_info .locaton_wrap p.tit i {display: inline-block; width: 46px; vertical-align: middle; margin-right: 5px;}
.location_info .locaton_wrap dl {padding-bottom: 1rem;}
.location_info .locaton_wrap dl dt {font-size: 1.4rem; font-family: 'Noto Sans'; color: #222; position: relative; padding-left: 7px; padding-bottom: 1rem;}
.location_info .locaton_wrap dl dt::before {
  content: "";
  width: 2px;
  height:2px;
  position: absolute;
  left: 0;
  top: 8px;
  background: #2d5cbc;
  border-radius: 2px;
}
.location_info .locaton_wrap dl dd {font-size: 1.4rem; padding-left: 7px;}
.location .floor_map_con {background: #fff; padding: 2rem 0;}
.location .floor_map_con .floor_zoom { top: 4rem;}


/*
  영업시간
*/
.opening h3 {text-align: center; font-size: 2rem; color: #222; font-family: 'Noto Sans'; padding: 2.5rem 0 0;}
.opening_bg_box {background: url(../img/contents/about/opening_bg.jpg) no-repeat; background-size:cover;}
.opening_bg_box dl {padding: 3rem; position: relative;}
.opening_bg_box dl::before {
  content: "";
  border:1px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 2rem;
}
.opening_bg_box dl dt {padding: 2rem 0 1rem; text-align: center; color: #fff; position: relative;}
.opening_bg_box dl dt::before {
  content: "";
  width: 12px;
  height:1px;
  background: #fff;
  position: absolute;
  left:50%;
  bottom: 0;
  margin-left: -6px;
}
.opening_bg_box dl dt p.tit {font-size: 1.8rem;}
.opening_bg_box dl dt p.time {font-size: 2.8rem; font-family: arial, sans-serif; padding: 1rem 0 0; font-weight: bold; letter-spacing: 2px;}
.opening_bg_box dl dd {font-size: 1.5rem; color:#ffee5c; padding: 1.5rem 0; text-align: center;}

.opening_list {padding: 2rem 0; margin:0 -0.3rem; overflow: hidden;}
.opening_list > li {padding:0.5rem 0.3rem; float: left; width: 50%;}
.opening_list > li .list_con {
  border: 1px solid #ddd;
  border-top-color: #666666;
  position: relative;
  color: #222;
  padding:0 0.5rem 1.5rem;
  background: #fff;
}
.opening_list > li .logo_box {border-bottom: 1px solid #ddd; text-align: center;}
.opening_list > li .logo_box img {width: 139px !important; display: inline-block;}
.opening_list > li > dl {}
.opening_list > li dl > dt {padding: 1rem 0; font-size: 1.7rem; font-family: 'Noto Sans'; color: #000; text-align: center;}
.opening_list > li dl > dd {font-size: 1.2rem; white-space: nowrap;}
.opening_list > li dl > dd > ul.shop_detail {}
.opening_list > li dl > dd > ul.shop_detail > li {text-align: center; padding: 3px 0;}
.opening_list > li dl > dd > ul.shop_detail > li span { display: inline-block;}
.opening_list > li dl > dd > ul.shop_detail > li strong {display: inline-block; color: #222; margin-left: 2px; font-family: 'Noto Sans';}
.opening_list .button_group {padding: 1rem 0 0;}

/* 아이폰 6 이하 */
@media screen and (max-width:374px){
  .opening_list {margin:0;}
  .opening_list > li { float: none; width: 100%;}
}


/*
  주차안내
*/
.parking_list {padding: 3rem 0; border-bottom:1px solid #ddd; margin: 0 1.5rem;}
.parking_list h3 {padding: 0 0 1rem; font-size: 2rem; font-family: 'Noto Sans'; color: #222;}
.parking_list .con_wrap {display: table; table-layout: fixed; width: 100%; font-size: 1.4rem;}
.parking_list .con_wrap dl {display: table; width:100%; padding: 1rem 0;}
.parking_list .con_wrap dl dt {width:46px; display: table-cell; white-space: nowrap; vertical-align: middle; text-align: left;}
.parking_list .con_wrap dl dd {font-size: 1.5rem; color: #222; display: table-cell; padding-left: 2rem; text-align: left; vertical-align: middle;}
.parking_list .con_wrap dl dd p {color: #222; line-height: 1.8;}
.parking_list .con_wrap dl dd.tit_cell {width:6rem; vertical-align: middle; color: #777; padding-left: 1rem;}
.parking_list .con_wrap i.ico {vertical-align: middle; width:46px;}
.parking_list .con_wrap ul.bl_list {}
.parking_list .con_wrap ul.bl_list li {line-height: 1.8;}


/*
  error
*/
.error_icon {text-align: center; padding:4rem 0 1rem;}
.error_icon i.ico {display: inline-block;}
.error_tit {text-align: center; padding-bottom: 20px;}
.error_tit dt {font-size: 2rem; color: #222; padding:2rem 1.5rem;}
.error_tit dt strong {font-family: 'Noto Sans Medium';}
.error_tit dd {padding: 1rem 0;}
.error_tit dd p {padding: 1rem 0; font-size: 1.4rem; line-height: 1.7;}
.button_group.error_btns {}
.button_group.error_btns span {
    width: 47%;
    display: inline-block;
    padding: 0 1%;
}
.button_group.error_btns a {
    padding: 1.2rem 0;
    margin: 0 5px;
    font-size: 1.4rem;
    display: block;
}
