@font-face {
  font-family:'NotoSanskr_Thin';
  src : url('webfont/NotoSanskr_Thin.eot'),
  url('webfont/NotoSanskr_Thin.woff') format('woff'),
  url('webfont/NotoSanskr_Thin.woff2') format('woff2'),
  url('webfont/NotoSanskr_Thin.ttf') format('truetype');
  font-style:normal;
  font-weight:100;
}

@font-face {
  font-family:'NotoSanskr_Light';
  src : url('webfont/NotoSanskr_Light.eot'),
  url('webfont/NotoSanskr_Light.woff') format('woff'),
  url('webfont/NotoSanskr_Light.woff2') format('woff2'),
  url('webfont/NotoSanskr_Light.ttf') format('truetype');
  font-style:normal;
  font-weight:200;
}

@font-face {
  font-family:'NotoSanskr_Demilight';
  src : url('webfont/NotoSanskr_Demilight.eot'),
  url('webfont/NotoSanskr_Demilight.woff') format('woff'),
  url('webfont/NotoSanskr_Demilight.woff2') format('woff2'),
  url('webfont/NotoSanskr_Demilight.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
}

@font-face {
  font-family:'NotoSanskr_Regular';
  src : url('webfont/NotoSanskr_Regular.eot'),
  url('webfont/NotoSanskr_Regular.woff') format('woff'),
  url('webfont/NotoSanskr_Regular.woff2') format('woff2'),
  url('webfont/NotoSanskr_Regular.ttf') format('truetype');
  font-style:normal;
  font-weight:400;
}  

@font-face {
  font-family:'NotoSanskr_Medium';
  src : url('webfont/NotoSanskr_Medium.eot'),
  url('webfont/NotoSanskr_Medium.woff') format('woff'),
  url('webfont/NotoSanskr_Medium.woff2') format('woff2'),
  url('webfont/NotoSanskr_Medium.ttf') format('truetype');
  font-style:normal;
  font-weight:600;
}

@font-face {
  font-family:'NotoSanskr_Bold';
  src : url('webfont/NotoSanskr_Bold.eot'),
  url('webfont/NotoSanskr_Bold.woff') format('woff'),
  url('webfont/NotoSanskr_Bold.woff2') format('woff2'),
  url('webfont/NotoSanskr_Bold.ttf') format('truetype');
  font-style:normal;
  font-weight:700;
}

@font-face {
  font-family: 'Linearicons-Free';
  src:url('webfont/Linearicons-Free.eot?w118d');
  src:url('webfont/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
    url('webfont/Linearicons-Free.woff2?w118d') format('woff2'),
    url('webfont/Linearicons-Free.woff?w118d') format('woff'),
    url('webfont/Linearicons-Free.ttf?w118d') format('truetype'),
    url('webfont/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
  font-weight: normal;
  font-style: normal;
}