@charset "utf-8";

.en_gothic {
  font-family: 'gothic' !important;
}

/*
  image icon Style
*/
.ico {
    position: relative;
    display: inline-block;
}
.ico:after {
    content: "";
    display: inline-block;
    background: url(../img/icon.png) no-repeat;
}
.ico.ico_aside_map:after {
  width:24px;
  height: 21px;
  background-position: 0 0;
}
.ico.ico_aside_floor:after {
  width:21px;
  height: 25px;
  background-position: -26px 0;
}
.ico.ico_aside_point:after {
  width:24px;
  height: 25px;
  background-position: -50px 0;
}
.ico.ico_aside_location:after {
  width:17px;
  height: 25px;
  background-position: -77px 0;
}
.ico.ico_sns_insta:after {
  width:22px;
  height: 24px;
  background-position: -107px 0;
}

.ico.ico-plus:after {
  width: 20px;
  height: 20px;
  background-position: -689px 0;
}
.ico.ico-minus:after {
  width: 20px;
  height: 20px;
  background-position: -709px 0;
}

.ico.ico-food:after {
  width:32px;
  height: 32px;
  background-position: 0 -29px;
}
.ico.ico-cafe:after {
  width:32px;
  height: 32px;
  background-position: -32px -29px;
}
.ico.ico-life:after {
  width:32px;
  height: 32px;
  background-position: -64px -29px;
}
.ico.ico-service:after {
  width:32px;
  height: 32px;
  background-position: -96px -29px;
}
.ico.ico-beauty:after {
  width:32px;
  height: 32px;
  background-position: 0 -145px;
}
.ico.ico-fashion:after {
  width:32px;
  height: 32px;
  background-position: -32px -145px;
}
.ico.ico-miscellaneous:after {
  width:32px;
  height: 32px;
  background-position: -64px -145px;
}
.ico.ico-parking:after {
  width:32px;
  height: 32px;
  background-position: -128px -29px;
}

.ico_nav_all:after {
  width:40px;
  height: 40px;
  background-position: 0 -65px;
}
.ico_nav_shop:after {
  width:40px;
  height: 40px;
  background-position: -40px -65px;
}
.ico_nav_food:after {
  width:40px;
  height: 40px;
  background-position: -80px -65px;
}
.ico_nav_coffee:after {
  width:40px;
  height: 40px;
  background-position: -120px -65px;
}
.ico_nav_beauty:after {
  width:40px;
  height: 40px;
  background-position: -160px -65px;
}
.ico_nav_fashion:after {
  width:40px;
  height: 40px;
  background-position: -200px -65px;
}
.ico_nav_other:after {
  width:40px;
  height: 40px;
  background-position: -240px -65px;
}
.ico_nav_service:after {
  width:40px;
  height: 40px;
  background-position: -280px -65px;
}

.ico_list_box:after {
  width:15px;
  height: 13px;
  background-position: -257px -34px;
}

.ico_cal_sm:after {
  width:16px;
  height: 16px;
  background-position: -279px -34px;
}
.ico_loc_sm:after {
  width:15px;
  height: 18px;
  background-position: -511px -20px;
}
.ico_time_sm:after {
  width:16px;
  height: 16px;
  background-position: -466px -20px;
}
.ico_file_clip:after {
  width:17px;
  height: 15px;
  background-position: -349px -34px;
}

.ico_conven_atm:after {
  width:71px;
  height: 71px;
  background-position: 0 -185px;
}
.ico_conven_disabled:after {
  width:71px;
  height: 71px;
  background-position: -72px -185px;
}
.ico_conven_stroller:after {
  width:71px;
  height: 71px;
  background-position: -144px -185px;
}
.ico_conven_smoking:after {
  width:71px;
  height: 71px;
  background-position: -216px -185px;
}
.ico_conven_parking:after {
  width:71px;
  height: 71px;
  background-position: -288px -185px;
}
.ico_conven_print:after {
  width:71px;
  height: 71px;
  background-position: -360px -185px;
}
.ico_conven_baby:after {
  width:71px;
  height: 71px;
  background-position: -432px -185px;
}
.ico_conven_meet:after {
  width:71px;
  height: 71px;
  background-position: -504px -185px;
}

.ico_cal_box:after {
  width:14px;
  height: 14px;
  background-position: -302px -34px;
}
.ico_join_naver:after {
  width:12px;
  height: 12px;
  background-position: -379px -20px;
}
.ico_join_face:after {
  width:7px;
  height: 14px;
  background-position: -404px -20px;
}
.ico_join_cacao:after {
  width:17px;
  height: 16px;
  background-position: -425px -20px;
}
.ico_login_people:after {
  width:22px;
  height: 22px;
  background-position: -466px -478px;
}
.ico_pencil:after {
  width:19px;
  height: 16px;
  background-position: -495px -482px;
}
.ico_check_edit:after {
  width:20px;
  height: 20px;
  background-position: -521px -478px;
}
.ico_check_close:after {
  width:20px;
  height: 20px;
  background-position: -546px -478px;
}
.ico_no_shop:after {
  width:118px;
  height: 118px;
  background-position: -591px -185px;
}
.ico_store_time:after {
  width:16px;
  height: 16px;
  background-position: -466px -20px;
}
.ico_store_phone:after {
  width:16px;
  height: 16px;
  background-position: -489px -20px;
}
.ico_store_map:after {
  width:15px;
  height: 18px;
  background-position: -511px -20px;
}
.ico_i_blue:after {
  width:17px;
  height: 17px;
  background-position: -533px -20px;
}
.ico_location_car:after {
  width:71px;
  height: 71px;
  background-position: 0 -554px;
}
.ico_location_subway:after {
  width:71px;
  height: 71px;
  background-position: -77px -554px;
}
.ico_location_bus:after {
  width:71px;
  height: 71px;
  background-position: -154px -554px;
}

.ico_parking_time:after {
  width:72px;
  height: 72px;
  background-position: 0 -626px;
}
.ico_parking_phone:after {
  width:72px;
  height: 72px;
  background-position: -72px -626px;
}
.ico_parking_money:after {
  width:72px;
  height: 72px;
  background-position: -143px -626px;
}
.ico_parking_info:after {
  width:72px;
  height: 72px;
  background-position: -216px -626px;
}
.ico_error:after {
  width:118px;
  height: 119px;
  background-position: -592px -639px;
}
/*
 button style
*/
.btn {
    cursor: pointer;
    background: transparent;
    border: 0;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    line-height: 1.42857143;
    display: inline-block;
    transition: all .3s;
    font-family: 'Noto Sans DemiLight';
}
.btn_round_sm {
  border:1px solid #282d41;
  background: #fff;
  color: #222;
  display: inline-block;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 20px;
}
.btn_round_nm {
  border:1px solid #282d41;
  background: #fff;
  color: #222;
  display: inline-block;
  font-size: 14px;
  padding: 8px 35px;
  border-radius: 25px;
}
.btn_round_blue {
  border:1px solid #2d5cbc;
  background: #fff;
  color: #2d5cbc;
  display: inline-block;
  font-size: 14px;
  padding: 8px 35px;
  border-radius: 25px;
}

.btn_round_blue_bg {
  border:1px solid #2d5cbc;
  background: #2d5cbc;
  color: #fff !important;
  display: inline-block;
  font-size: 14px;
  padding: 8px 35px;
  border-radius: 25px;
}
.btn_round_navy_bg {
  border:1px solid #282d41;
  background: #282d41;
  color: #fff !important;
  display: inline-block;
  font-size: 14px;
  padding: 8px 35px;
  border-radius: 25px;
}
.btn i {vertical-align: middle;}




/*
  layout
*/

#container {position: relative;}
#container.bg_container { background: #eeeeee;}

.ly_container {width: 1200px; margin:0 auto; position: relative;}

.layout_visual {height: 270px; width: 100%; display: table;}
.layout_visual .ly_container {display: table-cell; vertical-align: middle; height: 270px; width: 100%; text-align: center;}
  #subVis_0 {background: url(../img/layout_topvisual_1.jpg) no-repeat center 0;}
  #subVis_1 {background: url(../img/layout_topvisual_2.jpg) no-repeat center 0;}
  #subVis_2 {background: url(../img/layout_topvisual_3.jpg) no-repeat center 0;}
  #subVis_3 {background: url(../img/layout_topvisual_4.jpg) no-repeat center 0;}
  #subVis_4 {background: url(../img/layout_topvisual_5.jpg) no-repeat center 0;}
  #subVis_5 {background: url(../img/layout_topvisual_6.jpg) no-repeat center 0;}
  #subVis_6 {background: url(../img/layout_topvisual_7.jpg) no-repeat center 0;}

  #subVis_51 {background: url(../img/layout_topvisual_51.jpg) no-repeat center 0;}
  #subVis_52 {background: url(../img/layout_topvisual_52.jpg) no-repeat center 0;}
  #subVis_53 {background: url(../img/layout_topvisual_53.jpg) no-repeat center 0;}
  #subVis_54 {background: url(../img/layout_topvisual_54.jpg) no-repeat center 0;}
  #subVis_55 {background: url(../img/layout_topvisual_55.jpg) no-repeat center 0;}
  #subVis_56 {background: url(../img/layout_topvisual_56.jpg) no-repeat center 0;}
  #subVis_57 {background: url(../img/layout_topvisual_57.jpg) no-repeat center 0;}

.layout_visual .bg_tit { color: #fff; font-family: 'gothic'; font-size:60px; text-transform: uppercase; letter-spacing: 20px;}
.layout_visual .bg_summary {color: #fff; font-size:18px; padding: 20px 0 0;}
.layout_lnb {background:#eeeeee; height: 60px; text-align: center;}
.layout_lnb ul {display: inline-block;}
.layout_lnb ul li {display: inline-block; padding: 15px;}
.layout_lnb ul li a {display: block; position: relative; padding: 4px 0;}
.layout_lnb ul li a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: none;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.layout_lnb ul li.on a {color:#2d5cbc;}
.layout_lnb ul li.on a::before {background: #2d5cbc;}

.page_container {padding: 15px 0 30px; position: relative;}
.page_container .page_title {font-size:45px; padding: 50px 0; color: #222222; text-align: center; font-family: 'Noto Sans';}
.page_container h4.content_tit {font-size:25px; padding: 50px 0 0; color: #222;}
.page_container .page_title_sub {font-size:45px; padding:0 0 50px; color: #222222; text-align: center; font-family: 'Noto Sans';}
.page_container .page_title_sub .en_tit {padding-top: 40px; font-family: 'gothic';}

.sub_contents {}
.sub_contents.member {margin: 50px 0;}
.sub_contents.mypage {margin: 50px 0;}
.sub_contents.etc {margin: 50px 0;}
.sub_contents.etc .ly_container {padding:40px 120px 80px;}
.sub_contents.etc h2 {
    font-size: 35px;
    padding: 20px 0;
    color: #222222;
    text-align: center;
    font-family: 'Noto Sans';
}
.aside_menu { position: absolute; right: 0; top: -60px; z-index: 21;}
.aside_menu.fixed {position: fixed; right: 0; top: 50% !important; margin-top: -207px; z-index: 100; top: 189px;}
.aside_menu ul.quick_info {height: 240px; position: relative;}
.aside_menu ul.quick_info li {
    position: absolute;
    right: 0;
    height: 60px;
}
.aside_menu ul.quick_info li:nth-child(1) {top: 0;}
.aside_menu ul.quick_info li:nth-child(2) {top: 60px;}
.aside_menu ul.quick_info li:nth-child(3) {top: 120px;}
.aside_menu ul.quick_info li:nth-child(4) {top: 180px;}

.aside_menu ul.quick_info li a {
  width: 60px;
  height: 60px;
  display: block;
  border-bottom: 1px solid #252525;
  text-align: center;
  background: #343434;
  overflow: hidden;
}
.aside_menu ul.quick_info li i.ico {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 21;
}
.aside_menu ul.quick_info li:nth-child(1) i {right: 17px;}
.aside_menu ul.quick_info li:nth-child(3) i {right: 18px;}
.aside_menu ul.quick_info li:nth-child(4) i {right: 22px;}
.aside_menu ul.quick_info li a span {
  position: absolute;
  height: 60px;
  line-height: 60px;
  color: #fff;
  z-index: 20;
  text-align: left;
  opacity: 0;
  left: 30px;
}
.aside_menu .main_quick_nav {display: none; background: #2253b8; padding: 20px 0; width: 60px;}
.aside_menu .main_quick_nav p a { color: #fff; text-align: center; font-size: 13px; padding: 15px 0; display: block; font-family: Arial, helvetica, sans-serif;}
.aside_menu .main_nav {position: relative;}
.aside_menu .main_nav::before {
  content: "";
  width: 1px;
  height: 45px;
  position: absolute;
  background: rgba(255, 255, 255, .5);
  left: 50%;
  top: 45px;
}
.aside_menu .main_nav li {text-align: center; padding: 5px 0;}
.aside_menu .main_nav li a {
  display: inline-block;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border:2px solid #fff;
  background: none;
}
.aside_menu .main_nav li.on a {background: #fff;}
.aside_menu .main_nav li.quick_visual {padding: 0 0 40px;}
.aside_menu .main_nav li.quick_visual a {
  color: #fff; text-align: center; font-size: 13px; padding: 15px 0; display: block; font-family: Arial, helvetica, sans-serif;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border:0;
}
.aside_menu .main_nav li.quick_visual.on a {background: none;}


/*
  grid system
*/
.page_container .lg200, .page_container .lg400, .page_container .lg600, .page_container .lg800 {overflow: hidden;}
.page_container .lg200 .grid_left {float: left; width: 200px;}
.page_container .lg200 .grid_right {display: table;table-layout: fixed;}
.page_container .lg400 .grid_left {float: left; width: 400px;}
.page_container .lg400 .grid_right {display: table;table-layout: fixed;}
.page_container .lg600 .grid_left {float: left; width: 600px;}
.page_container .lg600 .grid_right {display: table;table-layout: fixed;}
.page_container .lg800 .grid_left {float: left; width: 800px;}
.page_container .lg800 .grid_right {display: table;table-layout: fixed;}

.page_container .rg600 .grid_left {display: table;table-layout: fixed; float: left;}
.page_container .rg600 .grid_right {float: right; width: 600px;}

.grid-col {clear: both; overflow: hidden; width:100%; display: table;}
.grid-col > li { display: table-cell;}
.grid-col.grid-col-5 > li {width: 20%;}
.grid-col.grid-col-4 > li {width: 25%;}
.grid-col.grid-col-3 > li {width: 33.3333%;}
.grid-col.grid-col-2 > li {width: 50%;}
.grid_200 {width:200px;}
.grid_400 {width:400px;}



/*
  Header
*/
header {z-index: 101; width: 100%; text-align: center; height: 89px; overflow: hidden; background:#fff;}
header.open {overflow: inherit;}

#navbg {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 89px;
  height: 1px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,.2);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,.2);
  z-index: 51;
}

.header_con {
    zoom: 1;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    z-index: 60;
}
.header_con:after {display:block; content:''; clear:both;}
.header_con h1 { position: absolute; left: 0; top: 0; transition:left .4s;}
.header_con h1 a {display: block; width: 210px; padding: 25px 0;}

.header_con .gnb {display: inline-block;}
.header_con .gnb_depth_1 {display: inline-block;}
.header_con .gnb_depth_1>li {display: table-cell;}
.header_con .gnb_depth_1>li.hidden_menu {position: absolute; left:-9999em; top:-9999em;}
.header_con .gnb_depth_1>li>a {
    display: block;
    color: #000;
    font-size: 17px;
    text-align: center;
    padding: 33px 30px 0;
    height: 89px;
    letter-spacing: -0.5px;
    overflow: hidden;
}
.header_con .gnb_depth_1>li.on>a {color: #1947ba;}
.header_con .gnb_depth_2 {position: absolute; display: none;}
.header_con .gnb_depth_2 li {display: block; padding-left: 40px; text-align: left;}
.header_con .gnb_depth_2 li a {display: inline-block; padding: 7px 0; color: #666666; position: relative;}
.header_con .gnb_depth_2 li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    right: 0;
    height: 1px;
    display: block;
    -webkit-transition:all .1s cubic-bezier(.25, .46, .45, 1);
    transition:all .1s cubic-bezier(.25, .46, .45, 1);
    width:0;
    background: #107bbd;
}
.header_con .gnb_depth_2 li a.on, .header_con .gnb_depth_2 li a.current, .header_con .gnb_depth_2 li a:hover {color:#107bbd;}
.header_con .gnb_depth_2 li a.current:after, .header_con .gnb_depth_2 li a.on:after {width:100%; left:0;}

.header_con .header_util {position: absolute; top: 35px; right:50px;}
.header_con .header_util .logininfo { display: inline-block; float: left;}
.header_con .header_util .logininfo a {font-size: 13px;}
.header_con .header_util .lang_link {float: left; margin-left: 20px;}
.header_con .header_util .lang_link ul {display: none;}
.header_con .header_util .lang_link > a { display: block; position: relative; padding-right: 15px;}
.header_con .header_util .lang_link > a::before {
  content: "\f0d7";
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  display: inline-block;
  z-index: 1;
  font-size: 14px;
  color: #4e75c6;
}
.header_con .header_util .lang_link > a::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: #4e4e4e;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.header_con .header_util .lang_link li {}
.header_con .header_util .lang_link li a {
  display: block;
  color: #888888;
  font-size: 13px;
  font-family: arial, helvetica,  sans-serif;
  font-weight: 600;
  padding: 7px;
}
.header_con .lang_link li.is-on a { color: #000;}

/*
 1280 header
*/
body.smallscreen .header_con h1 {left:40px;}
body.smallscreen .header_con .header_util {right:40px;}


/*
  main header
*/
/*header.main {position:absolute;top:0;left:0;}
header.main .header_con h1 a {background:url("../img/common/top_logo_w.png") 0 0 no-repeat;}
header.main.open .header_con h1 a {background:url("../img/common/top_logo.png") 0 0 no-repeat;}
header.main .header_con .gnb_depth_1>li>a {color:#fff;}
header.main.open .header_con .gnb_depth_1>li>a {color:#000;}
header.main .header_con .lang_link li a {color:rgba(255,255,255,0.6);}
header.main.open .header_con .lang_link li a {color: #888; }
header.main .header_con .lang_link li.is-on a {color:#fff;}
header.main.open .header_con .lang_link li.is-on a {color:#000;}*/


/*
  Footer
*/
footer { position:relative; clear: both; width: 100%; background: #434343; padding: 40px 0;}
footer .footer_con { position: relative; padding: 0 50px; min-width:1200px; text-align: right;}
footer address {text-align: left; padding-top: 10px;}
footer address p {color:#6a6a6a; font-size: 13px;}
footer address p.txt_copyright {font-family: Arial, helvetica,sans-serif; font-size: 12px; padding-top:3px;}
footer .footer_link {text-align: left;}
footer .footer_link li {display: inline-block;}
footer .footer_link li * {vertical-align: middle;}
footer .footer_link li a {color:#8c8c8c; font-size: 13px; display: block; padding-right:10px; padding-left: 13px; position: relative;}
footer .footer_link li a::before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 8px;
  background: #8c8c8c;
}
footer .footer_link li:first-child a::before {display: none;}
footer .footer_link li:first-child a {padding-left: 0;}

footer .familysite {position: absolute; right: 90px; top: 0; z-index: 21;}
footer .familysite .family_wrap {position: relative;}
footer .familysite .family_wrap > a {
  height: 35px;
  line-height: 35px;
  display: block;
  position: relative;
  padding: 0 60px 0 20px;
  text-align: left;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  border-bottom: 1px solid #696969;
  width: 180px;
  color: #8c8c8c;
  letter-spacing: 1px;
  transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
footer .familysite .family_wrap > a::after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0d8";
  color: #7c7c7c;
  position: absolute;
  right: 20px;
  top:8px;
  transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
footer .familysite .family_wrap > a.on::after {transform: rotate(180deg); transform-origin: 50% 50%; color: #efefef;}
footer .familysite .family_wrap > a.on {border-bottom: 1px solid #2d5cbc; color: #fff; background: #2d5cbc;}
footer .familysite .family_wrap .list_con {
  position: absolute;
  z-index: 99;
  width: 790px;
  height: 370px;
  border:3px solid #2d5cbc;
  background: #fff;
  right: 0;
  bottom:35px;
  display: none;
}
footer .familysite .family_wrap .list_con .flist {width: 100%; overflow: hidden; padding:30px;}
footer .familysite .family_wrap .list_con .flist li {float: left; width: 33.33333%;}
footer .familysite .family_wrap .list_con .flist li a { display: block; height: 100px; width: 100%; font-size: 0; color: transparent;}
footer .familysite .family_wrap .list_con .flist li.flist1 a {background: url(../img/family_logo_1.png) no-repeat center center;}
footer .familysite .family_wrap .list_con .flist li.flist2 a {background: url(../img/family_logo_2.png) no-repeat center center;}
footer .familysite .family_wrap .list_con .flist li.flist3 a {background: url(../img/family_logo_3.png) no-repeat center center;}
footer .familysite .family_wrap .list_con .flist li.flist4 a {background: url(../img/family_logo_4.png) no-repeat center center;}
footer .familysite .family_wrap .list_con .flist li.flist5 a {background: url(../img/family_logo_5.png) no-repeat center center;}
footer .familysite .family_wrap .list_con .flist li.flist6 a {background: url(../img/family_logo_6.png) no-repeat center center;}
footer .familysite .family_wrap .list_con .flist li.flist7 a {background: url(../img/family_logo_7.png) no-repeat center center;}
footer .familysite .family_wrap .list_con .flist li.flist8 a {background: url(../img/family_logo_8.png) no-repeat center center;}
footer .familysite .family_wrap .list_con .flist li.flist9 a {background: url(../img/family_logo_9.png) no-repeat center center;}

footer .sns_box {display: inline-block; position: absolute; right: 50px; top: 3px;}
footer .sns_box a {font-size: 0; text-indent: -9999em; display: block;}

.layerPopup {
    position:absolute;
    z-index:1000;
    display:none;
    left:50%;
    top:50%;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background-clip: padding-box;
    background:#fff;
}
.layerPopup h3 {font-size:36px; color: #222; padding-bottom: 12px;}
.layerPopup .layerPopup_in {display:block; padding:60px 50px; position: relative; text-align: left;}
.layerPopup .closeLayer {width:49px; height: 49px; display:inline-block;color:#4a525f; position:absolute; right:0; top:-86px; font-size:0; color: transparent;}
.imgIcon.closex:after {
  width:49px;
  height: 49px;
  background-position: -686px -21px;
}
.layerContent {
    padding-top: 50px;
    margin-top: 20px;
}
.layerContent.rejectbox {
  border-top: 1px solid #ccc;
  line-height: 1.7;
  font-size: 16px;
}
.layerPopup .closeLayer:hover {color:#095573;}
#layerScreen{z-index:999;position:fixed;top:0;left:0;right:0;bottom:0;background:black;filter:Alpha(opacity=30);opacity:0.6;-moz-opacity:0.3;display:none;}

.confirm_layer {width: 500px; margin-left: -250px; top: 200px;}
.confirm_layer dl {}
.confirm_layer.layerPopup .closeLayer { top: 20px; right: 20px; font-size: 48px; color: #222;}
.confirm_layer.layerPopup .closeLayer a {
    padding: 0;
    margin: 0;
    display: block;
    line-height: 0;
}
.confirm_layer dl dt {font-size: 35px; color: #222222; text-align: center;}
.confirm_layer dl dd {font-size: 15px; color: #222222; text-align: center; padding: 25px 0; line-height: 1.7;}
.confirm_layer dl dt strong, .confirm_layer dl dd strong {font-family: 'Noto Sans Medium';}

.confirm_layer .button_group a {margin:0 5px; padding-left:40px; padding-right:40px;}

.agree_layer {width: 1200px; margin-left: -600px; top: 315px;}
.agree_layer.layerPopup .closeLayer { top: 20px; right: 20px; font-size: 48px; color: #222;}
.agree_layer.layerPopup .closeLayer a {
    padding: 0;
    margin: 0;
    display: block;
    line-height: 0;
}
.agree_layer .summary {color: #222222; font-size: 15px; text-align: center; line-height: 1.7;}

.check_layer {width: 620px; margin-left: -310px; top: 315px;}
.check_layer.layerPopup .closeLayer { top: 20px; right: 20px; font-size: 48px; color: #222;}
.check_layer.layerPopup .closeLayer a {
    padding: 0;
    margin: 0;
    display: block;
    line-height: 0;
}

.check_layer dl { display: table; width: 100%;}
.check_layer dl dt {width: 80px; font-size: 16px; color: #222; display: table-cell;}
.check_layer dl dd {display: table-cell; white-space: nowrap;}
.check_layer dl dd * {vertical-align: middle;}
.check_layer dl dd p {color: #222; padding: 15px 0;}
.check_layer dl dd p.comt {padding-bottom: 25px;}
.check_layer dl dd a {height: 38px; line-height: 36px; padding: 0 25px;}
.check_layer .result_txt {font-size: 16px; text-align: center; color: #222; padding-bottom: 15px;}
.check_layer .result_txt strong {display: inline-block; color: #2d5cbc; font-size: 18px;}


.map_layer {width: 1200px; margin-left:-600px; top: 50%; margin-top:-305px; position:fixed;}
.map_layer.layerPopup .closeLayer { top: 20px; right: 20px; font-size: 48px; color: #222;}
.map_layer.layerPopup .closeLayer a {
    padding: 0;
    margin: 0;
    display: block;
    line-height: 0;
}
.map_layer .layerPopup_in {padding: 0;}
.map_layer .map_img img {width: 1200px;}


/*
  table Style
*/

/* 제목 가로형 */
.common_tb_row {width: 100%; table-layout: fixed;}
.common_tb_row thead th {
  padding: 19px 10px;
  font-size: 15px;
  background: #fff;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  color:#262626;
  text-align: center;
  vertical-align: middle;
}
.common_tb_row tbody td {
  padding: 17px 10px;
  font-size: 15px;
  word-break: break-all;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  color: #666;
  line-height: 1.6;
  vertical-align: middle;
  text-align: center;
}
/*.common_tb_row tbody tr td:first-child {border-left:0;}*/
.common_tb_row tbody td a:hover { text-decoration: underline;}
.common_tb_row tbody td.sbj {text-align: left; padding: 15px 20px;}
.common_tb_row tbody td.nodata {padding: 50px 0;}
.common_tb_row tbody td.num {font-family: Arial, Helvetica, sans-serif;}
.common_tb_row tbody td.date {font-family: Arial, Helvetica, sans-serif;}
.common_tb_row tbody tr.notice td {background:#f6f6f6;}

/* 제목 세로형 */
.common_tb_col { width: 100%; table-layout: fixed; border-top:1px solid #666666;}
.common_tb_col tbody th {
  vertical-align: middle;
  font-size: 15px;
  background: #282d41;
  border:1px solid #282d41;
  border-bottom:1px solid #bbbbbb;
  border-left: 0;
  border-right: 0;
  color: #fff;
  text-align: left;
  padding:20px 50px;
}
.common_tb_col tbody td {
  vertical-align: middle;
  color: #000;
  padding:20px 50px;
  font-size: 15px;
  text-align: left;
  border-left: 1px solid #bbbbbb;
  border-bottom:1px solid #bbbbbb;
}

.common_tb_col .br_btm0 {border-bottom:0 !important;}
.common_tb_col .br_top_line {border-top:1px solid #bbbbbb !important;}

.common_tb {width: 100%; table-layout: fixed; border-top: 1px solid #222;}
.common_tb thead th {
  padding: 10px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #d6d6d6;
  color:#262626;
  text-align: center;
  vertical-align: middle;
  background: #f7f7f7;
}
.common_tb tbody td {
  padding: 10px;
  font-size: 14px;
  word-break: break-all;
  text-align: center;
  border: 1px solid #d6d6d6;
  color: #666;
  line-height: 1.6;
  vertical-align: middle;
  text-align: center;
}
.common_tb tbody th {
  padding: 10px;
  font-size: 14px;
  word-break: break-all;
  text-align: center;
  border: 1px solid #d6d6d6;
  color: #666;
  line-height: 1.6;
  vertical-align: middle;
  text-align: center;
}

/*
    popup
*/
#container .popup_wrap {position:absolute;width:1210px;top:106px;left:90px;background:transparent;z-index:11;transition:left .4s;}
#container .popup_wrap .popup_list {position:relative;overflow:hidden;margin-left:-5px;}
#container .popup_wrap .popup_list .popup {float:left;margin-left:5px;margin-bottom:5px;display:none;}
#container .popup_wrap .popup_list .popup  .today {position:relative;background:#535557;padding:5px;color:#fff;font-size:13px;line-height:13px;}
#container .popup_wrap .popup_list .popup  .today a {position:absolute;right:5px;top:7px;color:#fff;font-size:13px;}
#container .popup_wrap .popup_list .popup:nth-child(3n+1) {clear:both;}

@media screen and (max-width:1470px){
.header_con .gnb {padding-right: 140px;}
}


/*
  검색바
*/
.select_box_top { text-align: right; margin-bottom: 30px;}
.select_box_top * {vertical-align: middle;}
.select_box_top > span { display: inline-block;}
.select_box_top .select { font-size: 0;}
.select_box_top .select .select-wrapper:before {top: 14px;}
.select_box_top .select select {height:50px; min-width: 140px; border: 1px solid #000;}
.select_box_top .search_in {width:300px; position: relative; border: 1px solid #000;}
.select_box_top .search_in .placeholder {display: inline-block;}
.select_box_top .search_in .placeholder label {font-size: 16px; top: 13px; color: #777;}
.select_box_top .search_in .placeholder input { height: 50px; line-height: 50px; width: 240px; border:0; font-size:16px;}
.select_box_top .search_in .btn {color:transparent; display: inline-block; padding: 10px;}
.select_box_top .search_in .btn:before {
    content: "\e86f";
    font-family: Linearicons-Free;
    position: absolute;
    top: 15px;
    right: 10px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    font-weight: normal;
    font-size: 18px;
    text-indent:0;
}

/*
  탭스타일
*/
.tab_boxtype {width: 100%; margin-bottom: 20px; overflow: hidden;}
.tab_boxtype li {display: block; float: left;}
.tab_boxtype li a {
  display: block;
  text-align: center;
  background: #eeeeee;
  padding: 16px 0;
  border:1px solid #fff;
  margin-left: -1px;
  color: #777777;
  font-size: 16px;
  transition: all .3s cubic-bezier(0.25, 0.4, 0, 1.03);
}
.tab_boxtype li.on a {color: #fff; background: #282d41; border-color:#282d41;}
.tablist_6 li {width: 16.66666%;}
.tablist_5 li {width: 20%;}
.tablist_4 li {width: 25%;}
.tablist_3 li {width: 33.33333%;}
.tablist_2 li {width: 50%;}
.tab_boxtype li:first-child a { margin-left: 0;}
.tab_content_wrap {}
.tab_content_wrap .tab_content {display: none; opacity: 0;  transition:all .3s cubic-bezier(.25, .46, .45, 1);}
.tab_content_wrap .tab_content.current {display: block; opacity: 1;}


.tab_boxline {margin-bottom: 20px; overflow: hidden;}
.tab_boxline li {display: block; float: left;}
.tab_boxline li a {
  display: block;
  text-align: center;
  background: #eeeeee;
  padding: 16px 0;
  border:1px solid #eeeeee;
  border-bottom-color:#282d41;
  color: #777777;
  font-size: 16px;
}
.tab_boxline li a.on {color: #282d41; background: #fff; border:1px solid #282d41; border-bottom-color: #fff; position: relative;}

/*
  층별안내 네비
*/

.floor_search_con { background:#2d5cbc; margin-top: 50px; position: relative;}
.floor_nav {width: 1200px; margin:0 auto; padding: 0 34px; position: relative;}
.floor_nav > ul {text-align: center; padding-bottom: 0;}
.floor_nav > ul > li { display: inline-block; padding-top: 40px; width: 138px;}
.floor_nav > ul > li > a {color: #fff; padding: 20px 30px; display: block;  text-align: center; font-family: 'Noto Sans Light';}
.floor_nav > ul > li > a i.ico {width: 70px; height: 70px; border:1px solid #fff; border-radius: 70px;}
.floor_nav > ul > li > a .m_txt {display: block; padding: 12px 0;}
.floor_nav > ul > li > a i.ico::after {margin-top: 15px;}
.floor_nav > ul > li > a.on {font-family: 'Noto Sans DemiLight'; position: relative;}
.floor_nav > ul > li > a.on i.ico {background: #ffffff;}
.floor_nav > ul > li > a.on i.ico::after { background-position-y:-105px;}
.floor_nav > ul > li > a.on em {
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #2f2f2f;
  position: absolute;
  left: 50%;
  bottom:0;
  margin-left: -8px;
}
.floor_search_con .sub_menu_bg {background: #282d41; position: absolute; width: 100%; top:194px; left: 0; right: 0; overflow: hidden;}
.floor_nav > ul > li > ul {position:absolute; width:100%; left:10px; height:30px; display:none;}
.floor_nav > ul > li > ul > li {display: inline-block; padding:0 25px;}
.floor_nav > ul > li > ul > li > a {color: #fff; display: block; padding: 20px 0; position: relative;}
.floor_nav > ul > li > ul > li > a.current {color: #ffee5c;}
.floor_nav > ul > li > ul > li > a.current::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #ffee5c;
  bottom: 0;
  position: absolute;
}

.floor_search_con .select_box_top {text-align: center; padding: 30px 0 50px;}
.floor_search_con .select_box_top .search_in {background: #fff; width: 560px;}
.floor_search_con .select_box_top .search_in .placeholder input {width:500px;}
.floor_search_con .select_box_top .search_in .btn:before {font-size: 24px; top: 8px;}

/*
  더보기 스타일
*/
.btn_page_more_con {
  text-align: center;
  background-color: #fff;
  padding: 40px 0;
}
.btn_page_more_con .btn_more {display: block; overflow: hidden;}
.btn_page_more_con .page_more_wrap {}
.btn_page_more_con .page_more_wrap .page_more_box {
    display: inline-block;
    border: 1px solid #222;
    border-radius: 110px;
    width: 110px;
}
.btn_page_more_con .page_more_wrap .page_more_box .more_txt {
  display: block;
  color: #333;
  font-size: 14px;
  line-height: 90px;
  height: 110px;
  position: relative;
}
.btn_page_more_con .page_more_wrap .page_more_box .more_txt::after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 1px;
  background: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 20px;
  margin-left: -10px;
}
.btn_page_more_con .page_more_wrap .page_more_box .more_txt::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 21px;
  background: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 10px;
  margin-left: 0;
}

.data_loading {position: relative;width: 100%; height: 54px;}
.data_loading .load_img {line-height:54px; font-size: 0; color: transparent;}
.data_loading .load_img:after {
    content:"\e874";
    position: absolute;
    top:50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin:-10px 0 0 -20px;
    background: url(../img/common/ajax-loader.gif) no-repeat;
}
