@charset "utf-8";
@import url("common.css");
@import url("layout.css");

.t_upper {text-transform: uppercase !important;}
.over_h {overflow: hidden !important;}

/*
    popup
*/
#container .popup_wrap {
	position:absolute;
	width:1200px;
	top:0;
	left:50%;
	background:transparent;
	z-index:21;
	margin-left: -600px;
}
#container .popup_wrap .popup_list {position:relative;overflow:hidden; line-height: 0;}
#container .popup_wrap .popup_list .popup {
	float:left;
	margin-left:0;
	margin-bottom:0;
	display:none;
	width: 400px;
	height: 400px;
}
#container .popup_wrap .popup_list .popup p.img {width: 400px; height: 365px; overflow: hidden;}
#container .popup_wrap .popup_list .popup p.img a {display: block; line-height: 0;}
#container .popup_wrap .popup_list .popup p.img img {width: 400px; height: 365px;}
#container .popup_wrap .popup_list .popup .today {position:relative;background:#333333;padding:5px 10px;color:#898989;font-size:13px;line-height:13px;}
#container .popup_wrap .popup_list .popup .today a {position:absolute;right:10px;top:7px;color:#fff;font-size:13px; color:#fff;}
#container .popup_wrap .popup_list .popup .slick-dots {
  width: 100%;
  position: absolute;
  left: 0;
  bottom:30px;
  display: block;
  text-align: center;
}
#container .popup_wrap .popup_list .popup .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -20000px;
  background: #ddd;
  border-radius: 10px;
  display: inline-block;
}
#container .popup_wrap .popup_list .popup .slick-dots li.slick-active {
  background: #1b2946;
}


/*
 main
*/
.main_container {padding:0;}
/* .visual_sec {background: url(../img/main/intro_img.jpg) no-repeat center 0; height: 911px;} */
.visual_sec .visual_contents {position: absolute; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0; z-index: 21;}
.visual_sec .main_tit { text-align: center; padding-top: 220px; color: #fff; opacity: 1;}
.visual_sec .main_tit dt {font-family: 'gothic' !important; letter-spacing: 25px; font-size: 75px;}
.visual_sec .main_tit dd {font-size: 18px; letter-spacing: 2px; padding-top: 30px;}
.visual_sec .search_con {padding-top: 100px;}
.visual_sec .search_con .cate_list {text-align: center;}
.visual_sec .search_con .cate_list li {
	display: inline-block;
    padding-top: 40px;
    width: 138px;
}
.visual_sec .search_con .cate_list li a {
	color: #fff;
    padding: 20px 30px;
    display: block;
    text-align: center;
}
.visual_sec .search_con .cate_list li a i {
	width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 70px;
    background: transparent;
    margin-bottom: 10px;
}

.visual_sec .search_con .cate_list li a i::after {margin-top: 15px;}
.visual_sec .search_con .cate_list li a.on i {background: #fff;}
.visual_sec .search_con .cate_list li a.on i.ico::after {background-position-y: -105px;}
.visual_sec .search_con .select_box_top {text-align: center; margin-bottom: 0; padding: 20px 0;}
.visual_sec .search_con .select_box_top .search_in {width: 580px; background: #fff;}
.visual_sec .search_con .select_box_top .search_in .placeholder input {width: 500px;}
.visual_sec .cate_data_con { padding: 80px 0; display: none;}
.visual_sec .cate_data_con ul {width: 100%; /*white-space: nowrap;*/}
.visual_sec .cate_data_con ul li {display: inline-block; margin-right: 20px;}
.visual_sec .cate_data_con ul li .list_con {position: relative;}
.visual_sec .cate_data_con ul li dl.con_default {}
.visual_sec .cate_data_con ul li dl.con_default dt {position: relative; margin-bottom: 20px;width: 220px; height: 220px;}
.visual_sec .cate_data_con ul li dl.con_default dt span.label {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 22;
	width: 65px;
	height: 65px;
	text-align: center;
	display:table;
}
.visual_sec .cate_data_con ul li dl.con_default dt span.label strong {display:inline-block; vertical-align: middle;}
.visual_sec .cate_data_con ul li dl.con_default dt span.label::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
#mCSB_1_scrollbar_horizontal .mCSB_dragger{ width: 12% !important; }
.mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 60px !important;
}

.visual_sec .cate_data_con ul li dl.con_default dt img {width: 220px; height: 220px;}
.visual_sec .cate_data_con ul li dl.con_default dd {
	color: #fff;
	text-align: left;
	font-size: 18px;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 220px;
    white-space: normal;
    overflow: hidden;
}

.visual_sec .cate_data_con li .detail_box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 24;
	background: #2d5cbc;
	padding: 0 10px;
	height: 220px;
}
.visual_sec .cate_data_con li .detail_box .shop_tit {
	vertical-align:middle;
	text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    color: #fff;
}
.visual_sec .cate_data_con li .detail_box .shop_tit::before{
	display:inline-block;
	width:0;
	min-height:70px;
	vertical-align:middle;
	content:'';
}
.visual_sec .cate_data_con li .detail_box dl {display: table; width: 100%; text-align: center; padding: 3px 0;}
.visual_sec .cate_data_con li .detail_box dl dt {display: inline-block; padding-right: 10px; color: #fff;}
.visual_sec .cate_data_con li .detail_box dl dd {display: inline-block; color: #fff;}
.visual_sec .cate_data_con li .detail_box .btns {padding: 20px 0; text-align: center;}
.visual_sec .cate_data_con li .detail_box .btns a {
	font-size: 0;
	display: inline-block;
	border:1px solid #fff;
	width: 45px;
	height: 45px;
	vertical-align: middle;
	border-radius: 45px;
	line-height: 45px;
	text-align: center;
	margin:0 3px;
}
.visual_sec .cate_data_con li .detail_box .btns a.favorit {}
.visual_sec .cate_data_con li .detail_box .btns a.linkgo {}
.visual_sec .cate_data_con li .detail_box .btns a::after{
	display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font-size: 18px;
	color: #fff;
	transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.visual_sec .cate_data_con li .detail_box .btns a.on,
.visual_sec .cate_data_con li .detail_box .btns a:hover {background: #fff;}
.visual_sec .cate_data_con li .detail_box .btns a.on::after,
.visual_sec .cate_data_con li .detail_box .btns a:hover::after {color:#2d5cbc;}
.visual_sec .cate_data_con li .detail_box .btns a.favorit::after {
	content: "\f08a";
	font-family: FontAwesome;
}
.visual_sec .cate_data_con li .detail_box .btns a.linkgo::after {
	content: "\e87a";
	font-family:'Linearicons-Free';
}


.visual_sec { overflow:hidden; position:relative; z-index:20; background:#fff; height: 911px;}
.visual_sec .main_postor {position:relative; height: 911px;}
.visual_sec .player {
    position:relative;
    background:#222;
    height: 911px;
}
.visual_sec .main_postor::before {
	transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 20;
	position: absolute;
}
.visual_sec .main_postor.bgon::before{
	background: rgba(0,0,0,.5);
}
.visual_sec .player video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.visual_sec .player * {
  vertical-align:top !important;
}

.postor_img {position:absolute; left:0; right: 0; top: 0; bottom:0; background-size:cover;}
.main_container section h3 {font-family: 'gothic' !important; font-size: 28px; color: #fff; text-transform: uppercase; padding-bottom: 80px;}

.event_sec { position: relative; height: 900px; background-color: #424c95; overflow: hidden; }
.event_sec .ly_container { position: relative; padding-top: 100px; z-index: 1000; }
.event_sec .event_con { position: absolute; width: 100%; }
.event_sec .slides { height: 900px; background-position: center center; background-size: cover; }
.event_sec .slides a { display: block; width: 1200px; margin: 170px auto 0; }
.event_sec .slick-arrow {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  cursor: pointer;
  margin-top: -45px;
  width: 90px;
  height: 90px;
}
.event_sec .slick-arrow:before {
  content: '';
  background: url(../img/icon.png) no-repeat;
  display: inline-block;
  width:31px;
  height: 56px;
}
.event_sec .slick-arrow.slick-prev {margin-left: -690px;}
.event_sec .slick-arrow.slick-prev:before {
	margin-left: -6px;
	background-position: -591px -5px;
}
.event_sec .slick-arrow.slick-next {margin-left: 600px;}
.event_sec .slick-arrow.slick-next:before {
	margin-left: -6px;
	background-position: -643px -5px;
}

.event_sec .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:100;
    text-align: center;
    bottom: 110px;
}
.event_sec .slick-dots>li {display: inline-block; margin: -6px 0;}
.event_sec .slick-dots>li>button {
  overflow: hidden;
  position: relative;
  width: 24px;
  height: 24px;
  text-indent: -10em;
  cursor: pointer;
}

.event_sec .slick-dots>li>button:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  background: rgba(255,255,255,.3);
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
.event_sec .slick-dots>li.slick-active>button:before {background: rgba(255,255,255,1);}
/* .event_sec .slides a {display: block;} */
.event_sec .slick-list {z-index: 22;}

.insta_sec {height: 900px; background: url(../img/main/insta_bg.jpg) no-repeat center 0; background-size:cover;}
.insta_sec .insta_list {overflow: hidden;}
.insta_sec .insta_list li {float: left; width: 50%; background: #3b5997; height: 270px;}
.insta_sec .insta_list li a {display: block; position: relative; padding-right: 300px; z-index: 23; height: 270px;}
.insta_sec .insta_list li a .txt_con {padding: 50px; z-index: 21;}
.insta_sec .insta_list li a .txt_con p {
	color: #fff;
	font-size: 14px;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
    -webkit-line-clamp: 5;
    white-space: normal;
    overflow: hidden;
    height: 100px;
}
.insta_sec .insta_list li .thumb {position: absolute; right: 0; top: 0; width: 300px; height: 270px; z-index: 21;}
.insta_sec .insta_list li.other {background: #282d41;}
.insta_sec .insta_list li.other a {padding-right: 300px; padding-left: 0;}
.insta_sec .insta_list li.other .txt_con {position: absolute; right: 0; top: 0; width: 300px; height: 270px;}
.insta_sec .insta_list li.other .thumb {position: static;}
.insta_sec .insta_list li .ico {margin-bottom: 20px;}
.insta_sec .insta_list li .txt {}

.guide_sec {height: 890px; background: url(../img/main/store_bg.jpg) no-repeat center 0; background-size:cover;}
.guide_sec .ly_container {padding: 135px 0;}
.guide_sec .guide_left {float: left; width: 410px;}
.guide_sec .guide_left .guide_tit {}
.guide_sec .guide_left .guide_tit dt {color: #222222; font-size: 50px; line-height: 1.1; padding: 25px 0;}
.guide_sec .guide_left .guide_tit dt strong {font-family: 'gothic' !important; font-weight:bold; display: block; font-size: 54px;}
.guide_sec .guide_left .guide_tit dd {padding: 25px 0;}
.guide_sec .guide_left .guide_tit dd .txt {line-height: 1.8; font-size: 15px; color: #222222;}
.guide_sec .guide_left .guide_tit dd .btn_in {padding: 20px 0 0;}
.guide_sec .guide_left .guide_tit dd .btn_in span {display: inline-block;}
.guide_sec .guide_left .guide_tit dd .btn_in a {position: relative; z-index: 21;}
.guide_sec .guide_left .guide_tit dd .btn_in a .bar {
	display: inline-block;
	width: 14px;
	height: 1px;
	background: #222;
	margin-top: -4px;
	margin-left: 5px;
}
.guide_sec .guide_left .guide_tit dd .link_list {padding-top: 30px;}
.guide_sec .guide_left .guide_tit dd .link_list li { margin-bottom: 5px;}
.guide_sec .guide_left .guide_tit dd .link_list li a {color: #222222; display: inline-block; padding: 5px 0; position: relative;}
.guide_sec .guide_left .guide_tit dd .link_list li a::before {
	content: "";
	width: 100%;
	height: 1px;
	background: #222;
	bottom: 0;
	position: absolute;
	left: 0;
}
.guide_sec .guide_con {
	display: table;
    table-layout: fixed;
}
.guide_sec .guide_con ul {margin:0 -10px;}
.guide_sec .guide_con ul li {float: left;  width: 33.3333%; padding: 0 10px; margin-bottom: 10px;}
.guide_sec .guide_con ul li.lotte_box {width: 66.6666%;}
.guide_sec .guide_con ul li a { position: relative; z-index: 21; display: block;}
.guide_sec .guide_con ul li dl {padding: 10px 0;}
.guide_sec .guide_con ul li dl dt {font-size: 18px; font-family: 'Noto Sans'; padding: 8px 0;}
.guide_sec .guide_con ul li dl dd {font-size: 15px; color: #777;}
.guide_sec .guide_con ul li dl dd .thumb {}
.guide_sec .guide_con ul li.lotte_box .thumb {}
.guide_sec .guide_con ul li.lotte_box dl {position: absolute; width:519px; left: 0; top: 180px; z-index: 21;}
.guide_sec .guide_con ul li.lotte_box dl dt, .guide_sec .guide_con ul li.lotte_box dl dd {color: #fff; text-align: center; width: 100%;}

.contents_title {font-size: 18px; text-align: center; margin-top: -30px; color: #222222; font-family: 'Noto Sans Light';}
.opening_title {font-size: 20px; text-align: center; color: #222222; font-family: 'Noto Sans';}

.overview_bginfo {display: table; width: 100%;}
.overview_bginfo .ly_container {
    display: table-cell;
    width: 100%;
    margin: inherit;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}
.overview_bginfo.bginfo1 {height: 470px; background: url(../img/contents/about/overview_info_bg.jpg) no-repeat center 0; background-size:cover;}
.overview_bginfo.bginfo2 {height: 457px; background: url(../img/contents/about/overview_info_bg2.jpg) no-repeat center 0; background-size:cover;}
.overview_bginfo.bginfo1 dt {font-size: 45px; letter-spacing: 10px;}
.overview_bginfo.bginfo1 dd {font-size: 18px; letter-spacing: 2px; padding-top: 30px;}

.overview_tit {
	color: #222222;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
}
.overview_tit strong {font-family: 'Noto Sans Medium';}

.top_line_tit { position: relative; padding-top: 22px;}
.top_line_tit::before {
	content: "";
	width:20px;
	height: 2px;
	background: #2d5cbc;
	position: absolute;
	left: 0;
	top: 0;
}
.img_line_box {border:1px solid #d9d9d9;}
.img_line_box .line_con {padding:85px; padding-bottom: 0;}
.img_line_box .line_con dl {margin-top: 50px;}
.img_line_box .line_con dl dt {color: #222222; font-size: 35px; line-height: 1.3; padding-bottom: 20px;}
.img_line_box .line_con dl dd {line-height: 1.8; font-size: 15px;}
.img_line_box .line_con dl dt strong {font-family: 'Noto Sans Medium';}
.img_line_box .top_line_tit {letter-spacing: 2px; color: #222222; font-size: 15px;}

.tit_txt_box {}
.tit_txt_box .tit {color: #222222; font-size: 35px; line-height: 1.3;}
.tit_txt_box .tit strong {font-family: 'Noto Sans Medium';}
.tit_txt_box .txt {line-height: 1.8; color: #777; font-size: 15px;}

.overview_bginfo.bginfo2 dl dt {color: #222222; font-size: 35px; line-height: 1.3; padding-bottom: 20px;}
.overview_bginfo.bginfo2 dl dt strong {font-family: 'Noto Sans Medium';}
.overview_bginfo.bginfo2 dl dd {line-height: 1.8;}
.overview_bginfo.bginfo2 dl dd p {padding: 15px 0;}
.overview_bginfo.bginfo2 dl dd .tit {color: #222222; font-size: 18px;}
.overview_bginfo.bginfo2 dl dd .txt {color: #777777; font-size: 15px;}

/*
	층별안내
*/
.floor_info_tbl .ico {font-size: 0; text-indent:-9999em; color: transparent;}
.floor_info_tbl .item_list {}
.floor_info_tbl .item_list li {
	display: inline-block;
	word-break: break-word;
	line-height: 1.6;
	position: relative;
	margin-right: 8px;
	padding:5px 8px 5px 0;
}
.floor_info_tbl .item_list li::before {
	content: "";
	width: 2px;
	height: 2px;
	background: #3d3d3d;
	right: -2px;
	top: 16px;
	position: absolute;
}
.floor_info_tbl .item_list li:last-child {padding-left: 0;}
.floor_info_tbl .item_list li:last-child::before {background: none;}
.floor_info_tbl dl {display: table; width: 100%;}
.floor_info_tbl dl dt {display: table-cell; width: 40px; vertical-align:top; padding-top: 5px;}
.floor_info_tbl dl dd {display: table-cell; vertical-align: middle; padding-left: 8px;}
.floor_info_tbl tbody th {padding: 20px 0 20px 30px; vertical-align: top;}
.floor_info_tbl tbody td {padding: 20px 35px;}
.floor_info_tbl tbody td.tit_cell {border-bottom: 1px solid #666; color: #222; border-left: 1px solid #666; font-family: 'Noto Sans Medium';}
/* .floor_info_tbl2 { table-layout: fixed; width: 100%; }
.floor_info_tbl2 thead th { padding-bottom: 40px; color: #222222; font-family: 'Noto Sans Medium'; font-size: 18px; } */
.floor_info_link { padding: 60px; border: 1px solid #cccccc; text-align: center; }
.floor_info_link .floor_info_link_title { color: #222222; font-size: 35px; }
.floor_info_link .floor_info_link_title>strong { font-family: 'Noto Sans Medium'; }
.floor_info_link .floor_info_link_sub { padding: 25px 0 55px; color: #222222; font-size: 15px; }
.floor_info_link>a { display: inline-block; width: 300px; height: 60px; line-height: 60px; background-color: #2d5cbc; color: #fff; font-size: 15px; }


/*
	매장검색 리스트
*/
.floor_list_wrap {}
.floor_list_wrap .list_con_wrap {padding:17px 0 40px; }
.floor_list_wrap .floor_shop_list {clear: both; overflow: hidden; margin:0 -14px;}
.floor_list_wrap .floor_shop_list > li {float:left; width:20%; padding:14px 14px;}
.floor_list_wrap .floor_shop_list > li.no_result {float: none; width: 100%; padding: 160px 0; text-align: center;}
.floor_list_wrap .floor_shop_list > li .list_con {border:1px solid #ddd; height: 220px; position: relative; color: #fff;}
.floor_list_wrap .floor_shop_list > li .detail_box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 21;
	background: #2d5cbc;
	opacity: 0;
}
.floor_list_wrap .floor_shop_list > li .detail_box .shop_tit {
	vertical-align:middle;
	text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}
.floor_list_wrap .floor_shop_list > li .detail_box .shop_tit::before{
	display:inline-block;
	width:0;
	min-height:70px;
	vertical-align:middle;
	content:'';
}
.floor_list_wrap .floor_shop_list > li .detail_box dl {display: table; width: 100%; text-align: center; padding: 3px 0;}
.floor_list_wrap .floor_shop_list > li .detail_box dl dt {display: inline-block; padding-right: 10px;}
.floor_list_wrap .floor_shop_list > li .detail_box dl dd {display: inline-block;}
.floor_list_wrap .floor_shop_list > li .btns {padding: 20px 0; text-align: center;}
.floor_list_wrap .floor_shop_list > li .btns a {
	font-size: 0;
	display: inline-block;
	border:1px solid #fff;
	width: 45px;
	height: 45px;
	vertical-align: middle;
	border-radius: 45px;
	line-height: 45px;
	text-align: center;
	margin:0 3px;
}
.floor_list_wrap .floor_shop_list > li .btns a.favorit {}
.floor_list_wrap .floor_shop_list > li .btns a.linkgo {}
.floor_list_wrap .floor_shop_list > li .btns a::after{
	display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font-size: 18px;
	color: #fff;
	transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.floor_list_wrap .floor_shop_list > li .btns a.on,
.floor_list_wrap .floor_shop_list > li .btns a:hover {background: #fff;}
.floor_list_wrap .floor_shop_list > li .btns a.on::after,
.floor_list_wrap .floor_shop_list > li .btns a:hover::after {color:#2d5cbc;}
.floor_list_wrap .floor_shop_list > li .btns a.favorit::after {
	content: "\f08a";
	font-family: FontAwesome;
}
.floor_list_wrap .floor_shop_list > li .btns a.linkgo::after {
	content: "\e87a";
	font-family:'Linearicons-Free';
}

.floor_list_wrap .floor_shop_list > li .box_check_con {}
.floor_list_wrap .floor_shop_list > li .box_check_con .bg {
	position: absolute;
	right: 0;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 31;
	opacity:.5;
	background: #e3e3e3;
}
.floor_list_wrap .floor_shop_list > li .box_check_con .chk_round {
	z-index: 41;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
}

.chk_round input[type=checkbox].checkbox {width: 40px; height: 40px;}
.chk_round input[type=checkbox].checkbox+.label::before {
	border-radius: 40px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 38px;
    border-width:2px !important;
    border-color: #626674;
    color: #626674;
}
.chk_round input[type=checkbox].checkbox:checked+.label:before {color: #fff; background: #2d5cbc !important; border-color:#2d5cbc !important;}

.floor_list_wrap .floor_shop_list > li .shop_box {}
.floor_list_wrap .floor_shop_list > li .shop_box dl {width: 100%;}
.floor_list_wrap .floor_shop_list > li .shop_box dl dt {
	display: table-cell;
	text-align: center;
	height: 120px;
	width: 215px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	padding-bottom: 15px;
	padding-top: 10px;
}
.floor_list_wrap .floor_shop_list > li .shop_box dl dt::before {
	content: "";
	width: 168px;
	height: 1px;
	background: #cfcfcf;
	position: absolute;
	bottom:5px;
	left: 25px;
	z-index: 20;
}
.floor_list_wrap .floor_shop_list > li .shop_box dl dt img {max-width: 140px; max-height: 95px;}
.floor_list_wrap .floor_shop_list > li .shop_box dl dt * {vertical-align: middle;}
.floor_list_wrap .floor_shop_list > li .shop_box dl dd div {
	display: table-cell;
	vertical-align: middle;
}
.floor_list_wrap .floor_shop_list > li .shop_box dl dd span {
	height: 3em;
	color: #555;
    font-size: 18px;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
}
.floor_list_wrap .floor_shop_list > li .shop_box dl dd {
	display: table;
	height: 95px;
	text-align: center;
	width: 100%;
	padding: 0 25px;
}
.floor_list_wrap .floor_shop_list > li .shop_box dl dd * {vertical-align: middle;}


/*
	편의시설
*/
.floor_convenience {padding-bottom: 50px;}
.floor_convenience .bg_info_box { background: #eeeeee; text-align: center; padding: 25px 0; color: #555555; font-size: 16px;}
.floor_convenience .bg_info_box strong {margin:0 2px;}
.conven_icons {overflow: hidden; padding: 40px 0; margin: 0 -50px;}
.conven_icons li {float: left; width: 25%; padding: 10px 0;}
.conven_icons li a {font-size: 16px; display: block; padding: 0 50px;}
.conven_icons li a * {vertical-align: middle;}
.conven_icons li a i {margin-right:25px;}
.conven_icons li a:hover i:after, .conven_icons li a.on i:after {background-position-y :-258px !important;}
.conven_icons li a:hover, .conven_icons li a.on {color: #000; font-family: 'Noto Sans Medium';}



#floorTabCon .floor_map_con {display: none; opacity: 0;}
#floorTabCon .floor_map_con.current {display: block; opacity: 1; padding-bottom: 60px;}
#floorTabCon .floor_map_con .inner_map {display: none; position: relative;}

.floor_btm_box {margin-top: 60px;}
.floor_btm_box h3 {
	font-size: 25px;
    color: #222;
    font-family: 'Noto Sans';
    padding-bottom: 25px;
}
.floor_btm_box .box_con {padding: 70px; border:1px solid #cdcdcd; font-size: 15px; line-height: 1.6;}
.floor_btm_box .box_con .box_con_wrap { overflow: hidden;}
.floor_btm_box .box_con .box_con_wrap .grid_left {float: left; width:50%;}
.floor_btm_box .box_con .box_con_wrap .grid_right { display: table; table-layout: fixed;}
.floor_btm_box dl {display: table; width: 100%; padding: 5px 0;}
.floor_btm_box dl dt {display: table-cell;  vertical-align: middle; width: 45px;}
.floor_btm_box dl dt span {
	display: inline-block;
	border-radius: 30px;
	text-transform: uppercase;
	width: 30px;
	height: 30px;
	border:3px solid #dbdbdb;
	color: #222;
	text-align: center;
	font-size: 14px;
	line-height: 1.6;
}
.floor_btm_box dl dd { color: #555555; vertical-align: middle; display: table-cell;}
.floor_btm_box .btn {width: 300px; height: 60px; line-height: 60px; text-align: center; font-size: 14px;}

.tab_boxtype li a.false {cursor: default;}


.map_view_sec {position: relative; height: 610px; overflow: hidden;}
.map_view_sec .map_pop_box {position: absolute; width: 379px; height: 295px; background: #fff; padding: 50px; left: 50px; bottom: 50px;}
.map_view_sec .map_pop_box dl {}
.map_view_sec .map_pop_box dl dt {font-size: 28px; font-family: 'Noto Sans Medium'; padding-bottom: 20px; color: #222;}
.map_view_sec .map_pop_box dl dd {font-size: 16px; color: #555; padding-bottom: 30px;}
.map_view_sec .map_pop_box dl dd strong {font-size: 28px; color: #2d5cbc;}
.map_view_sec .map_pop_box .infotxt {}
.map_view_sec .info_list {}
.map_view_sec .info_list li {position: absolute;}
.map_view_sec .info_list li dl {display: table;}
.map_view_sec .info_list li dl dt {display: table-cell; vertical-align: middle; color: #fff; padding-right:5px; font-size: 16px;}
.map_view_sec .info_list li dl dd {display: table-cell; vertical-align: middle;}
.map_view_sec .info_list li dl dd strong {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 25px;
	background: #fff;
	color: #222;
	border-radius: 40px;
	text-align: center;
	font-family: HelveticaNeue-Light, arial, sans-serif;
	box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.4);
}
.map_view_sec .info_list li.on strong {background: #282d41; color: #fff !important;}
.map_view_sec .info_list li.cf_num1 {left: 826px; top: 365px;}
.map_view_sec .info_list li.cf_num2 {left: 635px; top: 310px;}
.map_view_sec .info_list li.cf_num3 {left: 665px; top: 118px;}
.map_view_sec .info_list li.cf_num4 {left: 555px; top: 443px;}

.map_view_sec2 {position: relative; height: 610px; }
.map_view_sec2 .info_list {}
.map_view_sec2 .info_list li {position: absolute; transition: transform .3s cubic-bezier(0.25, 0.4, 0, 1.03); }
.map_view_sec2 .info_list li dl {display: table;}
.map_view_sec2 .info_list li dl dt {display: table-cell; vertical-align: middle; color: #fff; padding-right:5px; font-size: 16px;}
.map_view_sec2 .info_list li dl dd {display: table-cell; vertical-align: middle;}
.map_view_sec2 .info_list li dl dd strong { display: inline-block; width: 40px; height: 40px; line-height: 40px; font-size: 16px; background: #fff; color: #222; border-radius: 40px; text-align: center; font-family: Linearicons-Free; font-weight: bold; box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.4); }
.map_view_sec2 .info_list li dl dd strong::before { content: "\e86f"; }
.map_view_sec2 .info_list li.on { transform: scale(1.2); }
.map_view_sec2 .info_list li.on dl dt {text-shadow:3px 3px 10px rgba(0,0,0,.5);}


.map_view_sec2 .info_list li a {display: block; position: relative; z-index: 21;}
.map_view_sec2 .info_list li.cf_num1 {left: 756px; top: 397px;}
.map_view_sec2 .info_list li.cf_num2 {left: 587px; top: 335px;}
.map_view_sec2 .info_list li.cf_num3 {left: 634px; top: 182px;}
.map_view_sec2 .info_list li.cf_num4 {left: 522px; top: 450px;}
.map_view_sec2 .map_info_txt {position: absolute; left:70px; top: 380px; font-size: 16px; color: #555;}
.map_view_sec2 .map_info_txt dl {}
.map_view_sec2 .map_info_txt dl dt {font-size: 35px; color: #222; padding-bottom: 20px; font-family: 'Noto Sans';}
.map_view_sec2 .map_info_txt dl dd {}
.pick_icon {
	position: absolute;
	width: 74px;
	height: 47px;
	margin-left: -16px;
	margin-top: -47px;
	background: url(../img/contents/guide/ico_pick.png) no-repeat;
	transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.floor_convenience .tab_map_con {padding: 60px 0;}
.floor_map_con { position: relative; margin-top: 10px; width: 1200px; height: 1060px; overflow: hidden; }
.floor_map_con .floor_map_small {  }
.floor_map_con .floor_map_big { position: absolute; left: 0; top: 0; width: 2400px; height: 2120px; cursor: move; }
.floor_map_con .floor_num {position: absolute; z-index: 21; left: 60px; top: 55px; font-size: 50px; font-family: HelveticaNeue-Light, arial, sans-serif;}
.floor_map_con .floor_navi { border:1px solid #777777; position: absolute; right: 40px; top: 40px; z-index: 21;}
.floor_map_con .floor_navi li {border-bottom: 1px solid #777777;}
.floor_map_con .floor_navi li a { display: block; width: 68px; height: 68px; color: #222; line-height: 68px; font-size: 16px; text-align: center; background: #fff; }
.floor_map_con .floor_navi li.on a { background: #2d5cbc; position: relative; z-index: 21; color: #fff !important;}
.floor_map_con .floor_navi li.disabled {border-bottom: 1px solid #cfcfcf;}
.floor_map_con .floor_navi li.disabled a {color: #aaaaaa; cursor: default; }
.floor_map_con .floor_navi li:last-child {border-bottom:0;}

.floor_map_con .floor_zoom { border:1px solid #777777; position: absolute; right: 40px; bottom: 40px; z-index: 21;}
.floor_map_con .floor_zoom {border-bottom: 1px solid #777777;}
.floor_map_con .floor_zoom a { display: block; width: 68px; height: 68px; color: #222; line-height: 68px; border-bottom: 1px solid #777777; font-size: 16px; text-align: center; background: #fff; }
.floor_map_con .floor_zoom a:hover { background: #2d5cbc; position: relative; z-index: 21; color: #fff !important;}
.floor_map_con .floor_zoom a:hover .ico:after { background-position-y: -20px; }
.floor_map_con .floor_zoom a:last-child {border-bottom:0;}

.floor_map_con .map_pop_box { position: absolute; z-index: 21; width: 370px; left: 415px; top: 50px; padding: 50px 0 20px; background-color: #fff; text-align: center; }
.floor_map_con .map_pop_box .closex { position: absolute; right: 17px; top: 15px; color: #b5b5b5; font-size: 24px; }
.floor_map_con .map_pop_box dt { color: #222; font-size: 25px; }
.floor_map_con .map_pop_box dd { margin-top: 20px; color: #555555; font-size: 14px; }
.floor_map_con .map_pop_box dd li { margin-top: 5px; }
.floor_map_con .map_pop_box dd li .ico { margin-right: 6px; vertical-align: middle; }
.floor_map_con .map_pop_box dd li strong { color: #222222; margin-left: 10px; }

/* .floor_map_con .info_icons {position: absolute; z-index: 21; width: 100%; bottom: 80px; left: 0; text-align: center;}
.floor_map_con .info_icons li {display: inline-block; color: #222;  padding: 0 15px;}
.floor_map_con .info_icons li * {vertical-align: middle;}
.floor_map_con .info_icons li i {margin-right: 10px;}
.floor_map_con .ico_conven_info1:after { width:40px; height: 40px; background-position: -371px -128px; }
.floor_map_con .ico_conven_info2:after { width:40px; height: 40px; background-position: -412px -128px; }
.floor_map_con .ico_conven_info3:after { width:40px; height: 40px; background-position: -453px -128px; }
.floor_map_con .ico_conven_info4:after { width:40px; height: 40px; background-position: -494px -128px; }
.floor_map_con .ico_conven_info5:after { width:40px; height: 40px; background-position: -535px -128px; } */


#floorTabCon .floor_map_con {height: inherit; margin-top: inherit;}

.floor_map_con .label_icon {
	position: absolute;
	display: inline-block;
	width: 47px;
	height: 48px;
	background: url(../img/icon.png) no-repeat;
	text-indent: -9999em;
}
.floor_map_con .label_icon.icon_atm {background-position: -371px -76px;}
.floor_map_con .label_icon.icon_disabled {background-position: -419px -76px;}
.floor_map_con .label_icon.icon_stroller {background-position: -466px -76px;}
.floor_map_con .label_icon.icon_smoking {background-position: -514px -76px;}
.floor_map_con .label_icon.icon_parking {background-position: -561px -76px;}
.floor_map_con .label_icon.icon_print {background-position: -609px -76px;}
.floor_map_con .label_icon.icon_baby {background-position: -656px -76px;}
.floor_map_con .label_icon.icon_meet {background-position: -704px -76px;}


.floor_info_wrap {position: relative; overflow: hidden; padding-top: 50px;}
.floor_info_wrap h3 {float:left; font-family: 'Noto Sans'; color: #222222; font-size: 32px;}
.floor_info_wrap .select_box_top {margin-bottom: 50px !important;}
.floor_info_wrap .select_box_top .select select {min-width: 300px;}

.floor_info_con {border-top:1px solid #666666; overflow: hidden; margin:0 0 80px;}
.shop_ac_list {float: left; width: 50%;}
.shop_ac_list > li {display:table; width: 100%;}
.shop_ac_list .ac-cont>dt{ border-bottom:1px solid #cccccc;}
.shop_ac_list .ac-cont>dt>a{
	display:block;
	table-layout: fixed;
	width: 100%;
	word-break:break-word;
	padding: 0 35px 0 30px;;
	line-height: 1.8;
	position: relative;
}
.shop_ac_list .ac-cont>dt .cell_tit {
	width: 340px;
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
	font-family: noto sans;
	color: #222;
	padding-right: 30px;
	padding-left: 50px;
    word-break: break-word;
    line-height: 1.3;
    position: relative;
    height: 70px;
}
.shop_ac_list .ac-cont>dt .cell_tit i {
	position: absolute;
	left: 0;
	top: 20px;
}
.shop_ac_list .ac-cont>dt .cell_tit * {vertical-align: middle;}
.shop_ac_list .ac-cont>dt .cell_tit span {
	max-height: 2.4em;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.shop_ac_list .ac-cont>dt .cell_info {display: table-cell; vertical-align: middle; text-align: right; white-space: nowrap; padding-right: 15px;}
.shop_ac_list .ac-cont>dt .cell_info i {position: absolute; right: 15px; top: 25px; transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);}
.shop_ac_list .ac-cont.on>dt .cell_info i {
	transform: rotate(180deg);
	transform-origin: center center;
}

.shop_ac_list .ac-cont>dt .cell_info .btn {padding: 6px 15px; border-radius: 20px; transition: all .1s;}
.shop_ac_list .ac-cont>dt .cell_info .btn:hover {background-color: #2d5cbc; color: #fff;}
.shop_ac_list .ac-cont>dt .cell_info .txt_phone {font-size: 15px; font-family: arial, sans-serif; width:110px; padding-left: 10px; display:inline-block;}


.shop_ac_list .ac-cont>dt::after {clear: both; display: table; content: '';}
.shop_ac_list .ac-cont>dd{
  /* display: none; */
  position:relative;
  border-bottom:1px solid #ddd;
}
.shop_ac_list .ac-cont>dd .detail_con {padding: 30px 40px 27px; background: #eeeeee;}
.shop_ac_list .ac-cont>dd .detail_con::after {clear: both; display: table; content: '';}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt{
	display: table;
	table-layout: fixed;
}
.shop_ac_list .ac-cont>dd .detail_con .left_cell {float: left; width: 200px;}
.shop_ac_list .ac-cont>dd .detail_con .logo_box {
	width: 150px;
	height: 150px;
	text-align: center;
	border: 1px solid #cfcfcf;
	vertical-align: middle;
	background: #fff;
	display: table-cell;
}
.shop_ac_list .ac-cont>dd .detail_con .logo_box img {max-height: 100%; max-width:148px;}
.shop_ac_list .ac-cont>dd .detail_con .btn {padding: 6px 15px; border-radius: 20px;}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt dl {}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt dl dt {
	display: table-cell;
    width: 125px;
    color: #656565;
    vertical-align: top;
    padding: 5px 0;
}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt dl dt i {margin-right: 5px; vertical-align: middle;}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt dl dd {
	display: table-cell;
    color: #222;
    vertical-align: middle;
}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt .detail_list li {padding: 3px 0;}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt .detail_list li span.time {margin-right: 10px; font-family: Arial, HelveticaNeue-Light, sans-serif;}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt .detail_list li span.issue { color: #2d5cbc; font-family: 'Noto Sans DemiLight';}
.shop_ac_list .ac-cont>dd .detail_con .detail_txt .button_group  {padding-left: 120px; padding-top: 10px; padding-bottom:0;}
/*
	영업시간
*/
.opening_bg_box {height:470px; background: url(../img/contents/about/opening_bg.jpg) no-repeat;}
.opening_bg_box dl {padding: 80px;}
.opening_bg_box dl dt {padding: 60px 0 20px; text-align: center; color: #fff; position: relative;}
.opening_bg_box dl dt::before {
	content: "";
	width: 20px;
	height:2px;
	background: #fff;
	position: absolute;
	left:50%;
	bottom: 0;
	margin-left: -10px;
}
.opening_bg_box dl dt p.tit {font-size: 25px;}
.opening_bg_box dl dt p.time {font-size: 45px; font-family: arial, sans-serif; padding: 20px 0 0; font-weight: bold; letter-spacing: 5px;}
.opening_bg_box dl dd {font-size: 18px; color:#ffee5c; padding: 20px 0; text-align: center;}

.opening_list {
	clear: both;
    overflow: hidden;
    margin: 40px -14px;
}
.opening_list > li {
	float: left;
    width: 25%;
    padding: 12px 14px;
}
.opening_list > li .list_con {
	border: 1px solid #ddd;
	border-top-color: #666666;
    position: relative;
    color: #222;
    padding: 0 30px 30px;
}
.opening_list > li .logo_box { text-align: center; height: 200px; width: 217px; display: table-cell; vertical-align: middle; border-bottom: 1px solid #ddd;}
.opening_list > li > dl { }
.opening_list > li dl > dt {padding: 25px 0; font-size: 25px; font-family: 'Noto Sans'; color: #222; text-align: center;}
.opening_list > li dl > dd {}
.opening_list > li dl > dd > ul.shop_detail {}
.opening_list > li dl > dd > ul.shop_detail > li {text-align: center; padding: 3px 0;}
.opening_list > li dl > dd > ul.shop_detail > li span { display: inline-block; }
.opening_list > li dl > dd > ul.shop_detail > li i {vertical-align: middle; margin-right: 2px;}
.opening_list > li dl > dd > ul.shop_detail > li strong {display: inline-block; color: #222; margin-left: 5px; font-family: 'Noto Sans';}
.opening_list > li .btn_round_blue {transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1); font-family: 'Noto Sans';}
.opening_list > li .btn_round_blue:hover {
  background: #2d5cbc;
  color: #fff !important;
}

.location_box {
	clear: both;
    overflow: hidden;
    margin: 40px -14px 0;
}
.location_box > li {
	float: left;
    width: 25%;
    padding: 12px 14px;
}
.location_box > li .list_con {
	border: 1px solid #ddd;
	border-top-color: #666666;
    position: relative;
    color: #222;
    padding: 10px 0 30px;
}
.location_box dl {}
.location_box dl dt {
	text-align: center;
	height: 120px;
	width: 277px;
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
}
.location_box dl dt strong { font-size: 16px; }
.location_box dl dd {text-align: center; line-height: 1.8;}
.location_box > li .btn_round_blue {transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1); font-family: 'Noto Sans';}
.location_box > li .btn_round_blue:hover {
  background: #2d5cbc;
  color: #fff !important;
}
.location_info {overflow: hidden;}
.location_info .grid_left {float:left; width: 50%; padding-right: 50px;}
.location_info .grid_right {float:left; width: 50%;}
.location_info .locaton_wrap {position: relative; padding-left:90px; margin-bottom: 20px;}
.location_info .locaton_wrap span {position: absolute; left: 0; top: 0;}
.location_info .locaton_wrap p.tit {padding:22px 0; font-size: 16px; font-family: 'Noto Sans'; color: #222;}
.location_info .locaton_wrap p.txt {font-size: 14px; line-height: 1.8;}
.location_info .locaton_wrap dl {padding-bottom: 15px;}
.location_info .locaton_wrap dl dt {font-size: 14px; font-family: 'Noto Sans'; color: #222; position: relative; padding-left: 7px; padding-bottom: 10px;}
.location_info .locaton_wrap dl dt::before {
	content: "";
	width: 2px;
	height:2px;
	position: absolute;
	left: 0;
	top: 8px;
	background: #2d5cbc;
	border-radius: 2px;
}
.location_info .locaton_wrap dl dd {font-size: 14px; padding-left: 7px;}

/*
	주차안내
*/

.parking_list {padding: 40px 0; border-bottom:1px solid #ddd;}
.parking_list h3 {padding: 22px 0; font-size: 25px; font-family: 'Noto Sans'; color: #222;}
.parking_list .con_wrap {display: table; table-layout: fixed; width: 100%; font-size: 15px;}
.parking_list .con_wrap .grid_left {display: table-cell; width: 45%;}
.parking_list .con_wrap .grid_right {display: table-cell; width: 55%; vertical-align: middle;}
.parking_list .con_wrap dl {display: table; width:100%; padding: 15px 0;}
.parking_list .con_wrap dl dt {width:75px; font-size: 14px; display: table-cell; white-space: nowrap; vertical-align: middle; text-align: left;}
.parking_list .con_wrap dl dd {font-size: 15px; color: #222; display: table-cell; padding-left: 30px; text-align: left; vertical-align: middle;}
.parking_list .con_wrap dl dd p {color: #222; line-height: 1.8;}
.parking_list .con_wrap dl dd.tit_cell {width:80px; vertical-align: middle; color: #777; padding-left: 20px;}
.parking_list .con_wrap i.ico {vertical-align: middle;}
.parking_list .con_wrap ul.bl_list {}
.parking_list .con_wrap ul.bl_list li {line-height: 1.8;}
/*
	이벤트
*/
ul.evt_list {margin:50px -20px 0; overflow: hidden;}
ul.evt_list > li {float: left; width: 50%; margin-bottom: 40px;}
ul.evt_list > li:nth-child(2n+1) {clear: both;}
ul.evt_list > li a {display: block; overflow: hidden; padding:0 20px;}
ul.evt_list > li a .evt_label {
  position: absolute;
  left:0;
  top: 0;
  background: #2253b9;
  color: #fff;
  padding: 25px 12px;
  font-size: 14px;
  z-index: 21;
  white-space: nowrap;
  min-width: 70px;
  text-align: center;
}
ul.evt_list > li a .box_wrap {position: relative; z-index: 1; }
ul.evt_list > li a .thumb_box {
	position: relative;
	height: 200px;
	overflow: hidden;
}
ul.evt_list > li a .thumb_box .img {
    position: relative;
    line-height: 0;
}
ul.evt_list > li a .thumb_box .img>img { width: 100%; height: auto; }
ul.evt_list > li a dl {padding:30px 50px; background: #eeeeee;}
ul.evt_list > li a dl dt {
    padding-bottom:10px;
    color: #222222;
    font-size: 20px;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 1.4;
    text-align:left;
    height: 32px;
}
ul.evt_list > li a dl dd {text-align:left; font-size: 15px; color: #888;}
ul.evt_list > li.evt_end a .box_wrap::before {
	content: '';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,.58);
	z-index: 22;
}

.board_tit { display: table; padding: 40px 0; min-height: 90px; background: #fff; width:100%; border-top: 1px solid #666666; border-bottom: 1px solid #ccc;}
.board_tit.no_tit_label dt {padding-left: 30px; }
.board_tit.no_tit_label dd {width: 100px;}
.board_tit dt {
    display: table-cell;
    vertical-align: middle;
    padding-left: 150px;
    padding-right: 30px;
    position: relative;
    color: #222;
    word-break: break-all;
    white-space: normal;
}
.board_tit dt span.label {
	display: inline-block;
    width: 70px;
    height: 70px;
    padding-top: 24px;
    text-align: center;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -35px;
}
.board_tit dt span.label.box-event {background: #2253b9; color:#fff;}

.board_tit dt span.txt { font-size:22px;}
.board_tit dd {
    display: table-cell;
    vertical-align: middle;
    width: 165px;
}
.board_tit dd ul li {display: inline-block; margin-left: 5px; vertical-align: top;}
.board_tit dd ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 45px;
    border:1px solid #d6d6d6;
    background: #fff;
    font-size: 0;
    color: transparent;
}
.board_tit dd ul li a i {color: #a6a6a6; font-size: 18px; padding-top: 12px;}
.board_tit dd ul li a i.fa-twitter {}
.board_tit dd ul li a i.fa-twitter::before {
	content: "";
	width: 16px;
	height: 15px;
	background: url(../img/icon.png) no-repeat;
	background-position: -425px -41px;
	display: inline-block;
    margin-left: 3px;
}

.notice_view .board_tit {padding: 25px 0; min-height: 72px;}
.notice_view .board_tit dt {padding-left: 50px;}
.notice_view .board_tit span {font-size: 16px !important; display: inline-block;}
.notice_view .board_tit span.tit {margin-right: 10px; color: #555;}
.notice_view .board_tit span.txt {}
.notice_view .board_tit span.date {font-family: HelveticaNeue-Light, tahoma, sans-serif,arial;}

.board_subtit { border-bottom: 1px solid #ccc; padding:20px 20px 20px 50px;}
.board_subtit span {margin-right: 15px;}
.board_subtit span.date {font-family: HelveticaNeue-Light, tahoma, sans-serif,arial;}
.board_subtit span.txt {font-family: 'Noto Sans DemiLight';}
.board_subtit i {margin-right: 3px; vertical-align: middle;}
.board_subtit strong {color: #222; display: inline-block; margin-right: 3px; font-family: 'Noto Sans DemiLight';}

.board_data {padding: 50px 130px; background: #fff; border-bottom: 1px solid #666666;overflow:hidden;}
.board_data .data_img {text-align: center; padding: 20px 0;}
.board_data img { max-width:1080px;}
.board_data .data_txt {font-size: 16px; line-height: 1.6; padding: 20px 0; text-align: center;}
.board_data.notice_data {padding:40px 50px; border-bottom:0; min-height: 300px;}
.board_data.notice_data .data_txt {font-size: 15px; line-height: 1.8; text-align: left; padding: 0;}
.board_data .field_data {padding: 50px 0 30px;}
.board_data .field_data dl {padding: 30px 0;}
.board_data .field_data dl dt {padding: 8px 0; font-family: 'Noto Sans';}
.board_data .field_data dl.top_bar dt {padding-top: 15px; color: #222222; position: relative;}
.board_data .field_data dl.top_bar dt::before{
	content: "";
	width: 20px;
	height: 2px;
	background: #2d5cbc;
	position: absolute;
	top: 0;
	left: 0;
}
.board_data .field_data dl dd {color: #777; line-height: 1.6;}

.board_file { background: #f6f6f6; border-top: 1px solid #cccccc; padding: 30px 50px;}
.board_file dl {}
.board_file dl dt { color: #222; font-size: 14px; padding-bottom: 15px; white-space: normal; word-break: break-word;}
.board_file dl dt i {margin-right: 5px;}
.board_file dl dd {padding-left: 20px;}
.board_file dl dd ul li {display: block;}
.board_file dl dd ul li a {display: inline-block; position: relative; padding:5px 0; overflow: hidden; font-size: 14px; color: #676767;}
.board_file dl dd ul li a::before {
	content: "";
	position: absolute;
	bottom: 5px;
	height: 1px;
	width: 100%;
	background: #676767;
	right: 100px;
}
.board_file dl dd ul li a i {
	display: inline-block;
	background: #282d41;
	vertical-align: middle;
	position: relative;
	color: #fff;
	padding: 5px 13px;
	margin-left: 5px;
	font-size: 13px;
}
.board_file dl dd ul li a i::after {
	content:"\e865";
	font-family:Linearicons-Free;
	font-size: 15px;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -4px;
}

.board_reply {border-top: 1px solid #cccccc; padding: 30px 50px;}
.board_reply dl { display: table; width: 100%;}
.board_reply dl dt {display: table-cell; color: #222; font-size: 14px; padding-bottom: 15px; width: 95px;}
.board_reply dl dt i {margin-right: 5px;}
.board_reply dl dd {display: table-cell; padding-left: 20px; position: relative; color: #222; line-height: 1.7; font-size: 16px;}
.board_reply dl dd span.date {
	position: absolute;
	right: 0;
	top: 0;
	color: #777777;
	font-size: 15px;
	font-family: HelveticaNeue-Light, tahoma, sans-serif,arial;
}


.board_btm {clear: both; padding: 50px 0; border-top: 1px solid #cccccc;}
.board_btm span {display: inline-block; margin-left: 10px;}
.board_btm .btn i {margin-right: 2px;}
.board_data {padding: 60px; background: #fff;}

.board_nav { border-top: 1px solid #222222;}
.board_nav dl {display: table; width: 100%; border-bottom: 1px solid #666;}
.board_nav dl dt {display: table-cell; width: 170px; text-align: center; vertical-align: middle; padding: 20px 0; padding-left: 20px; position: relative;}
.board_nav dl dd {display: table-cell; vertical-align: top; padding: 20px 0; line-height: 2; white-space: normal; word-break: break-word;}
.board_nav dl dd.date {color: #777; width: 120px; font-size: 14px; vertical-align: middle; text-align: right; padding-right: 20px;}
.board_nav dl dd a {color: #333;}
.board_nav dl.data_nav_prev {}
.board_nav dl.data_nav_prev dt {}
.board_nav dl.data_nav_prev dt::before {
	font-family: 'FontAwesome';
    content: "\f0de";
    font-size: 20px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -10px;
}
.board_nav dl.data_nav_next {}
.board_nav dl.data_nav_next dt {}
.board_nav dl.data_nav_next dt::before {
	font-family: 'FontAwesome';
    content: "\f0dd";
    font-size: 20px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -20px;
}


/*
	공연/전시일정
*/
.tab_choice {float: right; padding: 50px 0 30px; overflow: hidden;}
.tab_choice li {display: inline-block; margin-left: 10px;}
.tab_choice li a {}
.tab_choice li.on a {
	background: #2d5cbc;
	color: #fff !important;
	border:1px solid #2d5cbc !important;
}
.tab_choice li.on a i::after {background-position-y:-19px !important;}
.tab_choice li i {margin-right: 5px;}

@charset "utf-8";
.calendar_con {}
.calendar_con .month_nav {position:relative; background: #282d41; text-align: center; padding: 15px 0;}
.calendar_con .month_nav * {vertical-align:middle;}
.calendar_con .month_nav > a {display:inline-block; text-indent:-9999em; font-size:0; width:45px; height:45px; position: absolute;}
.calendar_con .month_nav > a:after {
  content:"";
  display: inline-block;
  font-family:FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  color: #fff;
  position: absolute;
  opacity: .5;
  z-index: 10;
  text-indent: 0;
}
.calendar_con .month_nav > a.prev_month {left: 30px;}
.calendar_con .month_nav > a.next_month {right: 30px;}
.calendar_con .month_nav > a.prev_month:after {
	content:"\f104";
	left: 15px;
	top: 0;
}
.calendar_con .month_nav > a.next_month:after {
	content:"\f105";
	left: 15px;
	top: 0;
}
.calendar_con .month_nav > a:hover::after {opacity: 1;}
.calendar_con .month_nav .nowmonth_txt {font-size:35px; color:#fff; font-family:Arial, Helvertica, sans-serif; display:inline-block; padding:0 20px;}
.calendar_con .month_nav .nowmonth_txt strong {font-size:20px; font-family: 'Noto Sans'; display: inline-block; padding: 0 4px;}

.carendar_tbl { width: 100%; table-layout: fixed;}
.carendar_tbl th { font-size: 16px; font-weight: normal; font-family: 'Noto Sans'; padding: 15px 0; border-left: 0; border-right: 0; color: #262626; border:1px solid #ddd; border-top-color:#666666; border-bottom-color:#666666; border-left:0; border-right:0; }
.carendar_tbl td {border:1px solid #ddd; position:relative;}
.carendar_tbl td .data_date { padding: 15px 15px; text-align: left; color: #777777; font-family: Arial, Helvertica, sans-serif; font-size: 16px; }
.carendar_tbl td .data_date.sun { color: #db1535; }
.carendar_tbl td .date_box {min-height: 170px; padding: 5px;}
.carendar_tbl td .date_box.today::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border:1px solid #2d5cbc;
}
.carendar_tbl td .data_con {padding:5px 15px; word-break: break-word;}
.carendar_tbl td .data_con>a { display: block; position: relative; }
.carendar_tbl td .data_con .data_cate {}
.carendar_tbl td .data_con .data_cate .cate {display: inline-block; border-radius: 12px; padding: 3px 14px; color: #fff; font-size: 12px;}
.carendar_tbl td .data_con .data_cate .cate.cate_play {background: #2c8dde;}
.carendar_tbl td .data_con .data_cate .cate.cate_view {background: #2d5cbc;}
.carendar_tbl td .data_con .data_title { padding: 5px 0; line-height: 1.7; max-height: 4em; color: #777777; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word; }
.carendar_tbl td .date_more { display: block; position: relative; margin: 5px auto 15px; width: 111px; height: 31px; line-height: 31px; border: 1px solid #282d41; border-radius: 16px; text-align: center; color: #222222; font-size: 12px; }

.calendar_list { width: 100%; table-layout: fixed; border-top: 1px solid #666666; clear: both; }
.calendar_list th { vertical-align: middle; border-bottom: 1px solid #cccccc; color: #262626; font-size: 35px; font-family: Arial, Helvertica, sans-serif; }
.calendar_list tr.on th { background-color: #eeeeee; color: #2d5cbc; }
.calendar_list th>span { font-size: 20px; }
.calendar_list td { padding: 15px 80px; border-left: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
.calendar_list tr.on td { background-color: #eeeeee; }
.calendar_list td>ul>li { padding: 5px 0; }
.calendar_list td>ul>li::after {clear: both; display: table; content: '';}
.calendar_list td>ul>li .thumb { float: left; width: 180px; height: 120px; background: url(../img/contents/event/schedule_thumb.gif) no-repeat center center; background-size:cover;}
.calendar_list td>ul>li .data_con { float: left; margin-left: 80px; }
.calendar_list td>ul>li .data_con .data_cate { padding-top: 12px; }
.calendar_list td>ul>li .data_con .data_cate .cate {display: inline-block; border-radius: 12px; padding: 3px 14px; color: #fff; font-size: 12px;}
.calendar_list td>ul>li .data_con .data_cate .cate.cate_play {background: #2c8dde;}
.calendar_list td>ul>li .data_con .data_cate .cate.cate_view {background: #2d5cbc;}
.calendar_list td>ul>li .data_con .data_title { width: 530px; padding: 10px 0; color: #222222; font-size: 23px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.calendar_list td>ul>li .data_con .data_des::after {clear: both; display: table; content: '';}
.calendar_list td>ul>li .data_con .data_des dl { float: left; font-size: 15px; }
.calendar_list td>ul>li .data_con .data_des dt { float: left; color: #222222; }
.calendar_list td>ul>li .data_con .data_des dd { float: left; max-width: 230px; padding-left: 8px; color: #777777; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.calendar_list td>ul>li .data_con .data_des dl.location { position: relative; margin-left: 10px; padding-left: 10px; }
.calendar_list td>ul>li .data_con .data_des dl.location::before { content: ''; display: block; position: absolute; width: 1px; height: 10px; left: 0; top: 6px; background-color: #cccccc; }
.calendar_list tr.on th { background-color: #eeeeee; color: #2d5cbc; }
.calendar_empty { padding: 20px 0; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; clear: both; text-align: center; font-size: 20px; }


ul.steplist {margin:0 -13px; overflow: hidden; padding: 25px 0 50px;}
ul.steplist > li {float: left; margin-bottom: 40px;}
ul.steplist.step_4 > li {width: 25%; padding:0 13px;}
ul.steplist > li .line_wrap { border-top: 1px solid #666666; border-bottom: 1px solid #ccc; text-align: center; padding-top: 45px;}
ul.steplist .step_tit {font-size: 18px; color: #2858b7; font-family: 'Noto Sans'; padding-bottom: 40px;}
ul.steplist .icon_img {position: relative;}
ul.steplist .icon_img::before {
	content:"\e876";
	font-family:Linearicons-Free;
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 22px;
    position: absolute;
    left: -35px;
    top: 50px;
    color: #2d5cbc;
}
ul.steplist > li:first-child .icon_img::before {display: none;}
ul.steplist dl {padding:15px 0 35px; height: 220px;}
ul.steplist dl dt { font-size: 20px; color: #222; padding: 22px 0; font-family: 'Noto Sans';}
ul.steplist dl dd {line-height: 1.6; font-size: 15px;}


.sales_info .linebox {border:1px solid #cccccc; padding: 60px 0 50px; margin-bottom: 40px; }
.sales_info .linebox .linebar_tit {padding-left: 80px; font-size: 25px; line-height: 1.6; color: #222; padding-bottom: 30px; position: relative;}
.sales_info .linebox .linebar_tit::before {
	content: "";
	width: 20px;
	height: 2px;
	position: absolute;
	left: 80px;
	bottom: 0;
	background: #2d5cbc;
}
.sales_info .linebox dl {padding: 5px 0; font-size: 15px;}
.sales_info .linebox dl dt {color: #555; padding-right: 10px; display: inline-block;}
.sales_info .linebox dl dd {color: #000; display: inline-block;}
.sales_info .linebox .alert_txt { margin-top: 20px;}
.sales_info .linebox .alert_txt i { color: #cccccc; margin-right: 5px;}
.sales_info .btn {width: 300px; height: 60px; line-height: 60px;}
.sales_info .btn i {vertical-align: middle; margin-left: 10px; margin-top: -5px; display: inline-block;}

/*
	상점상세
*/
.store_view {padding: 100px 0;}
.store_top {padding-bottom: 25px;}
.store_top .grid_left {float: left; width: 590px;}
.store_top .grid_left .logoimg {
	border:1px solid #cfcfcf;
	line-height: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background:url(../img/contents/store/top_thumb.jpg) no-repeat 0;
	width: 450px;
	height: 450px;
}
.store_top .grid_left .logoimg img {max-width: 300px; max-height: 100%;}
.store_top .grid_right {display: table; table-layout: fixed;}
.store_top .store_name {border-bottom:1px solid #cfcfcf; padding-bottom: 20px;}
.store_top .store_name dt {color: #222222; font-size: 40px; line-height: 1.3; padding-bottom: 10px;}
.store_top .store_name dd {font-size: 22px; color: #222222;}
.store_top .store_info {padding: 20px 0;}
.store_top .store_info dl { display: table; width: 100%; table-layout: fixed; padding-bottom: 5px;}
.store_top .store_info dt {display: table-cell; width: 125px; color: #656565; vertical-align: top; padding: 5px 0;}
.store_top .store_info dt i {margin-right: 5px; vertical-align: middle;}
.store_top .store_info dd {display: table-cell; color: #000; vertical-align: middle;}
.store_top .store_info dd .detail_list {}
.store_top .store_info dd .detail_list li {padding: 3px 0; font-family: Arial, HelveticaNeue-Light, sans-serif;}
.store_top .store_info dd .detail_list li span {display: inline-block;}
.store_top .store_info dd .detail_list li .time {}
.store_top .store_info dd .detail_list li .issue { color: #2d5cbc; margin-left: 10px; font-family: 'Noto Sans DemiLight';}
.store_top .store_info dd .btn {border-radius: 20px !important; padding:4px 25px 4px 15px !important; font-size: 13px; position:relative; margin-left: 10px;}
.store_top .store_info dd .btn i {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 11px;
    vertical-align: middle;
}
.store_top .button_group {margin:0 -10px;}
.store_top .button_group span {
    padding: 0 5px;
    display: inline-block;
    width: 310px;
}
.store_top .button_group a {display: block; padding:15px 0;}
.store_top .button_group a.btn-favorite {
	background: #fff;
    color: #222;
    border: 1px solid #282d41;
}
.store_top .button_group a.btn-favorite.on {
	background: #2752be;
    color: #fff;
    border: 1px solid #2752be;
}
.store_top .button_group a.btn-favorite>i {	margin-right: 8px; }
.store_body {overflow: hidden; position: relative;}
.store_body dl.store_body_tit {padding: 40px 0;}
.store_body dl.store_body_tit dt {padding: 0 0 20px; color: #222222; font-size: 24px;}
.store_body dl.store_body_tit dd {font-size: 15px;}
.store_body dl.store_body_tit a {display: inline-block;}
.store_body .store_intro {border-bottom:1px solid #ccc; padding-bottom: 30px;}
.store_body .store_location i {vertical-align: middle; margin-left: 3px;}
.store_body .store_map {width: 100%; height: 1060px; position: relative;}
.store_body .map_wrap {position: relative;}

.store_editer {}
.store_editer .tit_sec {padding: 25px 0; text-align: center;}
.store_editer .tit_sec dt {padding:25px 0 15px; color: #222222; font-size: 45px;}
.store_editer .tit_sec dd {}
.store_editer .tit_sec dd.summay_1 {font-size: 18px; color: #222222;}
.store_editer .tit_sec dd.summay_2 {font-size: 16px;}
.store_editer .tit_sec dt .e_name {font-family: 'Noto Sans'; }
.store_editer .store_view_img {padding:30px 0; text-align: center;}
.store_editer .store_view_img img {max-width: 810px;}
.store_editer .store_txt {text-align: center; padding: 20px 0; font-size: 16px; line-height: 1.7;}
.store_editer .store_txt p {padding:5px 0;}
.store_editer .store_thumb {text-align: center;}
.store_editer .store_thumb li {display: inline-block; padding:20px 7px;}
.store_editer .store_thumb li img {max-width: 260px;}

.store_body_tit dt .nav_control {float: right;}
.store_body_tit dt .nav_control a {display: inline-block; color: #b5b5b5; font-size: 18px; padding:10px 5px;}
.store_gallery .gal_list {margin: 0 -10px;}
.store_gallery .gal_list .slick-slide {margin: 0 10px;}
.store_gallery .gal_list .slick-slide img {width:280px; height:280px;}


/*
	입점안내
*/

.in_shop_con {}
.in_shop_con h3 {font-size: 25px; color: #222; font-family: 'Noto Sans'; padding-bottom: 15px;}
.in_shop_con ol li {padding: 5px 0; font-size: 16px; color: #222;}
.in_shop_con .line_box {border: 1px solid #ccc; padding: 40px; margin: 40px 0; font-size: 15px;}
.in_shop_con .line_box dl {line-height: 1.7; padding: 10px 0;}
.in_shop_con .line_box dl dt { padding-bottom: 5px;}
.in_shop_con .line_box dl dt::before {
	font-family: 'FontAwesome';
    content: "\f06a";
    font-size: 16px;
    color: #222;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.in_shop_con .line_box dl dd {color: #222;}
.in_shop_con .line_box dl dd span {display: inline-block; margin-right: 20px;}
.in_shop_con .line_box dl dd strong {font-family: 'Noto Sans'; color: #222; display: inline-block; margin-right: 10px;}
.in_shop_con .btn {width: 300px; height: 60px; line-height: 60px;}
.in_shop_con .btn i {vertical-align: middle; margin-left: 10px; margin-top: -5px; display: inline-block;}



/*
	FAQ
*/

.faq_list{width:100%; border-top:1px solid #666666; margin-bottom:20px; margin-top:20px;}
.faq_list .ac-cont>dt{
  border-bottom:1px solid #cccccc;
  position:relative;
  transition: all .3s;
  display: table;
  width: 100%;
  table-layout: fixed;
}



.faq_list .ac-cont>dt span {display: inline-block; font-size: 16px; text-align: center; color: #777777;}
.faq_list .ac-cont em {
	display: inline-block;
	font-size: 16px;
	text-align: center;
	width: 35px;
	height: 35px;
	font-size: 18px;
	border-radius: 20px;
	line-height: 32px;
}
.faq_list .ac-cont>dt span.num {width: 100px;}
.faq_list .ac-cont>dt span.best {width: 100px; position: relative;}
.faq_list .ac-cont>dt span.best::before {
	content: "BEST";
	color: #fff;
	position: absolute;
	text-align: center;
	display: inline-block;
	z-index: 21;
	left: 50%;
	top: 0;
	margin-left: -17px;
	margin-top: -17px;
	font-size: 14px;
}
.faq_list .ac-cont>dt span.best::after {
	background: #2d5cbc;
	content: "";
	width: 50px;
	height: 24px;
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: 0;
	z-index: 20;
	border-radius: 20px;
	margin-top: -16px;
}
.faq_list .ac-cont>dt span.cate {width: 135px;}
.faq_list .ac-cont>dt em.ico_q {
	color: #fff;
	background: #2d5cbc;
}

.faq_list .ac-cont>dt .left_sec { display: table-cell; width: 300px; white-space: nowrap;}
.faq_list .ac-cont>dt .right_sec { display: table-cell;}
.faq_list .ac-cont>dt::after {clear: both; display: table; content: '';}
.faq_list .ac-cont>dt i { display: inline-block; position: absolute; right: 20px; top: 50%; margin-top: -15px;}
.faq_list .ac-cont>dt i::before {
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e874";
    color: #868686;
    font-size: 24px;
}
.faq_list .ac-cont.on>dt i::before {
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e873";
    color: #868686;
    font-size: 24px;
}
.faq_list .ac-cont>dt>a{display:block; word-break:break-word; padding: 20px 65px 20px 0; line-height: 1.8;}
.faq_list .ac-cont>dd{
  padding:25px 50px 25px 300px;
  display: none;
  position:relative;
  border-bottom:1px solid #ddd;
}
.faq_list .ac-cont>dd em {
	color: #fff;
	background: #282d41;
	position: absolute;
    left: 242px;
    top: 30px;
}
.faq_list .ac-cont>dd>div{ padding: 10px 0;}
.faq_list .ac-cont.on>dt>a{ color: #222;}
.faq_list .ac-cont.on>dt>span {}
.faq_list .ac-cont.on>dt{background-color:#fff;}
.faq_list .ac-cont.on>dd{background: #f6f6f6;}

.register_con {border-top:1px solid #676767; border-bottom: 1px solid #cccccc; padding: 50px 0;}

.common_tb_col.register_form {border-top: 0;}
.select-wrapper.line_select {border: 1px solid #ddd;}
.common_tb_col.register_form tbody th { background: none; color: #222;  border: 0; padding: 8px 0;}
.common_tb_col.register_form tbody td {border: 0; padding-left: 0; padding: 8px 0; position: relative;}
.common_tb_col.register_form.join_register tbody td * {vertical-align: top;}
.common_tb_col.register_form.join_register tbody td p * {vertical-align: middle;}
.common_tb_col.register_form.join_register input[type=text],
.common_tb_col.register_form.join_register input[type=password] {
 font-size: 15px;
}
.common_tb_col.register_form tbody th.vtop {vertical-align:top; padding-top: 17px;}
.common_tb_col.register_form tbody td .vtop {vertical-align:top !important;}
.common_tb_col.mypage_form {border-top: 1px solid #676767 !important;}
.common_tb_col.mypage_form tbody th {background: #eeeeee !important; padding: 20px 25px; border-left:0; border-right:0; border-bottom:1px solid #ccc;}
.common_tb_col.mypage_form tbody td {padding: 20px 30px; position: relative; border-left:0; border-right:0; border-bottom:1px solid #ccc;}

.common_tb_col.register_form .chk_field {color: #e60012 !important; line-height:2;}
.common_tb_col.register_form.join_register select:read-only, .common_tb_col.register_form.join_register input:read-only {
    background:#eeeeee !important;
}
.common_tb_col.register_form .read-only {background:#eeeeee !important;}
.common_tb_col.register_form.join_register tbody td label {display: inline-block; margin-right: 8px;}
.common_tb_col.register_form select {font-size: 15px;}
.common_tb_col.register_form tbody td .remain_box {position: absolute; right: 30px; bottom: 30px; z-index: 21; color: #777;}
.common_tb_col.register_form input[type=text], .common_tb_col.register_form input[type=password] {padding-left: 20px;}
.common_tb_col.register_form .placeholder label {left: 20px;}
.common_tb_col.register_form textarea {padding: 20px; font-size: 15px; line-height: 1.7; border:0;}
.common_tb_col.register_form .memo_cell {}
.common_tb_col.register_form .memo_cell .momo_con {position: relative; border:1px solid #ccc; padding-bottom: 60px;}
.register_form .addfile {position: relative; padding: 5px 0;}
.register_form .addfile input.type-file {height: 40px; padding-left: 15px; border:1px solid #ccc;}
.register_form .addfile .add_plus {
	display: inline-block;
    position: absolute;
    right: 0;
    background: #fff;
    width: 40px;
    height: 40px;
    color: #222;
    border: 1px solid #222;
    text-align: center;
    line-height: 40px;
}
.register_form .add_plus {
	display: inline-block;
    position: absolute;
    right: 0;
    background: #fff;
    width: 40px;
    height: 40px;
    color: #222;
    border: 1px solid #222;
    text-align: center;
    line-height: 40px;
}
.register_form ul.comment { padding-top: 15px;}
.register_form ul.comment li {color: #777; padding: 2px 0;}
.register_form ul.comment li::before {
	font-family: 'FontAwesome';
    content: "\f06a";
    font-size: 16px;
    color: #ccc;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.register_form tbody td.btn_in a {height: 38px; line-height: 38px; padding: 0 20px;}
.join_register tbody td .email_input {display: inline-block;}
.join_register tbody td .email_input * {vertical-align: middle;}

.common_tb_col.register_form.join_register tbody td label.error {position: static; color: #000; display: block; padding:5px 0; font-size: 14px;}

/*
	회원가입
*/
.join_gate {display: table; width: 100%; position: relative; padding-bottom: 50px;}
.join_gate .left_sec { display: table-cell; width: 50%; padding: 0 110px;}
.join_gate .right_sec {display: table-cell; width: 50%; padding: 0 110px;}
.join_gate::before {
	content: "";
	width: 1px;
	height: 387px;
	background: #ccc;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -1px;
}
.join_logo {padding: 75px 0 45px; text-align: center;}
.join_gate dl {padding: 35px 0;}
.join_gate dl dt {color: #000; font-size: 25px; padding: 20px 0;}
.join_gate dl dd {color: #222; font-size: 15px;}
.join_gate dl dd.btn_in {padding: 25px 0;}
.join_gate dl dd.btn_in a {display: block; text-align: center; position: relative; padding: 20px 0; color: #fff; margin-bottom:10px;}
.join_gate dl dd.btn_in a i {position: absolute; left: 25px;}
.join_gate dl dd.btn_in a.bg_cacao {color: #3b1d1d !important;}

.join_agree {padding: 70px 120px;}
.join_agree .step_list { margin: 0 -90px; overflow: hidden;}
.join_agree .step_list li {float: left; width:25%; padding: 0 90px; text-align: center; position: relative;}
.join_agree .step_list li::before{
	content: "\e876";
	font-family: Linearicons-Free;
	color: #2d5cbc;
	position: absolute;
	right: 0;
	top: 44px;
	font-size: 20px;
}
.join_agree .step_list.sns_step li {width:33.3333%;}
.join_agree .step_list li:last-child::before {color: transparent; display: none;}
.join_agree .step_list li .step_icon {width: 107px; height: 107px; display: inline-block; background: url(../img/icon.png) no-repeat;}
.join_agree .step_list li .step_icon.step_1 {background-position:0 -338px;}
.join_agree .step_list li .step_icon.step_2 {background-position:-107px -338px;}
.join_agree .step_list li .step_icon.step_3 {background-position:-214px -338px;}
.join_agree .step_list li .step_icon.step_4 {background-position:-321px -338px;}
.join_agree .step_list li.on .step_icon { background-position-y: -447px !important; }
.join_agree .step_list li dl {padding: 15px 0;}
.join_agree .step_list li dl dt {font-size: 15px; color: #222; padding:5px 0; font-family: arial, helvetica,  sans-serif;}
.join_agree .step_list li dl dd {font-size: 20px; color: #222; font-family: 'Noto Sans';}

.join_agree .agree_list {border-top: 1px solid #cccccc; margin: 45px 0;}
.join_agree .agree_list li {position: relative; padding: 50px 30px; border-bottom: 1px solid #cccccc;}
.join_agree .agree_list li:first-child {background-color: #eeeeee;}
.join_agree .agree_list li.on {background:#eee;}
.join_agree .agree_list li .txt { color: #222222; display: inline-block; padding-left: 10px; font-size: 17px;}
.join_agree .agree_list li .more_btn { position: absolute; right: 50px; top: 50px; display: inline-block;}
.join_agree .agree_list li .more_btn a {font-size: 14px; padding:12px 20px;}
.join_agree .button_group a {padding: 20px 0; width: 280px; margin:0 5px; font-size: 15px;}

.layerPopup_in .agree_tit {text-align: center; font-size: 35px; font-family: 'Noto Sans'; padding-bottom: 40px;}
.privacy_con {max-height: 600px; overflow-y: auto; border:1px solid #ccc; padding:50px; color: #555555;}
.privacy_con p {line-height: 1.8;}
.privacy_con h4 {font-size: 15px; color: #222; font-family: 'Noto Sans'; padding: 20px 0 15px;}
.privacy_con h3 {font-size: 18px; color: #222; font-family: 'Noto Sans'; padding: 30px 0 10px;}
.privacy_con .tit_txt {color: #222; line-height: 1.8; padding-bottom: 10px;}
.privacy_con .bl_line>li:before {}
.privacy_con .bl_line>li ul.bl_dot>li:before {}
.privacy_con ol.num_list > li > ul.bl_kor > li {padding-left: 20px; position: relative;}
.privacy_con .bl_kor > li:before {content: ''; position: absolute; left: 0;}
.privacy_con .bl_kor > li.num_1:before {content: '가.';}
.privacy_con .bl_kor > li.num_2:before {content: '나.';}
.privacy_con .bl_kor > li.num_3:before {content: '다.';}
.privacy_con .bl_kor > li.num_4:before {content: '라.';}
.privacy_con .bl_kor > li.num_5:before {content: '마.';}
.privacy_con .bl_line>li {line-height: 1.8;}

.etc_top {position: relative; padding-top: 10px; height: 115px;}
.etc_top:after {clear: both; content: ''; display: table; width: 100%;}
.etc_select { position: absolute; right: 0; z-index: 1;}
.etc_select> a {
    height: 50px;
    line-height: 50px;
    display: block;
    position: relative;
    padding:0 45px 0 20px;
    color: #000;
    font-size: 16px;
    border: 1px solid #000000;
    min-width: 300px;
  }
.etc_select > a:after {
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e874";
    color: #000000;
    position: absolute;
    right: 14px;
    top: 16px;
}
.etc_select > a.open:after {
    content: "\e873";
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    position: absolute;
    right: 14px;
    top: 16px;
}
.etc_select > div {width:100%; overflow: hidden; display: none;}
.etc_select > div >.list {background-color:#444; width:100%; border-bottom:none;}
.etc_select > div >.list li{text-align:left;}
.etc_select > div >.list a {
  color:#fff;
  padding:10px 20px;
  text-align: left;
  display: block;
  font-size: 15px;
  -webkit-transition: all .3s cubic-bezier(.25, .46, .45, 1);
  -moz-transition: all .3s cubic-bezier(.25, .46, .45, 1);
  -o-transition: all .3s cubic-bezier(.25, .46, .45, 1);
  transition: all .3s cubic-bezier(.25, .46, .45, 1);
}
.etc_select > div >.list a:hover { background: #383941; }

ol.circle_list>li {position:relative; padding:2px 0 2px 20px; line-height:1.8;}
ol.circle_list>li::before {display:block; position:absolute; left:0; top:1px;}
ol.circle_list>li:nth-child(1)::before {content:'\2460';}
ol.circle_list>li:nth-child(2)::before {content:'\2461';}
ol.circle_list>li:nth-child(3)::before {content:'\2462';}
ol.circle_list>li:nth-child(4)::before {content:'\2463';}
ol.circle_list>li:nth-child(5)::before {content:'\2464';}
ol.circle_list>li:nth-child(6)::before {content:'\2465';}
ol.circle_list>li:nth-child(7)::before {content:'\2466';}
ol.circle_list>li:nth-child(8)::before {content:'\2467';}
ol.circle_list>li:nth-child(9)::before {content:'\2468';}

ol.gana_list>li {position:relative; padding:2px 0 2px 20px; line-height:1.8;}
ol.gana_list>li::before {display:block; position:absolute; left:0; top:1px;}
ol.gana_list>li:nth-child(1)::before {content:'가.';}
ol.gana_list>li:nth-child(2)::before {content:'나.';}
ol.gana_list>li:nth-child(3)::before {content:'다.';}
ol.gana_list>li:nth-child(4)::before {content:'라.';}
ol.gana_list>li:nth-child(5)::before {content:'마.';}
ol.gana_list>li:nth-child(6)::before {content:'바.';}
ol.gana_list>li:nth-child(7)::before {content:'사.';}
ol.gana_list>li:nth-child(8)::before {content:'아.';}
ol.gana_list>li:nth-child(9)::before {content:'자.';}
ol.gana_list>li:nth-child(10)::before {content:'차.';}
ol.gana_list>li:nth-child(11)::before {content:'카.';}
ol.gana_list>li:nth-child(12)::before {content:'타.';}
ol.gana_list>li:nth-child(13)::before {content:'파.';}
ol.gana_list>li:nth-child(14)::before {content:'하.';}

.privacy_con  ol.num_list {list-style-type: decimal; padding-left: 20px;}
.privacy_con  ol.num_list > li { padding: 2px 0; line-height: 1.8;}
.privacy_con  ol.num_list > li > ol.gana_list {padding-left: 15px; padding: 10px 0;}
.privacy_con .line_box {
    border: 1px solid #d6d6d6;
    padding: 30px;
    background: #f7f7f7;
    font-size: 16px;
    line-height: 1.8;
}

.join_agree .auth_list {border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc; margin: 45px 0; text-align: center; padding: 80px 0;}

.join_agree .auth_list .auth_tit {font-size: 18px; color: #222; font-family: 'Noto Sans'; padding-bottom: 40px;}
.auth_list li {display: inline-block; padding: 0 20px;}
.auth_list li a {font-size: 0; color: transparent;}
.auth_list li .auth_icon {width: 122px; height: 124px; display: inline-block; background: url(../img/icon.png) no-repeat;}
.auth_list li .auth_icon.auth_1 {background-position:-466px -338px;}
.auth_list li .auth_icon.auth_2 {background-position:-466px -504px;}
.auth_list li a.on .auth_icon.auth_1, .auth_list li a:hover .auth_icon.auth_1 {background-position:-588px -338px !important;}
.auth_list li a.on .auth_icon.auth_2, .auth_list li a:hover .auth_icon.auth_2 {background-position:-588px -504px !important;}


.join_gate .login_form .placeholder {width: 100%;}
.join_gate .chk_in ul.login_link {float: right;}
.join_gate .chk_in ul.login_link li {display: inline-block; margin-left: 5px; padding-left: 5px; border-left:1px solid #c3c3c3;}
.join_gate .chk_in ul.login_link li:first-child {border-left: 0; padding-left: 0;}
.join_info {padding:0 112px 80px;}
.join_info .grid_con {border:1px solid #ccc; padding: 50px 80px; overflow: hidden;}
.join_info .grid_con .grid_left {width:400px; float: left;}
.join_info .grid_con .grid_left .tit { position: relative; padding-bottom: 30px; font-size: 25px; line-height: 1.6; color: #222;}
.join_info .grid_con .grid_left .tit::before {
	content: "";
	width: 20px;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #2d5cbc;
}
.join_info .grid_con .grid_right {
	display: table;
    table-layout: fixed;
}
.join_info .grid_con .grid_right .txt {color: #777; font-size: 15px; line-height: 1.6;}
.join_info .grid_con .grid_right a i {margin-right: 5px;}


.register_wrap {border:1px solid #ccc; padding: 30px 50px; margin: 40px 0;}
.register_tit {font-size: 18px; color: #222; font-family: 'Noto Sans'; padding: 20px 0;}
.register_tit span {font-size: 15px; display: inline-block; float: right;}
.register_wrap .letterchk {font-size: 15px; color: #222; padding-bottom: 10px;}

.register_end {border:1px solid #ccc; padding: 75px 50px; margin: 40px 0; text-align: center;}
.register_end dl {}
.register_end dl dt {font-size: 35px; color: #222; padding-bottom: 10px;}
.register_end dl dt strong {font-family: 'Noto Sans Medium';}
.register_end dl dd {padding: 10px 0;}
.register_end dl dd p {padding: 10px 0; font-size: 15px; line-height: 1.7;}

.search_member {padding:75px 120px;}
.search_member .tit {font-size: 18px; color: #222; font-family: 'Noto Sans'; padding: 50px 0 20px; text-align: center;}
.search_member .line_wrap {border:1px solid #ccc; padding: 75px 50px; margin-bottom: 30px;}
.search_member .search_chg_box {margin-bottom: 30px;}
.search_member .search_chg_box dt {padding-left: 30px;}
.search_member .search_chg_box dt label {margin-left: -25px; font-size: 22px; font-family: 'Noto Sans'; color: #222;}
.search_member .search_chg_box dt .label {font-size: 20px;}
.search_member .search_chg_box .bl_dot {padding-top: 15px;}
.search_member .search_chg_box .bl_dot>li {font-size: 14px; margin-bottom: 5px; color: #222;}
.search_member .search_chg_box .bl_dot>li:before {top: 9px;}
.search_member .search_chg_box dd {padding-left: 40px;}
.search_member .search_chg_box .search_box_inner {padding: 20px 0;}
.search_member .auth_list {text-align: center; padding: 30px 0;}
.search_member .button_group a {
	padding: 20px 0;
    width: 280px;
    margin: 0 5px;
    font-size: 15px;
}
.search_member .result_txt {display: table; width: 600px; margin:0 auto;}
.search_member .result_txt dt {
    display: table-cell;
    width:420px;
    padding:8px 0;
    font-size: 16px;
    color: #222;
    position: relative;
    padding-left: 15px;
}
.search_member .result_txt dt::before{
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 3px;
	background: #222;
	/*position: absolute;
	left: 0;
	top: 18px;*/
	display:inline-block;
	margin-right:2px;
	vertical-align:middle;
}
.search_member .result_txt dd {display: table-cell; padding:8px 0; font-size: 16px;}
.search_member .icon_alert_tit {color: #222; font-size: 16px; padding-bottom: 10px;}
.search_member .icon_alert_tit::before {
	font-family: 'FontAwesome';
    content: "\f06a";
    font-size: 16px;
    color: #222;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -3px;
}
.search_box_pw {width: 400px; margin:0 auto;}
.search_box_pw th {font-size: 16px !important;}
.search_box_pw input[type=text], .search_box_pw input[type=password] {
	border:1px solid #000000 !important;
	height: 50px !important;
	line-height: 50px !important;
	width: 100%;
}

.search_member.myinfo_pw {border-top: 1px solid #676767; border-bottom:1px solid #cccccc;}


.inactive_tit {text-align: center; padding-bottom: 20px;}
.inactive_tit dt {font-size: 35px; color: #222; padding-bottom: 10px;}
.inactive_tit dt strong {font-family: 'Noto Sans Medium';}
.inactive_tit dd {padding: 10px 0;}
.inactive_tit dd p {padding: 10px 0; font-size: 15px; line-height: 1.7;}

/*
	마이페이지
*/
.edit_btn_con {overflow: hidden; padding-bottom: 15px;}
.edit_btn_con * {vertical-align: middle;}
.edit_btn_con ul {white-space: nowrap; float: right;}
.edit_btn_con ul li { display: inline-block;}
.edit_btn_con ul li i::after {vertical-align: top !important;}
.edit_btn_con label {color: #000;}

.no_favorite_data {border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 150px 0;}
.no_favorite_data dl {}
.no_favorite_data dl dt {text-align: center;}
.no_favorite_data dl dd {text-align: center; font-size: 18px; color: #222; padding: 30px 0;}

.reason_con {}
.reason_con dt {font-size: 22px; color: #222; padding-bottom: 10px; font-family: 'Noto Sans';}
.reason_con dd {}
.reason_con dd .reason_list {padding: 15px 0; overflow: hidden;}
.reason_con dd .reason_list li {font-size: 16px; color: #222; float: left; width: 50%; padding: 10px 0;}
.reason_con dd p {font-size: 15px;}
.reason_con .txtarea_con {}
.reason_con .txtarea_con textarea {padding: 20px; line-height: 1.6; font-size: 15px; border:1px solid #d9d9d9;}

/*
	error
*/
.error_icon {text-align: center; padding:130px 0 46px;}
.error_icon i.ico {display: inline-block;}
.error_tit {text-align: center; padding-bottom: 20px;}
.error_tit dt {font-size: 25px; color: #222; padding-bottom: 10px;}
.error_tit dt strong {font-family: 'Noto Sans Medium';}
.error_tit dd {padding: 10px 0;}
.error_tit dd p {padding: 10px 0; font-size: 15px; line-height: 1.7;}
.button_group.error_btns a {
	padding: 20px 0;
    width: 280px;
    margin: 0 5px;
    font-size: 15px;
}